<div ng-controller='SalesController' ng-click="searchboxClicked($event,3);">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row" ng-show ="memberFirmId && companyYearId">
        <div class="col-md-12" ng-init = "add();">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="formSubmission" id="formSubmission" ng-submit ="save();" class="form-horizontal" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Invoice No.</label>
                                        <div class="col-md-9">
                                            <div style="padding-top:10px;font-weight:bold;">
                                                {{uniqueCode}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Invoice Date <span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                <input type="text" class="form-control" id="date" autocomplete="off" name="date" ng-model="bindScopeForm.date"  maxlength="12" required />
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Search Customer<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-class = "{'spinner':customer_spinner}" ng-model="bindScopeForm.customer_name" ng-keyup ="searchCustomerDetail(bindScopeForm.customer_name)" required/>
                                            <ul id="search-result">
                                                <li ng-click = "getCustomerData($index,$event)" ng-repeat = "customer in arrCustomerData">
                                                    <div class="search-head" style="font-weight: bold;">{{customer.name}}</div>
                                                    <div class="search-common"><b>Mobile :</b> {{customer.mobile_no}}</div>
                                                    <div class="search-common"><b>Email ID :</b> {{customer.email_id}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button style="border-radius: 5px;margin-left:10px;" type="button" class="btn blue" data-container="body" data-placement="top" data-original-title="Add Customer Detail" ng-click="customerForm();"><i class="fa fa-plus"></i>Add </button>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Search Product</legend>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" ng-class = "{'spinner':spinner}" ng-keyup ="searchProductStockList(productFilter.product);" ng-click ="searchProductStockList(productFilter.product);" ng-model ="productFilter.product" autocomplete="off" placeholder="Search Product...."/>
                                                <ul id="search-result">
                                                    <li ng-click = "getProductDetail($index,$event)" ng-repeat = "product in arrProductData">
                                                        <div class="search-head" style="font-weight: bold;">{{product.name}}</div>
                                                        <div class="instock" ng-if ="product.stock > 0">Stock - {{product.stock}}</div>
                                                        <div class="outofstock" ng-if ="product.stock <= 0">Out of stock</div>
                                                        <div class="search-common"><b>Price:</b> {{product.price}}</div>
                                                        <div class="search-common"><b>code:</b> {{product.code}}</div>
                                                        <div class="search-common"><b>HSN code:</b> {{product.hsn_code}}</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="number" ng-min="1" ng-max="stockQty" class="form-control" ng-model="productFilter.quantity" onpaste = "return false" autocomplete="off" onkeypress="return CommonComponent.allowOnlyNumeric(event);" placeholder="Enter Quantity ..." maxlength="9" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" ng-model="productFilter.price" onpaste = "return false" autocomplete="off"  placeholder="Enter Price ..." maxlength="12" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" ng-model="productFilter.discount" onpaste = "return false" autocomplete="off"  placeholder="Enter Discount (%)" maxlength="12" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <select2 class="form-control" ng-model="productFilter.tax_group_master_id" ng-change = "productTaxDetail();" s2-options="val.id as val.name for val in arrTaxGroupData" options="{ allowClear: true }" placeholder="Select Tax"></select2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-sm blue-hoki" ng-disabled = "isSelectedProduct == false || !productFilter.quantity || productFilter.quantity <= 0 || !productFilter.price || productFilter.price <= 0" ng-click = "saveProductStockDetail()">Add</button>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="table-responsive" style="max-height: 400px;overflow: auto;margin-top:10px;">
                                <table class="table-view table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr role="row" class="heading">
                                            <th style="width: 30%;" class="table-head">Product</th>
                                            <th style="width: 10%;" class="table-head">Quantity</th>
                                            <th style="width: 10%;" class="table-head">Unit Price</th>
                                            <th style="width: 20%;" class="table-head">Tax</th>
                                            <th style="width: 10%;" class="table-head">Discount(%)</th>
                                            <th style="width: 10%;" class="table-head">Amount</th>
                                            <th style="width:10%;" class="table-head"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat ="rows in productRow">
                                            <td>
                                                <div>{{rows.name}}</div>
                                                <div><b>Stock- </b>{{rows.stock}}</div>
                                            </td>
                                            <td>{{rows.quantity}}</td>
                                            <td>{{rows.price}}</td>
                                            <td>{{rows.taxname}}</td>
                                            <td>{{rows.discount}}</td>
                                            <td>{{rows.subtotal}}</td>
                                            <td>
                                                <button type="button" ng-click="deleteRecord(rows,$index);" class="btn default btn-xs red" data-container="body" data-placement="top" data-original-title="Delete Record"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <table class="table-view table table-striped table-bordered table-advance table-hover">
                                <tr ng-repeat = "taxes in arrTaxDetail">
                                    <th colspan="3" style="width:80%;text-align: right;padding-right: 10px;">{{taxes.name}} : </th>
                                    <th style="width:20%;">{{taxes.price}}</th>
                                </tr>
                                <tr ng-if = "arrTaxDetail.length > 0">
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                                <tr role="row" class="heading">
                                    <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Sub Total : <b>{{summary.subtotal}}</b></th>
                                    <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Total Tax : <b>{{summary.tax}}</b></th>
                                    <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Discount : <b>{{summary.discount}}</b></th>
                                    <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Grand Total : <b>{{summary.total}}</b></th>
                                </tr>
                            </table>
                            <fieldset>
                                <legend>Payment Detail</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Paid<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" ng-keyup = "calculateAmt(1);" autocomplete="off" ng-disabled ="bindScopeForm.payment_status" ng-required="!bindScopeForm.payment_status" ng-model="bindScopeForm.amount" class="form-control" name="amount"/>
                                                <div ng-hide = "!showShortFees || bindScopeForm.payment_status" style="font-weight: bold;">Remaining Amount <b style="color:#f13e64">{{bindScopeForm.shortFees}}</b></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Payment Later</label>
                                            <div class="col-md-2" style="margin-top:5px;">
                                                <input type="checkbox" name="paylater" ng-model="bindScopeForm.payment_status" value="1"/>
                                            </div>
                                            <label class="control-label col-md-4"><b>Lock Invoice Receipt</b></label>
                                            <div class="col-md-2" style="margin-top:5px;">
                                                <input type="checkbox" name="is_lock_invoice" ng-model="bindScopeForm.is_lock_invoice" value="1"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide ="bindScopeForm.payment_status">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Payment Mode <span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <select2 class="form-control" name = "payment_mode" ng-model="bindScopeForm.payment_mode"  s2-options="val.id as val.name for val in arrPaymentModeData" ng-required="!bindScopeForm.payment_status" ng-disabled ="bindScopeForm.payment_status" placeholder="Select Payment Mode"></select2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide ="bindScopeForm.payment_status || bindScopeForm.payment_mode <= 1">
                                    <div class="col-md-6">
                                        <div class="form-group" id="bankDiv">
                                            <label class="control-label col-md-3">Bank</label>
                                            <div class="col-md-7">
                                                <select2 ng-disabled = "bindScopeForm.payment_mode == 1" class="form-control" name="bank_master_id" ng-model="bindScopeForm.bank_master_id" s2-options="val.id as val.name for val in arrBankData" options="{ allowClear: true }" placeholder="Select Bank"></select2>
                                            </div>
                                            <div class="col-md-2" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getBankList(1);" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ng-show ="bindScopeForm.payment_mode == 2" class="control-label col-md-3">Cheque Number</label>
                                            <label ng-show = "bindScopeForm.payment_mode >= 3" class="control-label col-md-3">Transaction Ref</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-disabled ="bindScopeForm.payment_mode == 1" class="form-control" name="payment_reference_no" id="payment_reference_no" ng-model="bindScopeForm.payment_reference_no" maxlength="100" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide ="bindScopeForm.payment_status">
                                    <div class="col-md-6" ng-show = "bindScopeForm.payment_mode > 1">
                                        <div class="form-group">
                                            <label ng-show ="bindScopeForm.payment_mode ==2" class="control-label col-md-3">Cheque Date</label>
                                            <label ng-show = "bindScopeForm.payment_mode >= 3" class="control-label col-md-3">Transaction Date</label>
                                            <div class="col-md-9">
                                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                    <input type="text" ng-disabled ="bindScopeForm.payment_mode == 1" class="form-control" name="payment_mode_date" ng-model="payment_mode_date" maxlength="12" />
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Remark</label>
                                            <div class="col-md-9">
                                                <textarea name="remark" rows="2" class="form-control" ng-model="remarks" placeholder="Please enter remark ...."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    {{message.VALID_MEMBER}}
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!companyYearId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    {{message.VALID_COMPANY}}
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>
