<div class="portlet-body form" ng-controller = "SalesController">
    <form name="customerSubmission" id="customerSubmission" ng-submit="saveCustomer(customerSubmission);" class="form-horizontal form-bordered form-row-stripped" novalidate>
        <div class="modal-header" style="background-color: #3598dc;color:#fff;">
            <h4 class="modal-title">Add Customer</h4>
        </div>
        <div class="modal-body">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">Customer Name<span class="required">* </span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="name" name="name" ng-model="bindCustomerForm.name"  maxlength="80" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Mobile No<span class="required">* </span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="mobile_no" id="mobile_no" ng-model="bindCustomerForm.mobile_no" ng-pattern-err-type="validMobileMessage" ng-pattern="/^(\d)+$/" maxlength="12" onpaste = "return false" placeholder="Please mobile no" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Email ID</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" name="email_id" id="email_id" ng-model="bindCustomerForm.email_id" maxlength="120" placeholder="Please email ID" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Address</label>
                    <div class="col-md-9">
                        <textarea name="address" rows="2" class="form-control" ng-model="bindCustomerForm.address" placeholder="Please enter address ...."></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="update_btn" class="btn green">Save</button>
            <a href="javascript:;" class="btn red" ng-click="canelModal();" data-dismiss="modal">Close</a>
        </div>
    </form>
</div>