<div ng-controller='ProductSalesController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Edit {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12" ng-init = "edit(id);">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Edit {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <notification-alert></notification-alert>
                    <form name="formSubmission" id="formSubmission" ng-submit="save();" class="horizontal-form" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : formSubmission.voucher_no.$invalid && !formSubmission.voucher_no.$pristine }">
                                        <label class="control-label">Receipt No.<span class="required">* </span></label>
                                        <div><b>{{bindScopeForm.unique_no}}</b></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : formSubmission.invoice_date.$invalid && !formSubmission.invoice_date.$pristine }">
                                        <label class="control-label">Date<span class="required">* </span></label>
                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="text" class="form-control" id="invoice_date" readonly="" name="invoice_date" ng-model="bindScopeForm.invoice_date"  maxlength="12" required />
                                            <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : formSubmission.customer_master_id.$invalid && !formSubmission.customer_master_id.$pristine }">
                                        <div class="row">
                                            <label class="control-label col-md-12">Customer<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <select2 class="form-control" name="customer_master_id" ng-model="bindScopeForm.customer_master_id" s2-options="val.id as val.name for val in arrCustomerData" options="{ allowClear: true }" ng-required="true" placeholder="Select Customer"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getCustomerList(1);" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group" style="line-height:6em;">
                                        <div class="btn btn-sm default green" ng-click="customerForm();"><span class="fa fa-plus"></span> Add Customer</div>
                                    </div>
                                 </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <textarea name="description" rows="3" class="form-control" ng-model="bindScopeForm.description" placeholder="Please enter description ...."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="table-scrollable">
                                        <table class="table-view table table-striped table-bordered table-advance">
                                            <thead>
                                                <tr>
                                                    <th class="table-head">Product<span class="required" style="color:#e02222">* </span></th>
                                                    <th class="table-head">Description</th>
                                                    <th class="table-head">Quantity<span class="required" style="color:#e02222">* </span></th>
                                                    <th class="table-head">Unit Price<span class="required" style="color:#e02222">* </span></th>
                                                    <th class="table-head">Tax</th>
                                                    <th class="table-head">Discount (%)</th>
                                                    <th class="table-head">Amount</th>
                                                    <th class="table-head">
                                                        <button type="button" class="btn btn-xs blue tooltips" data-container="body" data-placement="top" data-original-title="Add Row" ng-click="addRecord()"><i class="fa fa-plus"></i></button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat = "row in addRow">
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : row.isDuplicate }">
                                                            <select2 class="form-control" ng-model="row.product_master_id" ng-change = "getItemDetail(row);" s2-options="val.id as val.name for val in arrProductData" options="{ allowClear: true }" ng-required="true" placeholder="Select Product"></select2>
                                                            <p ng-show="row.isDuplicate" class="help-block">Please select differenct product.</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <textarea rows="1" class="form-control" ng-model="row.description" placeholder="Please enter description ...."></textarea>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" style="width:100px;" ng-model="row.quantity" min="1" onpaste = "return false" onkeypress="return CommonComponent.allowOnlyNumeric(event)" ng-change = "productCalculation(row);" maxlength="5"  required />
                                                            <div style="margin-top:3px;font-weight: bold;" ng-style = "{color:row.qtyColor}">Available Qty: {{row.stockQty}}</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" style="width:100px;" ng-model="row.price" min = "0" ng-change = "productCalculation(row);" onpaste = "return false" onkeypress="return CommonComponent.priceValidate(this,event);" maxlength="12" required />
                                                        </div>
                                                    </td>
                                                    <td style="vertical-align: top;">
                                                        <b>{{row.tax_name}}</b>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" style="width:100px;" ng-model="row.discount" ng-change = "productCalculation(row);" onpaste = "return false" onkeypress="return CommonComponent.priceValidate(this,event);" maxlength="12" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="font-weight: bold;text-align: right;">
                                                            {{row.total}}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button" ng-click="deleteRecord(row,$index);" class="btn default btn-xs red" data-container="body" data-placement="top" data-original-title="Delete Record"><i class="fa fa-trash-o"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table">
                                            <tr ng-repeat = "taxes in arrTaxDetail">
                                                <th style="width:80%;text-align: right;padding-right: 10px;">{{taxes.name}} : </th>
                                                <th style="width:20%;">{{taxes.price}}</th>
                                            </tr>
                                            <tr ng-if = "arrTaxDetail.length > 0">
                                                <td colspan="2">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <th style="width:80%;text-align: right;padding-right: 10px;">Sub Total : </th>
                                                <td style="width:20%;">{{productDetail.subTotalAmount}}</td>
                                            </tr>
                                            <tr>
                                                <th style="width:80%;text-align: right;padding-right: 10px;">Total Tax : </th>
                                                <td style="width:20%;">{{productDetail.totalTax}}</td>
                                            </tr>
                                            <tr>
                                                <th style="width:80%;text-align: right;padding-right: 10px;">Discount : </th>
                                                <td style="width:20%;">{{productDetail.totalDiscount}}</td>
                                            </tr>
                                            <tr>
                                                <th style="width:80%;text-align: right;padding-right: 10px;">Grand Total : </th>
                                                <td style="width:20%;font-weight: bold;">{{productDetail.totalAmout}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" ng-disabled = "isDuplicateProduct == 1" class="btn green" id="record_save_btn">Submit</button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#voucher_no').focus();
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>