.menu-header {
    border: 1px solid black;
    padding: 7px 0px;
    text-align: center;
    background-color: gray;
    color: #fff;
}

.dropdown-header {
    font-weight: bold;
    font-size: 14px !important;
    color: #000 !important;
}

.custom-label {
    padding-top: 11px !important;
}

.custom-form-input {
    padding: 3px !important;
}

.report-header {
    white-space: nowrap;
}

.report-content {
    white-space: nowrap;
}

.table-view>tbody>tr>td,
.table-view>tbody>tr>th,
.table-view>tfoot>tr>td,
.table-view>tfoot>tr>th,
.table-view>thead>tr>td,
.table-view>thead>tr>th {
    padding: 6px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-content {
    font-size: 14px;
    vertical-align: middle !important;
    border: 1px solid #eeeeee !important;
}

.table-head {
    font-weight: bold !important;
    background-color: #E5E5E5 !important;
    border: 1px solid #E5E5E5 !important;
}

.table-view {
    display: table !important;
    border-collapse: separate !important;
    border-spacing: 2px !important;
    border-color: #E5E5E5 !important;
}

.form-bordered .has-feedback .form-control-feedback {
    right: 15px;
    padding: 15px;
}

.has-error .form-control-feedback {
    color: #a94442 !important;
    line-height: 31px !important;
}
.has-error .help-block, .has-error .help-inline, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #a94442 !important;
}
.has-error .form-control {
    border-color: #a94442 !important;
}
.has-success .form-control-feedback {
    color: #3c763d !important;
    line-height: 31px !important;
}

.receipt-header {
    font-size:18px;
    font-weight: bold;
    font-family: calibri;
}

.receipt-content {
    font-size:16px;
    font-family: calibri;
}

.product-header {
    font-size:18px;
    font-weight: bold;
    font-family: calibri;
    background-color:#000;
    color:#fff;
    text-align: center;
    border-right: 2px solid gray;
}

.product-content {
    font-size:17px;
    font-weight: bold;
    font-family: calibri;
    padding:7px;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

table.table-report{
    width:100%;
    border-collapse:separate !important;
    border: 1px solid #eeeeee !important;
    border-spacing: 2px;
}

td.report-class{
    vertical-align: middle !important;
    border: 1px solid #eeeeee !important;
    font-weight: bold;
}

th.report-class{
    vertical-align: middle !important;
    background-color:#DDD !important;
    color: #666 !important; 
    font-weight: bold !important;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border: 2px solid #333333;
    border-radius: 3px;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 7px;
    height: 11px;
    border: solid #333333;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.sorting {
    background: url(.././assets/global/plugins/datatables/media/images/sort_both.png) no-repeat center right;
}
.panel-primary > .panel-heading {
    background-color: #3598dc !important;
}
#search-result {
    list-style: none;
    padding:0px;
    width:92%;
    position: absolute;
    max-height: 230px;
    overflow: auto;
    margin:0;
    z-index:99999;
}

#search-result li {
    background-color:#fff;
    padding:8px;
    font-size: 16px;
    border-bottom: 2px solid gray;
}

div .search-head {
    font-weight: bold;
}

div .search-common {
    font-weight: normal !important;
    font-size:12px;
}
#search-result li:hover {
    cursor: pointer;
    color:#fff !important;
    background-color: #3598dc;
}

.instock {
    font-weight: bold;
    font-size: 14px;
    color:#26a69a;
}

.outofstock {
    font-weight: bold;
    font-size: 14px;
    color:#F3565D;
}

.page-header.navbar .page-logo .logo-default {
    margin: 6px 0 0 0 !important;
}
.modal-header {
    background-color: #3598dc;
    color:#fff;
}
label {
    white-space:nowrap;
}
legend {
    padding: 0px 10px !important;
    border:0 !important;
    width:15%;
    white-space: nowrap;
}
fieldset {
    padding: 0px 10px 0px !important;
    margin: 0 2px !important;
    border: 2px solid silver !important;
    border-radius:10px;
}
.employee {
    font-weight: bold;
    margin-top:5px;
}
.grade {
    background-color:green;
    padding:3px;
    color:#fff;
    font-weight: bold;
    text-align: center;
    width:50px;
}
.certificate {
    background-color:#26A69A;
    padding:2px;
    color:#fff;
    font-weight: bold;
    text-align: center;
    width:88px;
    font-size: 10px;
    border-radius: 3px;
}
.sold-out {
    margin-top:2px;
    padding:2px;
    background-color: #ff5722;
    color:#fff;
    font-weight: bold;
    text-align: center;
    width:88px;
    font-size: 10px;
    border-radius: 3px;
}

.agent {
    margin-top:2px;
    padding:2px;
    background-color:green;
    color:#fff;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
    border-radius: 3px;
}

@media print {
    .page-title,page-bar {
        display: none;
    }
}