.table-view {
    width:100%;
    display: table !important;
    border-collapse: separate !important;
    border-spacing: 2px !important;
    border-color: #E5E5E5 !important;
}
.table-content {
    font-size: 14px;
    vertical-align: middle !important;
    border: 1px solid #eeeeee !important;
    padding:4px !important;
}

.table-head {
    font-weight: bold !important;
    background-color: #E5E5E5 !important;
    border: 1px solid #E5E5E5 !important;
    padding:4px !important;
}

@media print {
    .noprint {
        display:none;
    }
}
