<div ng-controller='ServiceController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-show ="memberFirmId">
        <div class="col-md-12" ng-init="add();">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <notification-alert></notification-alert>
                    <form name="formSubmission" id="formSubmission" ng-submit="save();" class="form-horizontal form-bordered form-row-stripped" novalidate>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Name<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" name="name" id="name" placeholder="Please enter name...." ng-model="bindScopeForm.name" ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" ng-maxlength="100" placeholder="Please enter name" auto-focus="true" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Code</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" name="code" ng-model="bindScopeForm.code" placeholder="Please enter code...." ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" ng-maxlength="60" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Price<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" onpaste = "return false" name="price" ng-model="bindScopeForm.price" placeholder="Please enter price..." onkeypress="return CommonComponent.priceValidate(this,event);" maxlength="16" required />
                                </div>
                            </div>
                            <div class="form-group" id="serviceGroupDiv">
                                <label class="control-label col-md-3">Service Group<span class="required">* </span></label>
                                <div class="col-md-6">
                                    <select2 class="form-control" name="service_group_master_id" ng-model="bindScopeForm.service_group_master_id" s2-options="val.id as val.name for val in arrServiceGroupData" options="{ allowClear: true }" ng-required="true" placeholder="Select Service Group"></select2>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12" style="border:0px !important;">
                                    <span class="input-group-btn">
                                        <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getServiceGroupList(1);" class="btn btn-default tooltips">
                                        <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                                    </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Description</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <textarea name="description" rows="4" class="form-control" placeholder="Please enter description...." ng-model="bindScopeForm.description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Order No.</label>
                                <div class="col-md-9">
                                    <input type="text" autocomplete="off" class="form-control" maxlength="5" name="order_no" ng-pattern-err-type="patternNumberMessage" placeholder="Please enter order no" ng-pattern="/^(\d)+$/" ng-model="bindScopeForm.order_no" />
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-click ="btnGroup.status = 1;" ng-bind-html="btnGroup.btn1"></button>
                                <button type="submit" class="btn {{btnGroup.btn2_color}}" ng-disabled ="btnGroup.is_disabled" id="save_new_btn" ng-click ="btnGroup.status = 2;" ng-bind-html="btnGroup.btn2"></button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
