<!DOCTYPE html>
<html lang="en" ng-app="radizoApp">
<meta charset="UTF-8">
<head>
    <title ng-bind="$state.current.data.pageTitle"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../../../css/report.css" rel="stylesheet" type="text/css">
    <link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller = "ReportsController" ng-init = "init();">
        <!-- BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    
        <div class="clearfix">
        </div>
        <!-- END PAGE SPINNER -->
    <div class="col-md-12 noprint" style="text-align: right;margin-top:10px;;margin-bottom: 15px;">
        <button class="btn btn-sm blue" onclick ="javascript:window.print();"><i class="fa fa-print"></i> Print</button>
        <button class="btn btn-sm grey-cascade" ng-click ="exportType(1);"><i class="fa fa-file-excel-o"></i> Export To Excel</button>
    </div>
    <div ng-include = "fileName"></div>
    <script src="../../../js/angular.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="../../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="../../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../controllers/ReportsController.js"></script>
    <script src="../../../js/alasql.min.js" type="text/javascript"></script>
    <script src="../../../js/xlsx.core.min.js" type="text/javascript"></script>
    <script src="../../../js/jspdf.min.js" type="text/javascript"></script>
    <script src="../../../config/directives.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            Metronic.init(); // init metronic core components
            Metronic.setAssetsPath('./assets/'); // Set the assets folder path
        });
    </script>
</body>
</html>
