<div ng-controller="ErrorLogsController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        {{caption}} <small>list</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{{caption}} List</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row" id="datatable_ajax" ng-init = "init();">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <form-tool></form-tool>
                    </div>
                    <div class="actions">
                        <tools></tools>
                    </div>
                </div>
                <div class="row animate-show-hide" collapse = "searchCollapsed">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Search</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-model = "searchFilter.controller"  placeholder="Enter Controller" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-model = "searchFilter.method"  placeholder="Enter Method" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm btn-success table-group-action-submit" ng-click = "search()"><i class="fa fa-search"></i> Submit</button>
                                            <button type="button" class="btn btn-sm default table-group-action-submit" ng-click="reset()"><i class="fa fa-search"></i> Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-8 col-sm-12">
                        Show&nbsp;
                        <select ng-model = "pagination.itemPerPage" class="form-control input-xsmall input-sm input-inline">
                            <option ng-repeat = "page in pagination.entries" value="{{page.id}}">{{page.name}}</option>
                        </select>
                        &nbsp;entries
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="dataTableGrid" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr role="row" class="heading">
                                <th ng-repeat = "header in tableHeader" ng-style ="{'width':header.width,'text-align':header.align}" style="white-space: nowrap;">
                                    <span ng-if ="header.type == 1">
                                        <input type="checkbox" class="group-checkable" ng-model = "header.groupCheckbox">
                                    </span>
                                    <div ng-if ="header.type == 2 && header.sort == true" style="cursor: pointer;" ng-click="sort(header.sort_value)" ng-class="{'sorting': pagination.sortKey != header.sort_value}">
                                        {{header.caption}}
                                        <i style="float: right;" ng-show="pagination.sortKey == header.sort_value" ng-class="{'fa fa-sort-asc':pagination.reverse,'fa fa-sort-desc':!pagination.reverse}"></i>
                                    </div>
                                    <span ng-if ="header.type == 2 && header.sort == false">
                                        {{header.caption}}
                                    </span>
                                    <div ng-if ="header.type > 2">
                                        {{header.caption}}
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="pagination.records.length <= 0" class="odd"><td valign="top" colspan="{{tableHeader.length}}" class="dataTables_empty">No data available in table</td></tr>
                            <tr ng-init = "$index = start;" dir-paginate="rows in pagination.records | itemsPerPage: pagination.itemPerPage" total-items="pagination.totalRecords" current-page="pagination.current">
                                <td ng-repeat = "header in tableHeader" ng-switch="header.type" ng-style ="{'text-align':header.align}">
                                    <div ng-switch-when = "1">
                                        <input ng-if = "rows.is_exists == 0" type="checkbox" class="selectAllCheckData" name="id[]" value="{{rows.id}}" ng-checked = "header.groupCheckbox"/>
                                    </div>
                                    <span ng-switch-when = "2" ng-if = "!header.istextbox" ng-bind-html="rows[header.column]"></span>
                                    <span ng-switch-when = "2" ng-if = "header.istextbox">
                                        <textarea rows="3" cols="38" ng-bind-html ="rows[header.column]"></textarea>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show ="pagination.records.length > 0" class="row">
                    <div style="margin:26px 0px;" class="col-md-6 col-sm-6 col-xs-12">
                        Showing {{start}} to {{end}} of {{pagination.totalRecords}} entries 
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <dir-pagination-controls class="pagination" style="float: right;" direction-links="true" boundary-links = "true" on-page-change="initTable(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div>

                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
