<!DOCTYPE html>
<html lang="en" ng-app="radizoApp" ng-cloak>
<meta charset="UTF-8">

<head>
    <title ng-bind="$state.current.data.pageTitle"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>-->
    <link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!--<link href="assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />-->
    <link href="assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/global/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css">
    <link href="assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css">
    <!--<link href="css/select.css" rel="stylesheet" type="text/css">-->
    <link href="assets/global/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css">
    <link href="css/custom.css" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" />
    <!-- END DYMANICLY LOADED CSS FILES -->

    <link href="assets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="assets/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
    <link href="assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
</head>

<body id="body_id" ng-controller="AppController" class="{{bodylayout}}" ng-class="{'page-container-bg-solid': settings.layout.pageBodySolid, 'page-sidebar-closed': settings.layout.pageSidebarClosed}">
    <!-- BEGIN PAGE SPINNER -->
    <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <div class="clearfix">
    </div>
    <!-- END PAGE SPINNER -->
    <!-- BEGIN ACTUAL CONTENT -->
    <div ui-view class="fade-in-up"></div>
    <!-- END ACTUAL CONTENT -->
    <script src="assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <!--<script src="assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>-->
    <script src="assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/select2/select2.min.js" type="text/javascript"></script>
    <!-- END APP LEVEL JQUERY SCRIPTS -->

    <!-- ANGULAR GLOBALS JS FILE   -->
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="js/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="js/angular-touch.min.js" type="text/javascript"></script>
    <script src="js/ocLazyLoad.min.js" type="text/javascript"></script>
    <script src="js/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="config/AppConfig.js" type="text/javascript"></script>
    <script src="config/directives.js" type="text/javascript"></script>
    <script src="config/constant.js" type="text/javascript"></script>
    <script src="config/AppUtilities.js" type="text/javascript"></script>
    <script src="config/CommonComponent.js" type="text/javascript"></script>
    <script src="js/alasql.min.js" type="text/javascript"></script>
    <script src="js/jcs-auto-validate.min.js" type="text/javascript"></script>
    <script src="js/select2.js" type="text/javascript"></script>
    <script src="js/jspdf.min.js" type="text/javascript"></script>
    <script src="js/angular-ckeditor.js" type="text/javascript"></script>
    <script src="js/dirPagination.js" type="text/javascript"></script>

    <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
    <script src="assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <!-- END APP LEVEL JQUERY SCRIPTS -->

    <script type="text/javascript">
        /* Init Metronic's core jquery plugins and layout scripts */
        $(document).ready(function() {
            // initiate layout and plugins
            Metronic.init(); // init metronic core components
            Metronic.setAssetsPath('./assets/'); // Set the assets folder path
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>

</html>