<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Change Password</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Change Password </a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller='UsersController'>
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box {{portletForm}}">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i> Change Password Form
                </div>
            </div>
            <div class="portlet-body form">
                <div class="alert alert-danger" ng-show="errorFlag">
                    <button class="close" data-close="alert"></button>
                    <span ng-bind="displayMessage"></span>
                </div>

                <div class="alert alert-success" ng-show="successFlag">
                    <button class="close" data-close="alert"></button>
                    <span ng-bind="displayMessage"></span>
                </div>

                <form name="userForms" id="userForms" ng-submit="changePassword();" class="form-horizontal form-bordered form-row-stripped" novalidate>
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">New Password<span class="required">* </span></label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="password" ng-model="userBindForm.password" required/>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : userForms.confirm_password.$invalid && !userForms.confirm_password.$pristine }">
                            <label class="control-label col-md-3">Confirm Password<span class="required">* </span></label>
                            <div class="col-md-9">
                                    <input type="password" class="form-control" name="confirm_password" ng-model="userBindForm.confirm_password" ng-compareTo-err-type ="confirmPwdMessage" compare-to="userBindForm.password" required/>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="col-lg-offset-3 col-lg-9 col-left-add">
                            <button type="submit" id="updatePwd" class="btn green">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
