<div class="logo">
    <a ui-sref="login">
        <b style="color:white;">RadizoApp</b>
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGIN -->
<div class="content" ng-controller="UsersController">
    <!-- BEGIN LOGIN FORM -->
    <notification-alert></notification-alert>
    <form name="loginForm" id="loginForm" ng-submit="login();" class="login-form" novalidate="novalidate">
        <h3 class="form-title">Login to your account</h3>
        <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control ng-pristine ng-invalid ng-invalid-required" id="username" autocomplete="off" type="text" focus-me="focusInput" ng-model="userLoginData.username" placeholder="Username" name="username" required="required" />
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control ng-pristine ng-invalid ng-invalid-required" autocomplete="off" type="password" ng-model="userLoginData.password" placeholder="Password" name="password" required="required"/>
                <span ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">password is required.</span>
            </div>
        </div>
        <div class="form-actions">
            <button id="SubmitBtn" type="submit" ng-disabled ="submitBtn.is_disabled" class="btn blue pull-right" ng-bind-html="submitBtn.name"></button>
        </div>
    </form>
    <!-- END LOGIN FORM -->
</div>
<script>
    $(document).ready(function(){
        $('#username').focus();
    });
</script>
