<style>
    .form-group{
        margin-bottom:0px !important;
    }
    .panel-body {
        padding: 0px !important; 
    }
    .table-scrollable{
        margin: 0px !important;
    }
</style>
<div ng-controller = "BranchReportsController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Royalty Charge Report
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Member Management</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Reports</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Royalty Charge Report</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row" ng-show ="memberFirmId && companyYearId">
        <div class="col-md-12" ng-init = "generateReportType(2);">
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt" style="font-size:22px;"></i> Royalty Charge Report
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="reportFormSubmission" id="reportFormSubmission" ng-submit="generateReport(2);" class="horizontal-form" novalidate>
                        <div class="form-body">
                            <accordion close-others="oneAtATime">
                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        Filter & Sorting <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <div class="table-scrollable">
                                        <table class="table-report table-view table table-striped table-bordered table-advance">
                                            <tr>
                                                <td style="width: 33%;" colspan="3" class="report-class">
                                                    <div class="form-group">
                                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                            <input type="text" autocomplete="off" class="form-control" id="from_date" placeholder="From Date" name="from_date" ng-model="bindScopeForm.from_date"  maxlength="12" required />
                                                            <span class="input-group-btn">
                                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width: 33%;" colspan="3" class="report-class">
                                                    <div class="form-group">
                                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                            <input type="text" class="form-control" autocomplete="off" id="end_date" placeholder="End Date" name="end_date" ng-model="bindScopeForm.end_date"  maxlength="12" required />
                                                            <span class="input-group-btn">
                                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width: 33%;" class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="branch_master_id" ng-model="bindScopeForm.branch_master_id" s2-options="val.id as val.name for val in arrBranchData" placeholder="All Branch"></select2>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="company_year_master_id" ng-model="bindScopeForm.company_year_master_id" s2-options="val.id as val.name for val in arrCompnayYearData" placeholder="Select Company Year" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td colspan="6" class="report-class">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" ng-click ="btnGroup.status = 1;" ng-bind-html="btnGroup.btn1" id="record_save_btn"></button>
                                <button type="reset" class="btn default" id="reset_btn">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!companyYearId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID COMPANY YEAR ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>
