<div class="row">
    <div class="col-md-12">
        <div>
            <table id="exportTableData" class="table-view table table-striped table-bordered table-advance table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center;" class="table-head" colspan="4">{{caption}}</th>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;" class="table-head">S.No.</th>
                        <th style="white-space: nowrap;text-align: center;" class="table-head">Date</th>
                        <th style="white-space: nowrap;text-align: center;" class="table-head">Type</th>
                        <th style="white-space: nowrap;" class="table-head">Amount</th>
                    </tr>
                </thead>
                <tbody ng-repeat = "rows in arrReportData">
                    <tr>
                        <th class="table-head" colspan="4">{{rows.name}}</th>
                    </tr>
                    <tr ng-repeat ="royalty in rows.detail">
                        <td style="white-space: nowrap;" class="table-content">{{$index + 1}}</td>
                        <td style="white-space: nowrap;" class="table-content">{{royalty.date}}</td>
                        <td style="white-space: nowrap;" class="table-content">{{royalty.type}}</td>
                        <td style="white-space: nowrap;" class="table-content">{{royalty.amount}}</td>
                    </tr>
                    <tr>
                        <th class="table-head" colspan ="3" style="text-align: right;padding-right: 30px;">Total</th>
                        <th class="table-head">{{rows.total}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
