<div ng-controller='TaxGroupController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="edit(id);">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <notification-alert></notification-alert>
                    <form name="formSubmission" id="formSubmission" ng-submit="save(id);" class="form-horizontal form-bordered form-row-stripped" novalidate>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Name<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" name="name" ng-model="bindScopeForm.name" ng-maxlength="100" auto-focus="true" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Code</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" name="code" ng-model="bindScopeForm.code" ng-maxlength="60" />
                                </div>
                            </div>
                            <div class="form-group" id="taxDiv">
                                <label class="control-label col-md-3">Tax<span class="required">* </span></label>
                                <div class="col-md-6">
                                    <select2 multiple="" class="form-control" name="tax_master_id[]" ng-model="bindScopeForm.tax_master_id" s2-options="val.id as val.name for val in arrTaxData" options="{ allowClear: true }" ng-required="true" placeholder="Select Tax"></select2>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12" style="border:0px !important;">
                                    <span class="input-group-btn">
                                        <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getTaxList(1);" class="btn btn-default tooltips">
                                        <span style="font-weight: bold;color:#000;line-height: 10px !important;" class="glyphicon glyphicon-refresh"></span>
                                    </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Description</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <textarea name="description" rows="4" class="form-control" ng-model="bindScopeForm.description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Order No.</label>
                                <div class="col-md-9">
                                    <input type="text" autocomplete="off" ng-pattern-err-type="patternNumberMessage" class="form-control" maxlength="5" placeholder="Please enter order no" ng-pattern="/^(\d)+$/" name="order_no" ng-model="bindScopeForm.order_no" />
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-bind-html="btnGroup.btn1"></button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
