<div class="row">
    <div class="col-md-12">
        <div>
            <table class="table-view table table-striped table-bordered table-advance table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center;" class="table-head" colspan="{{length}}">{{caption}}</th>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;" ng-repeat = "header in arrHeaderData" class="table-head">{{header.caption}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat = "rows in arrReportData">
                        <td style="white-space: nowrap;" class="table-content" ng-repeat = "header in arrHeaderData" ng-bind ="rows[header.field]"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
