<style>
    .form-group{
        margin-bottom:0px !important;
    }
    .panel-body {
        padding: 0px !important; 
    }
    .table-scrollable {
        margin: 0px !important;
    }
</style>
<div ng-controller = "VehicleCouponReportsController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Dynamic Coupon Sale Report
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Dynamic Coupon Sale Report</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row" ng-show ="memberFirmId && companyYearId">
        <div class="col-md-12" ng-init = "generateReportType(1);">
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt" style="font-size:22px;"></i> Dynamic Coupon Sale Report
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="reportFormSubmission" id="reportFormSubmission" ng-submit="generateReport(1);" class="horizontal-form" novalidate>
                        <div class="form-body">
                            <accordion close-others="oneAtATime">
                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        Coupon Information <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <div class="table-scrollable">
                                        <table class="table-report table-view table table-striped table-bordered table-advance">
                                            <tr>
                                                <td class="report-class" colspan="2" style="text-align: center;font-size:16px !important;">Caption</td>
                                                <td class="report-class" colspan="7">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="report_caption" ng-model = "bindScopeForm.caption">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[0][field]" value="1" ng-checked ="true"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Invoice Date</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[0][order]" value="1" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[1][field]" value="1" ng-checked ="true"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Invoice No.</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[1][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="2" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[2][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Amount</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[2][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="3" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[3][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Vehicle Type</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[3][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="4" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[4][field]" value="1" ng-checked ="true"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Manufacturer</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[4][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="5" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <input type="checkbox" name="coupon[5][field]" value="1" ng-checked ="true"/>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Vehicle Model</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[5][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="6" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[6][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Vehicle Code</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[6][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="7" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[7][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Vehicle No.</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[7][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="8" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[8][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Engine No.</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[8][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="9" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[9][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Chasis No.</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[9][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="10" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[10][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Coupon</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[10][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="11" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[11][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Payment Mode</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[11][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="12" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </accordion-group>
                                <accordion-group is-open="status.customer">
                                    <accordion-heading>
                                        Customer Information <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.customer, 'fa-angle-right': !status.customer}"></i>
                                    </accordion-heading>
                                    <div class="table-scrollable">
                                        <table class="table-report table-view table table-striped table-bordered table-advance">
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[12][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Name</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[12][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="13" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[13][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Mobile No.</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[13][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="14" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[14][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Email ID</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[14][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="15" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="coupon[15][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Address</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="coupon[15][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="16" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="6">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </accordion-group>
                                <accordion-group is-open="status.filter">
                                    <accordion-heading>
                                        Filter & Sorting <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.filter, 'fa-angle-right': !status.filter}"></i>
                                    </accordion-heading>
                                    <div class="table-scrollable">
                                        <table class="table-report table-view table table-striped table-bordered table-advance">
                                            <tr>
                                                <td style="padding-left:15px !important;color:#2b3643 !important;font-size:17px;" class="report-class" colspan="9">Filter Group</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="report-class">
                                                    <div class="form-group">
                                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                            <input type="text" autocomplete="off" class="form-control" id="from_date" placeholder="From Date" name="from_date" ng-model="bindScopeForm.from_date"  maxlength="12" required />
                                                            <span class="input-group-btn">
                                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td colspan="3" class="report-class">
                                                    <div class="form-group">
                                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                            <input type="text" class="form-control" autocomplete="off" id="end_date" placeholder="End Date" name="end_date" ng-model="bindScopeForm.end_date"  maxlength="12" required />
                                                            <span class="input-group-btn">
                                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="branch_master_id" ng-model="bindScopeForm.branch_master_id" s2-options="val.id as val.name for val in arrBranchData" placeholder="Select Branch" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="company_year_master_id" ng-model="bindScopeForm.company_year_master_id" s2-options="val.id as val.name for val in arrCompnayYearData" placeholder="Select Company Year" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="payment_status" ng-model="bindScopeForm.payment_status" s2-options="val.id as val.name for val in arrPaymentStatusData" options="{ allowClear: true }" placeholder="All Payment Status"></select2>
                                                    </div>
                                                </td>
                                                <td colspan="3" class="report-class">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:15px !important;color:#2b3643 !important;font-size:17px;" class="report-class" colspan="9">Sorting Group</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="sort_by" ng-model="bindScopeForm.sort_by" s2-options="val.id as val.name for val in arrSortByData" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="sort_type" ng-model="bindScopeForm.sort_type" s2-options="val.id as val.name for val in arrSortTypeData" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td colspan="3" class="report-class">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
                                <button type="reset" class="btn default" id="reset_btn">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!companyYearId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID COMPANY YEAR ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>
