<div ng-controller='VariantController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Edit {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="edit(id);">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus"></i> Edit {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <notification-alert></notification-alert>
                    <form name="formSubmission" id="formSubmission" ng-submit="save();" class="form-horizontal form-bordered form-row-stripped" novalidate>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Name<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" id="name" name="name" ng-model="bindScopeForm.name" placeholder="Please enter name...." ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" ng-maxlength="60" auto-focus="true" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Code</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" name="code" ng-model="bindScopeForm.code" placeholder="Please enter code...." ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" ng-maxlength="30" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Color Code<span class="required">* </span></label>
                                <div class="col-md-5">
                                    <input type="hidden" autocomplete="off" id="hidden-input" class="form-control demo" name="color_code" placeholder="Please enter colour code..." value="#db913d" ng-model="bindScopeForm.color_code" maxlength="30" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Order No.</label>
                                <div class="col-md-9">
                                    <input type="text" id="txtNumeric" class="form-control" maxlength="5" autocomplete="off" ng-pattern-err-type="patternNumberMessage" placeholder="Please enter order no" ng-pattern="/^(\d)+$/" name="order_no" onkeypress="return CommonComponent.allowOnlyNumeric(event)" ng-model="bindScopeForm.order_no" />
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-bind-html="btnGroup.btn1"></button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
