<div ng-controller = "VehicleRentController">
    <form name="changeStatusForm" id="changeStatusForm" ng-submit="save_status();" class="form-horizontal form-bordered form-row-stripped" novalidate>
        <div class="modal-header" style="background-color: #67809F;color:#fff;">
            <h4 class="modal-title">Vehicle Job Status Form</h4>
        </div>
        <div class="modal-body">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">Return Date<span class="required">* </span></label>
                    <div class="col-md-9">
                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                            <input type="text" class="form-control" id="return_date" readonly="" name="return_date" ng-model="bindScopeForm.return_date"  maxlength="12" required />
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Return Time<span class="required">* </span></label>
                    <div class="col-md-3">
                        <div class="input-icon">
                            <i class="fa fa-clock-o"></i>
                            <input type="text" name="return_time" ng-model = "bindScopeForm.return_time" required class="form-control timepicker timepicker-default">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn default" ng-click="modalInstance.close();" data-dismiss="modal">Close</a>
            <button type="submit" id="update_btn" ng-disabled="jobStatusForm.$invalid" class="btn blue">Update</button>
        </div>
    </form>
    <link rel="stylesheet" type="text/css" href="./assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"/>
    <script type="text/javascript" src="./assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
        $('body').on('focus',".timepicker-default", function(){
            $(this).timepicker({
                autoclose: true,
                showSeconds: true,
                minuteStep: 1
            });
        });
    });
</script>