<div ng-controller='VehicleFinanceController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Edit {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init = "edit(id);">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Edit {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="formSubmission" id="formSubmission" ng-submit="save();" class="form-horizontal" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Loan Date<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                <input type="text" class="form-control" id="date_of_loan" autocomplete="off" name="date_of_loan" ng-model="bindScopeForm.date_of_loan"  maxlength="12" required />
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Loan Amount<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="loan_amount" autocomplete="off" ng-model="bindScopeForm.loan_amount" placeholder="Please enter loan amount ..." onpaste = "return false" maxlength="10" onkeypress="return CommonComponent.priceValidate(this,event);" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Loan Tenure (Month)<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="loan_tenure" autocomplete="off" ng-model="bindScopeForm.loan_tenure" placeholder="Please enter loan tenure ..." onpaste = "return false" maxlength="4" onkeypress="return CommonComponent.allowOnlyNumeric(event);" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">EMI Amount<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="emi_amount" autocomplete="off" ng-model="bindScopeForm.emi_amount" placeholder="Please enter emi amount ..." onpaste = "return false" maxlength="10" onkeypress="return CommonComponent.priceValidate(this,event);" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Down Payment<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="down_payment" autocomplete="off" ng-model="bindScopeForm.down_payment" placeholder="Please enter down payment ..." onpaste = "return false" maxlength="10" onkeypress="return CommonComponent.priceValidate(this,event);" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Vehicle</label>
                                        <div class="col-md-9" style="font-weight: bold;font-size:14px;margin-top:8px;">
                                            {{bindScopeForm.vehicle_code}}  <span style="margin-left:60px;">Vehicle No : {{bindScopeForm.vehicle_number}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Customer</label>
                                        <div class="col-md-9" style="font-weight: bold;font-size:14px;margin-top:8px;">
                                           {{bindScopeForm.customer}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Mobile No.</label>
                                        <div class="col-md-9" style="font-weight: bold;font-size:14px;margin-top:8px;">
                                           {{bindScopeForm.mobile_no}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Email ID</label>
                                        <div class="col-md-9" style="font-weight: bold;font-size:14px;margin-top:8px;">
                                           {{bindScopeForm.email_id}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Residential Address / Permanent Address</label>
                                        <div class="col-md-9" style="font-weight: bold;font-size:14px;margin-top:8px;">
                                           {{bindScopeForm.add1}} {{bindScopeForm.add2}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                    <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
                                    <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>