<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
span.cls_002{font-family:Arial,serif;font-size:30.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:30.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:24.1px;color:rgb(0,78,102);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:24.1px;color:rgb(0,78,102);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:"Verdana",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:"Verdana",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:16.1px;color:rgb(0,78,102);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:16.1px;color:rgb(0,78,102);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:12.1px;color:rgb(5,10,51);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:12.1px;color:rgb(5,10,51);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:11.1px;color:rgb(75,80,98);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:11.1px;color:rgb(75,80,98);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:9.8px;color:rgb(129,129,129);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:9.8px;color:rgb(129,129,129);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:9.8px;color:rgb(129,129,129);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_009{font-family:Arial,serif;font-size:9.8px;color:rgb(129,129,129);font-weight:normal;font-style:normal;text-decoration: none}
</style>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-420px;top:60px;width:841px;height:594px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="../../../images/certificate.jpg" width=841 height=594></div>
    <div style="position:absolute;left:297.19px;top:59.33px" class="cls_002"><span class="cls_002">Vehicle Certificate</span></div>
    <div style="position:absolute;left:257.23px;top:157.63px" class="cls_003"><span class="cls_003">Vehicle Number : {{arrReportData.vehicle_number}}</span></div>
    <div style="position:absolute;left:257.23px;top:199.63px" class="cls_005"><span class="cls_005">Vehicle Maker : {{arrReportData.model}}</span></div>
    <div style="position:absolute;left:257.23px;top:225.63px" class="cls_005"><span class="cls_005">Warrenty : 1 Year</span></div>
</div>

</body>
</html>
