<div ng-controller='CompanyYearController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="edit(id);">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="formSubmission" id="formSubmission" ng-submit="save(id);" class="form-horizontal form-bordered form-row-stripped" novalidate>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Name<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" name="name" ng-model="bindScopeForm.name" ng-maxlength="60" auto-focus="true" required />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : formSubmission.start_date.$invalid && !formSubmission.start_date.$pristine }">
                                <label class="control-label col-md-3">Start Date<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                        <input type="text" class="form-control" autocomplete="off" id="start_date" readonly="" name="start_date" ng-model="bindScopeForm.start_date" ng-change="dateValidate();" maxlength="12" required />
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">End Date<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                        <input type="text" class="form-control" autocomplete="off" id="end_date" readonly="" name="end_date" ng-model="bindScopeForm.end_date" ng-change="dateValidate();" maxlength="12" required />
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Order No.</label>
                                <div class="col-md-9">
                                    <input type="text" id="txtNumeric" autocomplete="off" ng-pattern-err-type="patternNumberMessage" class="form-control" maxlength="5" placeholder="Please enter order no" ng-pattern="/^(\d)+$/" name="order_no" onkeypress="return CommonComponent.allowOnlyNumeric(event)" ng-model="bindScopeForm.order_no" />
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-bind-html="btnGroup.btn1"></button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>
