<div ng-controller="TitleController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">View {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="view(id);">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-eye"></i>View Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table-view table table-striped table-bordered table-advance table-hover">
                            <thead>
                                <tr>
                                    <th class="table-head" style="width:30%;">Name</th>
                                    <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.name"></td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Short Name</th>
                                    <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.shortname"></td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Order No.</th>
                                    <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.order_no"></td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="form-actions" style="padding: 20px 10px;background-color: #f5f5f5;border-radius: 10px;">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-9">
                                        <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>