<div ng-controller='AssignRoleController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="getMemberTypeList();">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <notification-alert></notification-alert>
                    <form name="formSubmission" id="formSubmission" class="form-horizontal form-bordered form-row-stripped" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group" ng-class="{ 'has-error' : formSubmission.user_type_tran_id.$invalid && !formSubmission.user_type_tran_id.$pristine }">
                                        <div class="col-md-12">
                                            <select2 class="form-control" name="user_type_tran_id" ng-change="getRoleList(1);" ng-model="bindScopeForm.user_type_tran_id" s2-options="val.id as val.name for val in arrMemberTypeData" options="{ allowClear: true }" placeholder="Select User Type" ng-required="true"></select2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group" ng-class="{ 'has-error' : formSubmission.role_master_id.$invalid && !formSubmission.role_master_id.$pristine }">
                                        <div class="col-md-12">
                                            <select2 class="form-control" name="role_master_id" ng-model="bindScopeForm.role_master_id" s2-options="val.id as val.name for val in arrMemberRoleData" options="{ allowClear: true }" placeholder="Select Role" ng-required="true"></select2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4" ng-hide="isMemberhide">
                                    <div class="form-group" ng-class="{ 'has-error' : formSubmission.user_type_id.$invalid && !formSubmission.user_type_id.$pristine }">
                                        <div class="col-md-12">
                                            <select2 class="form-control" name="user_type_id" ng-model="bindScopeForm.user_type_id" s2-options="val.id as val.firm_name for val in arrUserTypeData" options="{ allowClear: true }" ng-change="changeMember();" placeholder="Select Member"></select2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="submit" ng-disabled="formSubmission.$invalid || isMemberTypeManadatory == 1" ng-click="search();" class="btn default">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-show="showRole" class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="portlet light" style="height:370px;overflow: auto;">
                                        <div class="portlet-body">
                                            <div class="table-scrollable">
                                                <table class="table-view table table-striped table-bordered table-advance table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="table-head" style="text-align: center;">
                                                                <input type="checkbox" id="checkAll" onclick="roleChecked(this); " style="width:17px;height:17px;" />
                                                            </th>
                                                            <th class="table-head">Role</th>
                                                            <th class="table-head">Name</th>
                                                            <th class="table-head">Unique Code</th>
                                                            <th class="table-head" ng-show="isEmployee ">Department</th>
                                                            <th class="table-head" ng-show="isEmployee ">Designation</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="info in roleListData ">
                                                            <td class="table-content" style="text-align: center; ">
                                                                <div ng-if="info.role_id> 0">
                                                                    <input type="hidden" name="role_user_id[{{info.role_id}}][]" value="{{info.user_id}}" />
                                                                    <input ng-if="info.role_id == bindScopeForm.role_master_id" class="roleUser" style="width:17px;height:17px;" type="checkbox" name="user_id[]" value="{{info.user_id}}" checked="checked" />
                                                                    <span ng-if="info.role_id != bindScopeForm.role_master_id">--</span>
                                                                </div>
                                                                <div ng-if="!info.role_id">
                                                                    <input type="checkbox" class="roleUser" name="user_id[]" value="{{info.user_id}}" style="width:17px;height:17px;" />
                                                                </div>

                                                            </td>
                                                            <td class="table-content"> {{info.role}}</td>
                                                            <td class="table-content"> {{info.name}}</td>
                                                            <td class="table-content">{{info.unique_no}}</td>
                                                            <td class="table-content" ng-show="isEmployee">{{info.department}}</td>
                                                            <td class="table-content" ng-show="isEmployee">{{info.designation}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                            <button type="submit" ng-disabled="formSubmission.$invalid " class="btn green" ng-click="save();" id="record_save_btn">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function roleChecked(Obj) {
        $('.roleUser').attr('checked', Obj.checked);
    }
</script>