<div ng-controller='DocumentController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init ="add();">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <notification-alert></notification-alert>
                    <form name="formSubmission" id="formSubmission" ng-submit="save();" class="form-horizontal form-bordered form-row-stripped" novalidate>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Name<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" name="name" ng-model="bindScopeForm.name" id="name" ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" ng-maxlength="100" auto-focus="true" placeholder="Please enter name" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Code</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" name="code" ng-model="bindScopeForm.code" placeholder="Please enter code..." ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" ng-maxlength="60" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Description</label>
                                <div class="col-md-9">
                                    <textarea name="description" rows="4" class="form-control" placeholder="Please enter description..." ng-model="bindScopeForm.description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Order No.</label>
                                <div class="col-md-9">
                                    <input type="text" id="txtNumeric" autocomplete="off" ng-pattern-err-type="patternNumberMessage" class="form-control" maxlength="5" placeholder="Please enter order no" ng-pattern="/^(\d)+$/" name="order_no" ng-model="bindScopeForm.order_no" />
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-click ="btnGroup.status = 1;" ng-bind-html="btnGroup.btn1"></button>
                                <button type="submit" class="btn {{btnGroup.btn2_color}}" ng-disabled ="btnGroup.is_disabled" id="save_new_btn" ng-click ="btnGroup.status = 2;" ng-bind-html="btnGroup.btn2"></button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
