<div ng-controller='PurchaseController' ng-click="searchboxClicked($event);">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Edit {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12" ng-init = "edit(id);">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Edit {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <notification-alert></notification-alert>
                    <form name="formSubmission" id="formSubmission" ng-submit="save();" class="horizontal-form" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Voucher Number<span class="required">* </span></label>
                                        <input type="text" class="form-control" autocomplete="off" name="voucher_no" id="voucher_no" ng-model="bindScopeForm.voucher_no" maxlength="60" placeholder="Please enter po order" required />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Date<span class="required">* </span></label>
                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="text" class="form-control" id="voucher_date" autocomplete="off" name="voucher_date" ng-model="bindScopeForm.voucher_date"  maxlength="12" required />
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : formSubmission.supplier_master_id.$invalid && !formSubmission.supplier_master_id.$pristine }">
                                        <div class="row">
                                            <label class="control-label col-md-12">Supplier<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <select2 class="form-control" name="supplier_master_id" ng-model="bindScopeForm.supplier_master_id" s2-options="val.id as val.name for val in arrSupplierData" options="{ allowClear: true }" ng-required="true" placeholder="Select Supplier"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getSupplierList(1);" class="btn btn-default tooltips">
                                                    <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <textarea name="description" rows="4" class="form-control" ng-model="bindScopeForm.description" placeholder="Please enter description ...."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-class = "{'spinner':spinner}" ng-model ="bindScopeForm.product" ng-keyup ="searchProduct(bindScopeForm.product);" ng-click ="searchProduct(bindScopeForm.product);" placeholder="Search Product ..." />
                                        <ul id="search-result">
                                            <li ng-click = "getValue($index,$event)" ng-repeat = "product in arrProductData">
                                                <div class="search-head" style="font-weight: bold;">{{product.name}}</div>
                                                <div class="search-common"><b>code:</b> {{product.code}}</div>
                                                <div class="search-common"><b>HSN code:</b> {{product.hsn_code}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="bindScopeForm.quantity" onpaste = "return false" onkeypress="return CommonComponent.allowOnlyNumeric(event)" placeholder="Enter Quantity ..." maxlength="5" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-sm blue" ng-disabled = "isSelectedProduct == false || !bindScopeForm.quantity || bindScopeForm.quantity <= 0" ng-click = "addProductDetail()">Add</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12" style="height: 250px;overflow: auto;">
                                    <div class="table-scrollable">
                                        <table class="table-view table table-striped table-bordered table-advance">
                                            <thead>
                                                <tr>
                                                    <th style="width:30%;" class="table-head">Product</th>
                                                    <th style="width:20%;" class="table-head">Code</th>
                                                    <th style="width:20%;" class="table-head">HSN Code</th>
                                                    <th style="width:20%;" class="table-head">Quantity</th>
                                                    <th style="width:10%;" class="table-head">&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat = "rows in addRow">
                                                    <td>{{rows.name}}</td>
                                                    <td>{{rows.code}}</td>
                                                    <td>{{rows.hsn_code}}</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" ng-pattern-err-type="patternQuantityMessage" ng-model ="rows.quantity" ng-change = "updateQuantity();" ng-pattern ="/^[1-9]+[0-9]*$/" ng-maxlength="9" required/>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button" ng-click="deleteRecord($index);" class="btn default btn-xs red" data-container="body" data-placement="top" data-original-title="Delete Record"><i class="fa fa-trash-o"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <table class="table-view table table-striped table-bordered table-advance">
                                    <tr>
                                        <th style="width:70%;text-align: right;padding-right: 10px;">Total Quantity</th>
                                        <th>{{totalQty}}</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#voucher_no').focus();
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                endDate:'+0d',
                autoclose: true
            });
        });
    });
</script>