<div ng-controller='CouponSalesController' ng-click="searchboxClicked($event,1);">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row" ng-show ="memberFirmId && companyYearId">
        <div class="col-md-12" ng-init = "add();">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="formSubmission" id="formSubmission" ng-submit ="save();" class="form-horizontal" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Invoice No.</label>
                                        <div class="col-md-9">
                                            <div style="padding-top:10px;font-weight:bold;">
                                                {{uniqueCode}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Invoice Date <span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                <input type="text" class="form-control" id="date" autocomplete="off" name="date" ng-model="bindScopeForm.date"  maxlength="12" required />
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Search Vehicle <span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-class = "{'spinner':spinner}" ng-keyup ="searchVehicleDetail(bindScopeForm.vehicle_name);" name="vehicle_name" ng-model ="bindScopeForm.vehicle_name" id="vehicle_name" autocomplete="off" placeholder="Search Vehicle ..." ng-required ="true"/>
                                            <ul id="search-result">
                                                <li ng-click = "getValue($index,$event)" ng-repeat = "vehicle in arrVehicleData">
                                                    <div class="search-head" style="font-weight: bold;">{{vehicle.unique_no}}</div>
                                                    <div class="search-common"><b>V No. :</b> {{vehicle.vehicle_number}}</div>
                                                    <div class="search-common"><b>Engine No. :</b> {{vehicle.engine_number}}</div>
                                                    <div class="search-common"><b>Chasis No. :</b> {{vehicle.chasis_number}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button style="border-radius: 5px;margin-left:10px;" type="button" class="btn blue" data-container="body" data-placement="top" data-original-title="Add Vehicle Detail" ng-click="vehicleForm();"><i class="fa fa-plus"></i>Add Vehicle</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" id="couponDiv">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Coupon <span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <select2 class="form-control" name="coupon_master_id" ng-model="bindScopeForm.coupon_master_id" ng-change = "getCouponDetail();" s2-options="val.id as val.name for val in arrCouponData" options="{ allowClear: true }" ng-required="true" placeholder="Select Coupon"></select2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="input-group-btn">
                                            <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getCouponList(1,2);" class="btn btn-default">
                                                <span class="glyphicon glyphicon-refresh"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Payment Detail</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Paid<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" ng-keyup = "calculateAmt(1);" autocomplete="off" ng-disabled ="bindScopeForm.payment_status" ng-required="!bindScopeForm.payment_status" ng-model="bindScopeForm.amount" class="form-control" name="amount"/>
                                                <div ng-hide = "!showShortFees || bindScopeForm.payment_status" style="font-weight: bold;">Remaining Amount <b style="color:#f13e64">{{bindScopeForm.shortFees}}</b></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Payment Later</label>
                                            <div class="col-md-2" style="margin-top:5px;">
                                                <input type="checkbox" name="paylater" ng-model="bindScopeForm.payment_status" value="1"/>
                                            </div>
                                            <label class="control-label col-md-4"><b>Lock Invoice Receipt</b></label>
                                            <div class="col-md-2" style="margin-top:5px;">
                                                <input type="checkbox" name="is_lock_invoice" ng-model="bindScopeForm.is_lock_invoice" value="1"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide ="bindScopeForm.payment_status">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Payment Mode <span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <select2 class="form-control" name = "payment_mode" ng-model="bindScopeForm.payment_mode"  s2-options="val.id as val.name for val in arrPaymentModeData" ng-required="!bindScopeForm.payment_status" ng-disabled ="bindScopeForm.payment_status" placeholder="Select Payment Mode"></select2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide ="bindScopeForm.payment_status || bindScopeForm.payment_mode <= 1">
                                    <div class="col-md-6">
                                        <div class="form-group" id="bankDiv">
                                            <label class="control-label col-md-3">Bank</label>
                                            <div class="col-md-7">
                                                <select2 ng-disabled = "bindScopeForm.payment_mode == 1" class="form-control" name="bank_master_id" ng-model="bindScopeForm.bank_master_id" s2-options="val.id as val.name for val in arrBankData" options="{ allowClear: true }" placeholder="Select Bank"></select2>
                                            </div>
                                            <div class="col-md-2" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getBankList(1);" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ng-show ="bindScopeForm.payment_mode == 2" class="control-label col-md-3">Cheque Number</label>
                                            <label ng-show = "bindScopeForm.payment_mode >= 3" class="control-label col-md-3">Transaction Ref</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-disabled ="bindScopeForm.payment_mode == 1" class="form-control" name="payment_reference_no" id="payment_reference_no" ng-model="bindScopeForm.payment_reference_no" maxlength="100" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide ="bindScopeForm.payment_status">
                                    <div class="col-md-6" ng-show = "bindScopeForm.payment_mode > 1">
                                        <div class="form-group">
                                            <label ng-show ="bindScopeForm.payment_mode ==2" class="control-label col-md-3">Cheque Date</label>
                                            <label ng-show = "bindScopeForm.payment_mode >= 3" class="control-label col-md-3">Transaction Date</label>
                                            <div class="col-md-9">
                                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                    <input type="text" ng-disabled ="bindScopeForm.payment_mode == 1" class="form-control" name="payment_mode_date" ng-model="payment_mode_date" maxlength="12" />
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Remark</label>
                                            <div class="col-md-9">
                                                <textarea name="remark" rows="2" class="form-control" ng-model="remarks" placeholder="Please enter remark ...."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!companyYearId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID COMPANY YEAR ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>
