<div ng-controller="ExpenseHeadController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        {{caption}} <small>list</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{{caption}} List</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row" id="datatable_ajax" ng-init = "init();">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <form-tool></form-tool>
                    </div>
                    <div class="actions">
                        <tools></tools>
                    </div>
                </div>
                <div class="row animate-show-hide" collapse = "searchCollapsed">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Search</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-model = "searchFilter.name"  placeholder="Enter Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-model = "searchFilter.code"  placeholder="Enter Code" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm btn-success table-group-action-submit" ng-click = "search()"><i class="fa fa-search"></i> Submit</button>
                                            <button type="button" class="btn btn-sm default table-group-action-submit" ng-click="reset()"><i class="fa fa-search"></i> Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-container" ng-include="'components/templates/dashboard/datatable.html'"></div>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>