<style>
    .form-group{
        margin-bottom:0px !important;
    }
    .panel-body {
        padding: 0px !important; 
    }
    .table-scrollable{
        margin: 0px !important;
    }
</style>
<div ng-controller = "EmployeeReportsController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Employee Dynamic Report
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Employee Dynamic Report</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row" ng-show = "memberFirmId">
        <div class="col-md-12" ng-init = "generateReportType(1);">
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt" style="font-size:22px;"></i> Employee Dynamic Report
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="reportFormSubmission" id="reportFormSubmission" ng-submit="generateReport(1);" class="horizontal-form" novalidate>
                        <div class="form-body">
                            <accordion close-others="oneAtATime">
                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        Personal Information <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <div class="table-scrollable">
                                        <table class="table-report table-view table table-striped table-bordered table-advance">
                                            <tr>
                                                <td class="report-class" colspan="2" style="text-align: center;font-size:16px !important;">Caption</td>
                                                <td class="report-class" colspan="7">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="report_caption" ng-model = "bindScopeForm.caption">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[0][field]" value="1" ng-checked ="true"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Employee Code</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[0][order]" value="1" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[1][field]" value="1" ng-checked ="true"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Full Name</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[1][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="2" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[2][field]" value="1" ng-checked ="true"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Gender</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[2][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="3" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[3][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Mobile No</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[3][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="4" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <input type="checkbox" name="employee[4][field]" value="1"/>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Alternate Mobile No</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[4][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="5" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[5][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Email ID</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[5][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="6" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[6][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Alternate Email ID</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[6][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="7" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[7][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Country</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[7][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="8" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[8][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">State</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[8][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="9" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[9][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">City</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[9][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="10" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="6">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </accordion-group>
                                <accordion-group is-open="status.other">
                                    <accordion-heading>
                                        Employee Information <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.other, 'fa-angle-right': !status.other}"></i>
                                    </accordion-heading>
                                    <div class="table-scrollable">
                                        <table class="table-report table-view table table-striped table-bordered table-advance">
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[10][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Date Of Joining</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[10][order]" value="11" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[11][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Department</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[11][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="12" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[12][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Designation</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[12][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="13" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[13][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Qualification</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[13][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="14" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <input type="checkbox" name="employee[14][field]" value="1"/>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">PAN No.</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[14][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="15" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <input type="checkbox" name="employee[15][field]" value="1"/>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Adhaar No.</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[15][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="16" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="employee[16][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Residential Address</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[16][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="17" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <input type="checkbox" name="employee[17][field]" value="1"/>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Permanent Address</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="employee[17][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="18" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="3">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </accordion-group>
                                <accordion-group is-open="status.filter">
                                    <accordion-heading>
                                        Filter & Sorting <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.filter, 'fa-angle-right': !status.filter}"></i>
                                    </accordion-heading>
                                    <div class="table-scrollable">
                                        <table class="table-report table-view table table-striped table-bordered table-advance">
                                            <tr>
                                                <th class="report-class" colspan="3">Filter Group</th>
                                            </tr>
                                            <tr>
                                                <td style="width: 33%;" class="report-class">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="branch_master_id" ng-model="bindScopeForm.branch_master_id" s2-options="val.id as val.name for val in arrBranchData" placeholder="Select Branch" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td style="width: 33%;" class="report-class">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="department_master_id" ng-model="bindScopeForm.department_master_id" s2-options="val.id as val.name for val in arrDepartmentData" ng-change = "getDesignationList(1);" options="{ allowClear: true }" placeholder="All Department"></select2>
                                                    </div>
                                                </td>
                                                <td style="width: 33%;" class="report-class">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="designation_master_id" ng-model="bindScopeForm.designation_master_id" s2-options="val.id as val.name for val in arrDesignationData" options="{ allowClear: true }" placeholder="All Designation"></select2>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="report-class" colspan="3">Sorting</th>
                                            </tr>
                                            <tr>
                                                <td style="width:33%" class="report-class">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="sort_by" ng-model="bindScopeForm.sort_by" s2-options="val.id as val.name for val in arrSortByData" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td style="width: 33%;" class="report-class">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="sort_type" ng-model="bindScopeForm.sort_type" s2-options="val.id as val.name for val in arrSortTypeData" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td style="width: 33%;" class="report-class" colspan ="2">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn green" id="record_save_btn">Submit</button>
                                <button type="reset" class="btn default" id="reset_btn">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
