<div ng-controller='AssignRoleRightsController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <notification-alert></notification-alert>
                    <form name="formSubmission" id="formSubmission" class="form-horizontal form-bordered form-row-stripped" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <div class="form-group" ng-class="{ 'has-error' : formSubmission.parent_id.$invalid && !formSubmission.parent_id.$pristine }">
                                        <label class="control-label col-md-3">Role</label>
                                        <div class="col-md-6">
                                            <select2 class="form-control input-medium" name="role_master_id" ng-model="bindScopeForm.role_master_id" s2-options="val.id as val.name for val in parentRole" options="{ allowClear: true }" placeholder="Select Role" ng-required="true"></select2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <div class="form-group" ng-class="{ 'has-error' : formSubmission.module_id.$invalid && !formSubmission.module_id.$pristine }">
                                        <label class="control-label col-md-3">Module</label>
                                        <div class="col-md-6">
                                            <select2 class="form-control input-medium" name="module_id" ng-model="bindScopeForm.module_id" s2-options="val.id as val.name for val in parentModule" options="{ allowClear: true }" placeholder="Module">
                                                <option value="">All Module</option>
                                            </select2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="submit" ng-disabled="formSubmission.$invalid" ng-click="search();" class="btn default" id="record_save_btn">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div clas="row" style="height: 340px;overflow: auto;">
                                <div class="col-md-12 col-sm-12 col-xs-12" id="roleLinkHtml">
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                    <button type="submit" ng-disabled="formSubmission.$invalid" class="btn green" ng-click="save();" id="save_record">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function roleChecked(Obj,isParent,roleId,typeMasterId) {
        if(isParent == 1) {
            if(typeMasterId == 0) {
                var operationId = $('#operationId').val();
                var arrOperationId = operationId.split(',');
                for(var j =0;j<arrOperationId.length;j++) {
                    var operation = arrOperationId[j];
                    $('.'+roleId+operation+'_menuRights').attr('checked',Obj.checked);
                }
            } else {
                $('.'+roleId+typeMasterId+'_menuRights').attr('checked',Obj.checked);
            }
        } else {
            var getParentId = $(Obj).attr('data-roleid');
            var arrParentId = getParentId.split(',');
            console.log('parentid :',getParentId);
            if(typeMasterId == 0) {
                var operationId = $('#operationId').val();
                var arrOperationId = operationId.split(',');
                for(var j =0;j<arrOperationId.length;j++) {
                    var operation = arrOperationId[j];
                    $('.'+roleId+operation+'_menuRights').attr('checked',Obj.checked);
                    for(var i=0;i<arrParentId.length;i++) {
                        var parentId = arrParentId[i];
                        $('.'+parentId+operation+'_roleRights').attr('checked',Obj.checked);
                        var sibs = false;
                        $('.'+parentId+operation+'_menuRights').each(function(){
                            if($(this).is(':checked')) {
                                sibs=true;
                            }
                        });
                        $('.'+parentId+operation+'_roleRights').attr('checked',sibs);
                    }
                }
            } else {
                for(var i=0;i<arrParentId.length;i++) {
                    var parentId = arrParentId[i];
                    $('.'+parentId+typeMasterId+'_roleRights').attr('checked',Obj.checked);
                    var sibs = false;
                    $('.'+parentId+typeMasterId+'_menuRights').each(function(){
                        if($(this).is(':checked')) {
                            sibs=true;
                        }
                    });
                    $('.'+parentId+typeMasterId+'_roleRights').attr('checked',sibs);
                }
                $('.'+roleId+typeMasterId+'_menuRights').attr('checked',Obj.checked);
            }
        }
    }
</script>