<div ng-controller='VehicleJobController' ng-click="searchboxClicked($event,1);">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-show ="memberFirmId && companyYearId">
        <div class="col-md-12" ng-init="add();">
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified" style="margin-top:5px;">
                        <li ng-class="{ 'active': tab == 1 }">
                            <a href="javascript:void(0);" ng-disabled ="true">Vehicle Information </a>
                        </li>
                        <li ng-class="{ 'active': tab == 2 }">
                            <a href="javascript:void(0);" ng-disabled ="true">Checklist Detail</a>
                        </li>
                        <li ng-class="{ 'active': tab == 3 }">
                            <a href="javascript:void(0);" ng-disabled ="true">Customer Issue Detail</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{ 'active': tab == 1 }" ng-show="tab == 1">
                            <form id="vehicleJobGeneralForm" name="vehicleJobGeneralForm" ng-submit ="formValidate(2);" class="form-horizontal" novalidate>
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Job Code</label>
                                        <div class="col-md-9">
                                            <div class="input-icon right" style="padding-top:10px;font-weight:bold;">
                                                {{uniqueCode}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Search Vehicle</label>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" ng-class = "{'spinner':spinner}" ng-model="bindScopeForm.vehicle_name" ng-keyup="searchVehicleDetail(bindScopeForm.vehicle_name)" required />
                                                        <ul id="search-result">
                                                            <li ng-click = "getValue($index,$event)" ng-repeat = "vehicle in arrVehicleData">
                                                                <div class="search-head" style="font-weight: bold;">{{vehicle.unique_no}}</div>
                                                                <div class="search-common" style="display: flow-root;">
                                                                    <div style="float: left;"><b>V No. :</b> {{vehicle.vehicle_number}}</div>
                                                                    <div style="float: right;" ng-switch ="vehicle.in_house_vehicle">
                                                                        <b>In House</b> :
                                                                        <b ng-switch-when ="0" style="color:red;">No</b>
                                                                        <b ng-switch-when ="1" style="color:green">Yes</b>
                                                                    </div>
                                                                </div>
                                                                <div class="search-common" style="display: flow-root;">
                                                                    <div style="float: left;"><b>Engine No. :</b> {{vehicle.engine_number}}</div>
                                                                    <div style="float: right;"><b>Chasis No. :</b> {{vehicle.chasis_number}}</div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <button style="border-radius: 5px;margin-left:10px;" type="button" class="btn blue" data-container="body" data-placement="top" data-original-title="Add Vehicle Detail" ng-click="vehicleForm();"><i class="fa fa-plus"></i>Add Vehicle</button>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="#" class="btn default" ng-click="bindScopeForm.vehicle_name = '';getVehicleData=[];getVehicleDetail = {};bindScopeForm.name = '';bindScopeForm.mobile_no='';bindScopeForm.email_id ='';bindScopeForm.address='';">
                                                        Reset
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="color:red;font-weight: bold;font-family: calibri;font-size:16px;">Search Vehicle By Vehicle No./Vehicle Unique Code</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-scrollable">
                                        <table class="table-view table table-striped table-bordered table-advance table-hover">
                                            <tr>
                                                <th class="table-head" style="width:20%;">Vehicle Code</th>
                                                <td class="table-content" style="width:30%;">
                                                    {{getVehicleDetail.unique_no}}
                                                </td>
                                                <th class="table-head" style="width:20%;">Manufacturer</th>
                                                <td class="table-content" style="width:30%;">
                                                    {{getVehicleDetail.manufacturer}} ({{getVehicleDetail.vehicle_type}})
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:20%;">Vehicle Model</th>
                                                <td class="table-content" style="width:30%;">
                                                    {{getVehicleDetail.model}}
                                                </td>
                                                <th class="table-head" style="width:20%;">Vehicle Number</th>
                                                <td class="table-content" style="width:30%;">
                                                    {{getVehicleDetail.vehicle_number}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:20%;">Engine Number</th>
                                                <td class="table-content" style="width:30%;">
                                                    {{getVehicleDetail.engine_number}}
                                                </td>
                                                <th class="table-head" style="width:20%;">Chasis Number</th>
                                                <td class="table-content" style="width:30%;">
                                                    {{getVehicleDetail.chasis_number}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:20%;">Owner Name</th>
                                                <td class="table-content" style="width:30%;">
                                                    {{getVehicleDetail.name}}
                                                </td>
                                                <th class="table-head" style="width:20%;">Owner Mobile No.</th>
                                                <td class="table-content" style="width:30%;">
                                                    {{getVehicleDetail.mobile_no}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:20%">Owner EmailId</th>
                                                <td class="table-content" style="width:30%;">
                                                    {{getVehicleDetail.email_id}}
                                                </td>
                                                <th class="table-head" style="width:20%">Owner Address</th>
                                                <td class="table-content" style="width:30%;">
                                                    {{getVehicleDetail.address}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:20%">In House Vehicle</th>
                                                <td class="table-content" style="width:30%;" ng-switch="bindScopeForm.in_house_vehicle">
                                                   <button ng-switch-when = "1" type="button" class="btn btn-xs green">Yes</button>
                                                   <button ng-switch-when = "0" type="button" class="btn btn-xs red">No</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Date<span class="required">* </span></label>
                                                <div class="col-md-9">
                                                    <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                        <input type="text" class="form-control" id="job_date" autocomplete="off" name="job_date" ng-model="bindScopeForm.job_date"  maxlength="12" required />
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Time<span class="required">* </span></label>
                                                <div class="col-md-6">
                                                    <div class="input-icon">
                                                        <i class="fa fa-clock-o"></i>
                                                        <input type="text" name="job_time" autocomplete="off" ng-model = "bindScopeForm.job_time" required class="form-control timepicker timepicker-default">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="bindScopeForm.in_house_vehicle == 0">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Name<span class="required">* </span></label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" autocomplete="off" name="customer_name" ng-model="bindScopeForm.customer_name" placeholder="Please enter name..." maxlength="120" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Mobile No.<span class="required">* </span></label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" autocomplete="off" name="customer_mobile_no" ng-model="bindScopeForm.customer_mobile_no" placeholder="Please enter mobile no" maxlength="10" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="bindScopeForm.in_house_vehicle == 0">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Email ID</label>
                                                <div class="col-md-9">
                                                    <input type="email" class="form-control" autocomplete="off" name="customer_email_id" ng-model="bindScopeForm.customer_email_id" placeholder="Please enter Email ID" maxlength="120"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Address<span class="required">* </span></label>
                                                <div class="col-md-9">
                                                    <textarea rows="2" class="form-control" autocomplete="off" name="customer_address" ng-model="bindScopeForm.customer_address" placeholder="Please enter address." required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Service K.M<span class="required">* </span></label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" autocomplete="off" ng-pattern="/^(\d)+$/" ng-pattern-err-type="validServiceMessage" name="service_km" ng-model="bindScopeForm.service_km" placeholder="Please enter service km ...." maxlength="12" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-actions">
                                        <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                            <button type="submit" ng-disabled = "isVehicleExists == 0 && vehicleSearchDiv == 0" class="btn blue">Next</button>
                                            <a href="#" ui-sref="{{baseStateTo}}" class="btn default ">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        <div class="tab-pane" ng-class="{ 'active': tab == 2 }" ng-show="tab == 2">
                            <form name="vehicleChecklistForm" id="vehicleChecklistForm" novalidate>
                                <div style="height: 400px;overflow: auto;" ng-if="arrChecklistData.length > 0">
                                    <table width="90%" id="tableGrid" class="table table-striped table-bordered table-hover">
                                        <tr>
                                            <th style="width: 20%; text-align: center;">
                                                <input type="checkbox" value="1" onclick="checkAll(this)" style="width: 18px;height: 18px;" />
                                            </th>
                                            <th style="width: 70%;">
                                                Checklist
                                            </th>
                                        </tr>
                                        <tr ng-repeat="checklist in arrChecklistData">
                                            <td style="width: 20%;text-align: center;">
                                                <input type="checkbox" class="checklist-class" style="width: 18px;height: 18px;" name="arr_checklist[]" value="{{checklist.id}}" />
                                            </td>
                                            <td style="width: 70%;">{{checklist.name}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-actions">
                                    <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                        <button type="button" class="btn blue" id="backbtn4" ng-click="tab = 1">Back</button>
                                        <button type="button" ng-click="tab = 3" class="btn blue">Next</button>
                                        <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" ng-class="{ 'active': tab == 3 }" ng-show="tab == 3">
                            <form name="remarkForm" id="remarkForm" ng-submit ="save();" novalidate>
                                <div class="table-scrollable" style="height: 400px;overflow: auto;">
                                    <table width="90%" id="tableGrid" class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width:45%;font-weight:bold;text-align: center;border:1px solid #fff;">Complaint</th>
                                                <th style="width:45%;font-weight:bold;text-align: center;border:1px solid #fff;">Remark</th>
                                                <th style="width:10%;font-weight:bold;text-align: center;border:1px solid #fff;">
                                                    <button type="button" class="btn btn-xs blue" ng-click="addComplainRow();"><i class="fa fa-plus"></i></button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat = "cp in complainRow">
                                            <td>
                                                <div class="form-group">
                                                    <textarea rows="2" class="form-control" name = "complain[]" ng-model="cp.complain" placeholder="Please enter complain ...."></textarea>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <textarea rows="2" class="form-control" name="remark[]" ng-model="cp.remark" placeholder="Please enter remark ...."></textarea>
                                                </div>
                                            </td>
                                            <td style="text-align: center;">
                                                <a href="#" ng-click="deleteComplainRow($index);" class="btn default btn-xs red"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-actions">
                                    <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                        <button type="button" class="btn blue" id="backbtn1" ng-click="tab = 2">Back</button>
                                        <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
                                        <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!companyYearId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID COMPANY YEAR ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function checkAll(Obj) {
        $('.checklist-class').attr('checked', Obj.checked);
    }
    $(document).ready(function() {
        $('#searchVehicle').focus();
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
        $('body').on('focus',".timepicker-default", function(){
            $(this).timepicker({
                autoclose: true,
                showSeconds: true,
                minuteStep: 1
            });
        });
    });
</script>
