<form name="jobStatusForm" id="jobStatusForm" ng-submit="save_status();" class="form-horizontal form-bordered form-row-stripped" novalidate>
    <div class="modal-header" style="background-color: #67809F;color:#fff;">
        <h4 class="modal-title">Vehicle Job Status Form</h4>
    </div>
    <div class="modal-body">
        <div class="table-scrollable">
            <table class="table-view table table-striped table-bordered table-advance table-hover">
                <tr>
                    <th style="width:30%">Job ID</th>
                    <th style="width:70%;font-weight: bold;">
                        {{bindScopeForm.unique_no}}
                    </th>
                </tr>
                <tr>
                    <th style="width:30%">Vehicle Code</th>
                    <th style="width:70%;font-weight: bold;">
                        {{bindScopeForm.vehicle_code}}
                    </th>
                </tr>
                <tr>
                    <th style="width:30%">Vehicle No.</th>
                    <th style="width:70%;font-weight: bold;">
                        {{bindScopeForm.vehicle_number}}
                    </th>
                </tr>
                <tr>
                    <th style="width:30%">Job Status <span class="required" style="color:red;">* </span></th>
                    <td style="width:70%">
                        <button type="button" class="btn btn-xs btn-info">WORK IN PROGRESS</button>
                    </td>
                </tr>
                <tr>
                    <th style="font-weight: bold;">
                        Employee <span class="required" style="color:red;">* </span>
                    </th>
                    <td class="form-group">
                        <select class="form-control" name="employee_master_id" ng-model="bindScopeForm.employee_master_id">
                            <option value="">--Select Employee</option>
                            <option ng-repeat = "employee in arrEmployeeData" ng-value = "employee.id">{{employee.employee_name}}</option>
                        </select>
                        <p ng-show="jobStatusForm.employee_master_id.$invalid && !jobStatusForm.employee_master_id.$pristine" class="help-block">Employee is required.</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn default" ng-click="modalInstance.close();" data-dismiss="modal">Close</a>
        <button type="submit" id="update_btn" ng-disabled="jobStatusForm.$invalid" class="btn blue">Update</button>
    </div>
</form>