<form name="jobStatusForm" id="jobStatusForm" ng-submit="save_status();" class="form-horizontal form-bordered form-row-stripped" novalidate>
    <div class="modal-header" style="background-color: #67809F;color:#fff;">
        <h4 class="modal-title">Vehicle Job Status Form</h4>
    </div>
    <div class="modal-body">
        <div class="table-scrollable">
            <table class="table-view table table-striped table-bordered table-advance table-hover">
                <tr>
                    <th class="table-head" style="width:20%">Job ID</th>
                    <td class="table-content" style="width:30%;font-weight: bold;">
                        {{bindScopeForm.unique_no}}
                    </td>
                    <th class="table-head" style="width:20%">Vehicle Code</th>
                    <td class="table-content" style="width:30%;font-weight: bold;">
                        {{bindScopeForm.vehicle_code}}
                    </td>
                </tr>
                <tr>
                    <th class="table-head" style="width:20%">Vehicle No.</th>
                    <td class="table-content" style="width:30%;font-weight: bold;">
                        {{bindScopeForm.vehicle_number}}
                    </td>
                    <th class="table-head" style="width:20%">Job Status <span class="required" style="color:red;">* </span></th>
                    <td class="table-content" style="width:30%">
                        <button type="button" class="btn btn-xs blue-madison">Complete</button>
                    </td>
                </tr>
                <tr>
                    <th class="table-head" style="width:20%">Next Service K.M <span class="required" style="color:red;">* </span></th>
                    <td class="table-content form-group" colspan="3">
                        <div class="">
                            <input type="text" onpaste = "return false" class="form-control" ng-pattern="/^(\d)+$/" name="service_km" ng-model="bindScopeForm.next_service_km" placeholder="Please enter service km ...." maxlength="12" required />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-scrollable" style="height: 300px;overflow:auto;">
            <table class="table-view table table-striped table-bordered table-advance table-hover">
                <tr>
                    <th class="table-head" style="width:10%">S.NO.</th>
                    <th class="table-head" style="width:30%;">Checklist</th>
                    <th class="table-head" style="width:60%">Select</th>
                </tr>
                <tr ng-repeat="jobChecklist in bindScopeForm.checklist">
                    <td style="width:10%">{{$index+1}}</td>
                    <td style="width:20%;font-weight: bold;">{{jobChecklist.name}}</td>
                    <td style="width:60%">
                        <div class="col-md-9 md-radio-inline">
                            <div class="form-group custom-form-input">
                                <div class="md-radio">
                                    <input type="radio" id="radio{{jobChecklist.id}}1" ng-model="bindScopeForm.arr_job[jobChecklist.id]" name="arr_job_checklist[{{jobChecklist.id}}]" value="1" class="md-radiobtn" ng-checked = "true" required>
                                    <label for="radio{{jobChecklist.id}}1">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Good </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="radio{{jobChecklist.id}}2" ng-model="bindScopeForm.arr_job[jobChecklist.id]" name="arr_job_checklist[{{jobChecklist.id}}]" value="2" class="md-radiobtn" required>
                                    <label for="radio{{jobChecklist.id}}2">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Average </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="radio{{jobChecklist.id}}3" ng-model="bindScopeForm.arr_job[jobChecklist.id]" name="arr_job_checklist[{{jobChecklist.id}}]" value="3" class="md-radiobtn" required>
                                    <label for="radio{{jobChecklist.id}}3">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Poor </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn default" ng-click="modalInstance.close();" data-dismiss="modal">Close</a>
        <button type="submit" id="update_btn" class="btn blue">Update</button>
    </div>
</form>