<div ng-controller='VehicleJobController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">Generate Invoice</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Generate Invoice Form</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12" ng-init="generateInvoiceForm(id);">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Generate Invoice Form
                    </div>
                </div>
                <div class="portlet-body form">
                    <notification-alert></notification-alert>
                    <form name="formSubmission" id="formSubmission" ng-submit="saveInvoice();" class="form-horizontal" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Job ID</label>
                                        <div class="col-md-9" style="margin-top:10px;font-weight:bold;">
                                            {{bindScopeForm.unique_no}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Job Date & Time</label>
                                        <div class="col-md-9" style="margin-top:10px;font-weight:bold;">
                                            {{bindScopeForm.date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Vehicle No.</label>
                                        <div class="col-md-9" style="margin-top:10px;font-weight:bold;">
                                            {{bindScopeForm.vehicle_number}} ( {{bindScopeForm.vehicle_code}})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Manufacturer</label>
                                        <div class="col-md-9" style="margin-top:10px;font-weight:bold;">
                                            {{bindScopeForm.manufacturer}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Customer Name</label>
                                        <div class="col-md-9" style="margin-top:10px;font-weight:bold;">
                                            {{bindScopeForm.customer_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Customer Mobile</label>
                                        <div class="col-md-9" style="margin-top:10px;font-weight:bold;">
                                            {{bindScopeForm.customer_mobile_no}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Invoice No.</label>
                                        <div class="col-md-9" style="margin-top:10px;font-weight:bold;">
                                            {{uniqueCode}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Invoice Date <span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                <input type="text" class="form-control" id="invoice_date" autocomplete="off" name="invoice_date" ng-model="bindScopeForm.invoice_date"  maxlength="12" required />
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Parts Amount</label>
                                        <div class="col-md-9" style="margin-top:10px;font-weight:bold;">
                                            {{bindScopeForm.part_amount}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Service Amount</label>
                                        <div class="col-md-9" style="margin-top:10px;font-weight:bold;">
                                            {{bindScopeForm.service_amount}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Discount</label>
                                        <div class="col-md-9" style="margin-top:10px;font-weight:bold;">
                                            {{bindScopeForm.total_discount}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Coupon</label>
                                        <div class="col-md-1" style="margin-top:10px;font-weight:bold;">
                                            {{bindScopeForm.coupon}}
                                        </div>
                                        <div class ="col-md-7" style="text-align: left;" ng-if ="bindScopeForm.coupon_name">
                                            <div style="margin-top:7px;padding:3px;color:#fff;background-color:#1c7d74;">{{bindScopeForm.coupon_name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if ="bindScopeForm.enable_service_discount == 1">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Service Discount (%)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" onpaste ="return false" ng-keyup ="calculateServiceDiscount();" onkeypress="return CommonComponent.priceValidate(this,event);" ng-model ="bindScopeForm.service_discount"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Payment Detail</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Paid<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" ng-keyup = "calculateAmt(1);" autocomplete="off" ng-disabled ="bindScopeForm.payment_status" ng-required="!bindScopeForm.payment_status" ng-model="bindScopeForm.amount" class="form-control" name="amount" onpaste = "return false" onkeypress="return CommonComponent.priceValidate(this,event);"/>
                                                <div ng-hide = "!showShortFees || bindScopeForm.payment_status" style="font-weight: bold;">Remaining Amount <b style="color:#f13e64">{{bindScopeForm.shortFees}}</b></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Payment Later</label>
                                            <div class="col-md-2" style="margin-top:5px;">
                                                <input type="checkbox" name="paylater" ng-model="bindScopeForm.payment_status" value="1"/>
                                            </div>
                                            <label class="control-label col-md-4"><b>Lock Invoice Receipt</b></label>
                                            <div class="col-md-2" style="margin-top:5px;">
                                                <input type="checkbox" name="is_lock_invoice" ng-model="bindScopeForm.is_lock_invoice" value="1"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide ="bindScopeForm.payment_status">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Payment Mode <span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <select2 class="form-control" name = "payment_mode" ng-model="bindScopeForm.payment_mode"  s2-options="val.id as val.name for val in arrPaymentModeData" ng-required="!bindScopeForm.payment_status" ng-disabled ="bindScopeForm.payment_status" placeholder="Select Payment Mode"></select2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide ="bindScopeForm.payment_status || bindScopeForm.payment_mode <= 1">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Bank</label>
                                            <div class="col-md-7">
                                                <select2 ng-disabled = "bindScopeForm.payment_mode == 1" class="form-control" name="bank_master_id" ng-model="bindScopeForm.bank_master_id" s2-options="val.id as val.name for val in arrBankData" options="{ allowClear: true }" placeholder="Select Bank"></select2>
                                            </div>
                                            <div class="col-md-2" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getBankList(1);" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ng-show ="bindScopeForm.payment_mode == 2" class="control-label col-md-3">Cheque Number</label>
                                            <label ng-show = "bindScopeForm.payment_mode >= 3" class="control-label col-md-3">Transaction Ref</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-disabled ="bindScopeForm.payment_mode == 1" class="form-control" name="payment_reference_no" id="payment_reference_no" ng-model="bindScopeForm.payment_reference_no" maxlength="100" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide ="bindScopeForm.payment_status">
                                    <div class="col-md-6" ng-show = "bindScopeForm.payment_mode > 1">
                                        <div class="form-group">
                                            <label ng-show ="bindScopeForm.payment_mode ==2" class="control-label col-md-3">Cheque Date</label>
                                            <label ng-show = "bindScopeForm.payment_mode >= 3" class="control-label col-md-3">Transaction Date</label>
                                            <div class="col-md-9">
                                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                    <input type="text" ng-disabled ="bindScopeForm.payment_mode == 1" class="form-control" name="payment_mode_date" ng-model="payment_mode_date" maxlength="12" />
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Remark</label>
                                            <div class="col-md-9">
                                                <textarea name="remark" rows="2" class="form-control" ng-model="bindScopeForm.remark" placeholder="Please enter remark ...."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>