<div ng-controller="VehicleJobController" ng-click="searchboxClicked($event,1);">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Job Complete <small>list</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Job Complete List</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row" id="datatable_ajax" ng-init="init(3);">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <form-tool></form-tool>
                    </div>
                    <div class="actions">
                        <tools></tools>
                    </div>
                </div>
                <div class="row animate-show-hide" collapse = "searchCollapsed">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Search</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-model = "searchFilter.vehicle_code"  placeholder="Enter Job Code" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control date date-picker" type="text" data-date-format="dd-mm-yyyy" ng-model = "searchFilter.start_date"  placeholder="Enter From Date" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control date date-picker" type="text" data-date-format="dd-mm-yyyy" ng-model = "searchFilter.end_date"  placeholder="Enter End Date" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-class = "{'spinner':searchFilter.loadingSpinner}" ng-model="searchFilter.unique_no" ng-keyup ="searchResult('unique_no','loadingSpinner','arrFilterVehicleData','vehicle_master_id',2)" placeholder="Search Vehicle ...."/>
                                            <ul id="search-result">
                                                <li ng-click = "setValue($index,$event,'unique_no','arrFilterVehicleData','vehicle_master_id')" ng-repeat = "search in searchFilter.arrFilterVehicleData">
                                                    <div class="search-head" style="font-weight: bold;">{{search.unique_no}}</div>
                                                    <div class="search-common" style="display: flow-root;">
                                                        <div style="float: left;"><b>V No. :</b> {{search.vehicle_number}}</div>
                                                        <div style="float: right;" ng-switch ="search.in_house_vehicle">
                                                            <b>In House</b> :
                                                            <b ng-switch-when ="0" style="color:red;">No</b>
                                                            <b ng-switch-when ="1" style="color:green">Yes</b>
                                                        </div>
                                                    </div>
                                                    <div class="search-common"><b>Engine No. :</b> {{search.engine_number}}</div>
                                                    <div class="search-common"><b>Chasis No. :</b> {{search.chasis_number}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select2 class="form-control" ng-model="searchFilter.job_status" s2-options="val.id as val.name for val in arrJobStatusData" ng-required="true" placeholder="All Status"></select2>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm btn-success table-group-action-submit" ng-click = "search()"><i class="fa fa-search"></i> Submit</button>
                                            <button type="button" class="btn btn-sm default table-group-action-submit" ng-click="reset()"><i class="fa fa-search"></i> Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-container" ng-include="'components/templates/dashboard/datatable.html'"></div>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>
