<div class="portlet-body form" ng-controller = "VehicleJobController">
    <form name="paymentFormSubmission" id="paymentFormSubmission" ng-submit="savePayment();" class="form-horizontal form-bordered form-row-stripped" novalidate>
        <div class="modal-header" style="background-color: #3598dc;color:#fff;">
            <h4 class="modal-title">Add Payment</h4>
        </div>
        <div class="modal-body">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">Due Amount</label>
                    <div class="col-md-9" style="line-height: 2.2em;"><b>{{total}}</b></div>
                </div>
                <div ng-show = "partial > 0" class="form-group">
                    <label class="control-label col-md-3">Partial Amount</label>
                    <div class="col-md-9" style="line-height: 2.2em;"><b>{{partial}}</b></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Received Date<span class="required">* </span></label>
                    <div class="col-md-9">
                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                            <input type="text" class="form-control" id="payment_date" readonly="" name="payment_date" ng-model="payment_date" maxlength="12" required />
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Amount<span class="required">* </span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-required = "true" name="paid" ng-change = "payment();" ng-model="paid" onpaste = "return false" maxlength="10" onkeypress="return CommonComponent.priceValidate(this,event);" placeholder="Please Amount" />
                        <div ng-show ="shortFees > 0" style="color:#F3565D;font-weight: bold;margin-top:10px;">Remaing Amount : {{shortFees}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Payment Mode<span class="required">* </span></label>
                    <div class="col-md-9">
                        <select2 class="form-control" name = "payment_mode" ng-model="payment_mode"  s2-options="val.id as val.name for val in arrPaymentModeData" ng-required="true" placeholder="Select Payment Mode"></select2>
                    </div>
                </div>
                <div ng-show = "payment_mode == 2 || payment_mode == 4" class="form-group">
                    <label class="control-label col-md-3">Bank<span class="required">* </span></label>
                    <div class="col-md-6">
                        <select2 ng-disabled = "payment_mode != 2 && payment_mode != 4" ng-required="payment_mode == 2 || payment_mode == 4" class="form-control" name="bank_master_id" ng-model="bank_master_id" s2-options="val.id as val.name for val in arrBankData" options="{ allowClear: true }" placeholder="Select Bank"></select2>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                        <span class="input-group-btn">
                            <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getBankList(1);" class="btn btn-default">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div ng-show = "payment_mode > 1" class="form-group">
                    <label ng-show ="payment_mode == 2" class="control-label col-md-3">Cheque Number<span class="required">* </span></label>
                    <label ng-show = "payment_mode >= 3" class="control-label col-md-3">Transaction Ref</label>
                    <div class="col-md-9">
                        <input type="text" ng-disabled ="payment_mode == 1" class="form-control" ng-required = "payment_mode == 2" name="payment_reference_no" id="payment_reference_no" ng-model="payment_reference_no" maxlength="120" placeholder="Please Cheque Number" />
                    </div>
                </div>
                <div ng-show = "payment_mode > 1" class="form-group">
                    <label ng-show ="payment_mode ==2" class="control-label col-md-3">Cheque Date<span class="required">* </span></label>
                    <label ng-show = "payment_mode >= 3" class="control-label col-md-3">Transaction Date<span class="required">* </span></label>
                    <div class="col-md-9">
                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                            <input type="text" ng-required = "payment_mode > 1" ng-disabled ="payment_mode == 1" class="form-control"  readonly="" name="payment_mode_date" ng-model="payment_mode_date" maxlength="12" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-show = "payment_type == 1" class="form-group">
                    <label class="control-label col-md-3">Amount<span class="required">* </span></label>
                    <div class="col-md-9">
                        <input type="text" validator = "priceValidator() == true" ng-disabled ="payment_type == 2" class="form-control" ng-required = "payment_type == 1" onpaste = "return false;" onkeypress="return CommonComponent.priceValidate(this,event);" name="part_amount"  ng-model="part_amount" maxlength="20" placeholder="Please enter amount" />
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : paymentFormSubmission.remarks.$invalid && !paymentFormSubmission.remarks.$pristine }">
                    <label class="control-label col-md-3">Remark</label>
                    <div class="col-md-9">
                        <textarea name="remark" rows="2" class="form-control" ng-model="remarks" placeholder="Please enter remark ...."></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn default" ng-click="modalInstance.close();" data-dismiss="modal">Close</a>
            <button type="submit" id="update_btn" class="btn blue">Save</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>