<div ng-controller="VehicleJobController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        {{caption}} Complete <small>list</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Print {{caption}} Invoice</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row" style="text-align: right;margin-bottom: 20px;">
        <div class="col-xs-12 invoice-block">
            <a class="btn blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
            Print <i class="fa fa-print"></i>
            </a>
            <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
        </div>
    </div>
    <div ng-init = "print_invoice();">
        <table style="width:100%;border:2px solid #000;border-collapse: collapse;">
            <tr>
                <td><report-header></report-header></td>
            </tr>
            <tr>
                <td>
                    <div style="background-color:#000;color:#fff;font-size:21px;font-family: calibri;text-align:center;">A Unit of Amarpadma Group</div>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%;border-collapse: collapse;"> 
                        <tr>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Invoice No.</td>
                            <td class="receipt-content" style="width: 30%;">{{bindScopeForm.unique_no}}</td>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Date</td>
                            <td class="receipt-content" style="width: 30%;">{{bindScopeForm.job_date}}</td>
                        </tr>
                        <tr>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Name</td>
                            <td colspan="3">{{bindScopeForm.customer_name}}</td>
                        </tr>
                        <tr>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Mobile No.</td>
                            <td class="receipt-content" style="width: 30%;">{{bindScopeForm.customer_mobile_no}}</td>
                            <td class="receipt-header" style="width:20%;text-align:right;padding-right: 20px;">Email ID</td>
                            <td class="receipt-content" style="width: 30%;">{{bindScopeForm.customer_email_id}}</td>
                        </tr>
                        <tr>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Address</td>
                            <td colspan="3">{{bindScopeForm.customer_address}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table style="width: 100%;border:2px solid#000;border-collapse: collapse;">
            <tr>
                <th class="product-header">Product</th>
                <th class="product-header">Description</th>
                <th class="product-header">Qty</th>
                <th class="product-header">Unit Price</th>
                <th class="product-header">Amount</th>
            </tr>
            <tr ng-repeat="product in bindScopeForm.parts">
                <td class="product-content">{{product.name}}</td>
                <td class="product-content">{{product.description}}</td>
                <td class="product-content" style="text-align: right;">{{product.quantity}}</td>
                <td class="product-content" style="text-align: right;">{{product.unit_price}}</td>
                <td class="product-content" style="text-align: right;">{{product.total}}</td>
            </tr>
            <tr>
                <td colspan="2" style="width: 50%;vertical-align: top;" rowspan="4" class="product-content">In Words : <div>{{bindScopeForm.inwords}}</div></td>
                <td colspan="2" style="width: 35%;text-align: right;padding-right: 20px;" class="product-content">Total</td>
                <td style="width: 15%;text-align: right;" class="product-content">{{bindScopeForm.sub_total}}</td>
            </tr>
            <tr>
                <td colspan="2" class="product-content" style="text-align: right;padding-right: 20px;">Discount</td>
                <td style="width: 15%;text-align: right;" class="product-content">{{bindScopeForm.discount}}</td>
            </tr>
            <tr>
                <td colspan="2" class="product-content" style="text-align: right;padding-right: 20px;">Tax</td>
                <td style="width: 15%;text-align: right;" class="product-content">{{bindScopeForm.total_tax}}</td>
            </tr>
            <tr>
                <td colspan="2" class="product-content" style="text-align: right;padding-right: 20px;">Grand Total</td>
                <td style="width: 15%;text-align: right;" class="product-content">{{bindScopeForm.total}}</td>
            </tr>
            <tr>
                <td colspan="3" style="border:2px solid #000;height:60px;vertical-align: bottom;padding-left: 30px;">
                    <div style="font-weight: bold;font-family: calibri;font-size:18px;">NOTE:</div>
                    <div style="font-family: calibri;font-size:18px;">Subject to Jodhpur Juridiction</div>
                </td>
                <td colspan="2" style="vertical-align: bottom;font-size:18px;border:2px solid #000;height:60px;font-weight: bold;font-family: calibri;text-align: right;padding-right: 30px;">
                    Signature
                </td>
            </tr>
        </table>
    </div>
</div>