<style>
    .tabbable-custom{
        overflow:visible !important;
    }
</style>
<div ng-controller = "VehicleJobController" ng-click = "searchboxClicked($event,2);">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add Job Parts / Service</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init = "getJobPartDetail(id,2);">
        <div class="col-md-12">
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add Job Parts / Service
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form id="formSubmission" name="formSubmission" ng-submit ="saveVehicleProduct(2);" class="form-horizontal" novalidate>
                    <div class="form-body">
                        <accordion close-others="1">
                            <accordion-group is-open="jobAccordianTab.first">
                                <accordion-heading>
                                    Vehicle Job Detail <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': jobAccordianTab.first, 'fa-angle-right': !jobAccordianTab.first}"></i>
                                </accordion-heading>
                                <div class="table-responsive">
                                    <table class="table-report table-view table table-striped table-bordered table-advance">
                                        <tr>
                                            <th style="width: 20%;">Vehicle Job ID</th>
                                            <td style="width: 30%;">{{bindScopeForm.unique_no}}</td>
                                            <th style="width: 20%;">Vehicle Job Date</th>
                                            <td style="width: 30%;">{{bindScopeForm.date}}</td>
                                        </tr>
                                        <tr>
                                            <th style="width: 20%;">Vehicle Code</th>
                                            <td style="width: 30%;">{{bindScopeForm.vehicle_code}}</td>
                                            <th style="width: 20%;">Vehicle Number</th>
                                            <td style="width: 30%;">{{bindScopeForm.vehicle_number}}</td>
                                        </tr>
                                        <tr>
                                            <th style="width: 20%;">Total Product Amount</th>
                                            <td style="width: 30%;">{{summary.total}}</td>
                                            <th style="width: 20%;">Total Service Amount</th>
                                            <td style="width: 30%;">{{services.total}}</td>
                                        </tr>
                                        <tr>
                                            <th>Total Amount</th>
                                            <td colspan="3">{{services.total + summary.total}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </accordion-group>

                            <accordion-group is-open="jobAccordianTab.second">
                                <accordion-heading>
                                    Vehicle Parts Detail <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': jobAccordianTab.second, 'fa-angle-right': !jobAccordianTab.second}"></i>
                                </accordion-heading>
                                <fieldset>
                                    <legend>Search Parts</legend>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" ng-class = "{'spinner':spinner}" ng-keyup ="searchProductStockList(productFilter.product);" ng-click ="searchProductStockList(productFilter.product);" ng-model ="productFilter.product" autocomplete="off" placeholder="Search Product...."/>
                                                    <ul id="search-result">
                                                        <li ng-click = "getProductDetail($index,$event)" ng-repeat = "product in arrProductData">
                                                            <div class="search-head" style="font-weight: bold;">{{product.name}}</div>
                                                            <div class="instock" ng-if ="product.stock > 0">Stock - {{product.stock}}</div>
                                                            <div class="outofstock" ng-if ="product.stock <= 0">Out of stock</div>
                                                            <div class="search-common"><b>Price:</b> {{product.price}}</div>
                                                            <div class="search-common"><b>code:</b> {{product.code}}</div>
                                                            <div class="search-common"><b>HSN code:</b> {{product.hsn_code}}</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="number" ng-min="1" ng-max="stockQty" class="form-control" ng-model="productFilter.quantity" onpaste = "return false" autocomplete="off" onkeypress="return CommonComponent.allowOnlyNumeric(event);" placeholder="Enter Quantity ..." maxlength="9" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" ng-model="productFilter.price" onpaste = "return false" autocomplete="off"  placeholder="Enter Price ..." maxlength="12" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" ng-model="productFilter.discount" onpaste = "return false" autocomplete="off"  placeholder="Enter Discount (%)" maxlength="12" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <select2 class="form-control" ng-model="productFilter.tax_group_master_id" ng-change = "productTaxDetail();" s2-options="val.id as val.name for val in arrTaxGroupData" options="{ allowClear: true }" placeholder="Select Tax"></select2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-sm blue-hoki" ng-disabled = "isSelectedProduct == false || !productFilter.quantity || productFilter.quantity <= 0 || !productFilter.price || productFilter.price <= 0" ng-click = "saveProductStockDetail()">Add</button>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="table-responsive" style="max-height: 400px;overflow: auto;margin-top:10px;">
                                    <table class="table-report table-view table table-striped table-bordered table-advance">
                                        <thead>
                                            <tr role="row" class="heading">
                                                <th style="width: 30%;" class="table-head">Product</th>
                                                <th style="width: 10%;" class="table-head">Quantity</th>
                                                <th style="width: 10%;" class="table-head">Unit Price</th>
                                                <th style="width: 20%;" class="table-head">Tax</th>
                                                <th style="width: 10%;" class="table-head">Discount(%)</th>
                                                <th style="width: 10%;" class="table-head">Amount</th>
                                                <th style="width:10%;" class="table-head"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat ="rows in productRow">
                                                <td>
                                                    <div>{{rows.name}}</div>
                                                    <div><b>Stock- </b>{{rows.stock}}</div>
                                                </td>
                                                <td>{{rows.quantity}}</td>
                                                <td>{{rows.price}}</td>
                                                <td>{{rows.taxname}}</td>
                                                <td>{{rows.discount}}</td>
                                                <td>{{rows.subtotal}}</td>
                                                <td>
                                                    <button type="button" ng-click="deleteRecord(rows,$index,1);" class="btn default btn-xs red" data-container="body" data-placement="top" data-original-title="Delete Record"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <table class="table-view table table-striped table-bordered table-advance table-hover">
                                    <tr ng-repeat = "taxes in arrTaxDetail">
                                        <th colspan="3" style="width:80%;text-align: right;padding-right: 10px;">{{taxes.name}} : </th>
                                        <th style="width:20%;">{{taxes.price}}</th>
                                    </tr>
                                    <tr ng-if = "arrTaxDetail.length > 0">
                                        <td colspan="4">&nbsp;</td>
                                    </tr>
                                    <tr role="row" class="heading">
                                        <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Sub Total : <b>{{summary.subtotal}}</b></th>
                                        <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Total Tax : <b>{{summary.tax}}</b></th>
                                        <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Discount : <b>{{summary.discount}}</b></th>
                                        <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Grand Total : <b>{{summary.total}}</b></th>
                                    </tr>
                                </table>
                            </accordion-group>

                            <accordion-group is-open="jobAccordianTab.third">
                                <accordion-heading>
                                    Vehicle Service Detail <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': jobAccordianTab.third, 'fa-angle-right': !jobAccordianTab.third}"></i>
                                </accordion-heading>
                                <fieldset>
                                    <legend>Search Service</legend>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" ng-class = "{'spinner':spinner}" ng-keyup ="searchServiceDetail(serviceFilter.service);" ng-click ="searchServiceDetail(serviceFilter.service);" ng-model ="serviceFilter.service" autocomplete="off" placeholder="Search Service ...."/>
                                                    <ul id="search-result">
                                                        <li ng-click = "getServiceDetail($index,$event)" ng-repeat = "service in arrServiceData">
                                                            <div class="search-head" style="font-weight: bold;">{{service.name}}</div>
                                                            <div class="search-common"><b>Price:</b> {{service.price}}</div>
                                                            <div class="search-common"><b>code:</b> {{service.code}}</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" ng-model="serviceFilter.price" onpaste = "return false" autocomplete="off"  placeholder="Enter Price ..." maxlength="12" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-sm blue-hoki" ng-disabled = "isSelectedService == false || !serviceFilter.price || serviceFilter.price <= 0" ng-click = "saveServiceDetail()">Add</button>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="table-responsive" style="max-height: 400px;overflow: auto;margin-top:10px;">
                                    <table class="table-report table-view table table-striped table-bordered table-advance">
                                        <thead>
                                            <tr role="row" class="heading">
                                                <th style="width: 30%;" class="table-head">Product</th>
                                                <th style="width: 10%;" class="table-head">Amount</th>
                                                <th style="width:10%;" class="table-head"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat ="service in serviceRow">
                                                <td>{{service.name}}</td>
                                                <td>{{service.subtotal}}</td>
                                                <td>
                                                    <button type="button" ng-click="deleteRecord(service,$index,2);" class="btn default btn-xs red" data-container="body" data-placement="top" data-original-title="Delete Record"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <table class="table-view table table-striped table-bordered table-advance table-hover">
                                    <tr ng-if ="vehicleCouponDetail.name">
                                        <th colspan="2" style="width:80%;text-align: right;padding-right: 30px !important;" ng-switch ="vehicleCouponDetail.expired">
                                            <b ng-switch-when = "0">Coupon Applied : </b>
                                            <b ng-switch-when = "1">Coupon Expired : </b>
                                        </th>
                                        <th style="width:20%;text-align: center;" ng-switch ="vehicleCouponDetail.expired">
                                            <div ng-switch-when = "0" class="btn btn-xs green">{{vehicleCouponDetail.name}} - ({{vehicleCouponDetail.service}})</div>
                                            <div ng-switch-when = "1" class="btn btn-xs btn-warning">{{vehicleCouponDetail.name}}</div>
                                        </th>
                                    </tr>
                                    <tr role="row" class="heading">
                                        <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Sub Total : <b>{{services.subtotal}}</b></th>
                                        <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Coupon : <b>{{services.coupon}}</b></th>
                                        <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Grand Total : <b>{{services.total}}</b></th>
                                    </tr>
                                </table>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div class="form-actions">
                        <div class="col-lg-offset-3 col-lg-9 col-left-add">
                            <button type="submit" class="btn green" id="record_save_btn">Submit</button>
                            <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>