<style>
    .tabbable-custom{
        overflow:visible !important;
    }
</style>
<div ng-controller = "VehicleJobController" ng-click = "searchboxClicked($event,3);">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add Job Parts / Service</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init = "getJobPartDetail(id,3);">
        <div class="col-md-12">
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add Job Parts / Service
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form id="formSubmission" name="formSubmission" ng-submit ="saveVehicleProduct(1);" class="form-horizontal" novalidate>
                    <div class="form-body">
                        <fieldset>
                            <legend>Search Spare Parts</legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" ng-class = "{'spinner':spinner}" ng-keyup ="searchProduct(productFilter.product,2);" ng-click ="searchProduct(productFilter.product,2);" ng-model ="productFilter.product" autocomplete="off" placeholder="Search Product...."/>
                                            <ul id="search-result">
                                                <li ng-click = "selectedProductDetail($index,$event)" ng-repeat = "product in arrProductData">
                                                    <div class="search-head" style="font-weight: bold;">{{product.name}}</div>
                                                    <div class="instock" ng-if ="product.stock > 0">Stock - {{product.stock}}</div>
                                                    <div class="outofstock" ng-if ="product.stock <= 0">Out of stock</div>
                                                    <div class="search-common"><b>Price:</b> {{product.price}}</div>
                                                    <div class="search-common"><b>code:</b> {{product.code}}</div>
                                                    <div class="search-common"><b>HSN code:</b> {{product.hsn_code}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="number" ng-min="1" ng-max="stockQty" class="form-control" ng-model="productFilter.quantity" onpaste = "return false" autocomplete="off" onkeypress="return CommonComponent.allowOnlyNumeric(event);" placeholder="Enter Quantity ..." maxlength="9" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" ng-model="productFilter.price" onpaste = "return false" autocomplete="off"  placeholder="Enter Price ..." maxlength="12" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-sm blue-hoki" ng-disabled = "isSelectedProduct == false || !productFilter.quantity || productFilter.quantity <= 0" ng-click = "saveProductDetail(2)">Add</button>
                                </div>
                            </div>
                        </fieldset>
                        <div class="table-responsive" style="max-height: 400px;overflow: auto;margin-top:10px;">
                            <table class="table-report table-view table table-striped table-bordered table-advance">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th style="width: 30%;" class="table-head">Product</th>
                                        <th style="width: 10%;" class="table-head">Quantity</th>
                                        <th style="width: 10%;" class="table-head">Unit Price</th>
                                        <th style="width: 10%;" class="table-head">Amount</th>
                                        <th style="width:10%;" class="table-head"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat ="rows in productRow">
                                        <td>{{rows.name}}</td>
                                        <td>{{rows.quantity}}</td>
                                        <td>{{rows.price}}</td>
                                        <td>{{rows.subtotal}}</td>
                                        <td>
                                            <button type="button" ng-click="deleteRecord(rows,$index,3);" class="btn default btn-xs red" data-container="body" data-placement="top" data-original-title="Delete Record"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-lg-offset-3 col-lg-9 col-left-add">
                            <button type="submit" class="btn green" id="record_save_btn">Submit</button>
                            <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>