<div ng-controller='VehicleJobController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">View {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row" ng-init="view(id);">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Job ID : {{bindScopeForm.unique_no}}</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table-view table table-striped table-bordered table-advance table-hover">
                            <tr>
                                <th class="table-head" style="width:20%;">Job Date & Time</th>
                                <td class="table-content" style="width:30%;">
                                    {{bindScopeForm.job_date}} {{bindScopeForm.job_time}}
                                </td>
                                <th class="table-head" style="width:20%;">Completion Date & Time</th>
                                <td class="table-content" style="width:30%;">
                                    {{bindScopeForm.completion_date}} {{bindScopeForm.completion_time}}
                                </td>
                            </tr>
                            <tr>
                                <th class="table-head" style="width:20%;">Vehicle No.</th>
                                <td class="table-content" style="width:30%;">
                                    {{bindScopeForm.vehicle_number}} ( {{bindScopeForm.vehicle_code}})
                                </td>
                                <th class="table-head" style="width:20%;">Manufacturer</th>
                                <td class="table-content" style="width:30%;">
                                    {{bindScopeForm.manufacturer}}
                                </td>
                            </tr>
                            <tr>
                                <th class="table-head" style="width:20%;">Vehicle Type</th>
                                <td class="table-content" style="width:30%;">
                                    {{bindScopeForm.vehicle_type}}
                                </td>
                                <th class="table-head" style="width:20%;">Vehicle Model</th>
                                <td class="table-content" style="width:30%;">
                                    {{bindScopeForm.vehicle_model}}
                                </td>
                            </tr>
                            <tr>
                                <th class="table-head" style="width:20%;">Customer Name</th>
                                <td class="table-content" style="width:30%;">
                                    {{bindScopeForm.customer_name}}
                                </td>
                                <th class="table-head" style="width:20%;">Customer Mobile No.</th>
                                <td class="table-content" style="width:30%;">
                                    {{bindScopeForm.customer_mobile_no}}
                                </td>
                            </tr>
                            <tr>
                                <th class="table-head" style="width:20%;">In House Vehicle</th>
                                <td class="table-content" style="width:30%;" ng-switch="bindScopeForm.in_house_vehicle">
                                    <button ng-switch-when = "2" type="button" class="btn btn-xs green">Yes</button>
                                    <button ng-switch-when = "1" type="button" class="btn btn-xs red">No</button>
                                 </td>
                                 <td colspan="2"></td>
                            </tr>
                        </table>
                    </div>
                    <h4 style="font-weight: bold;font-family: calibri;">Parts Information:</h4>
                    <div class="table-scrollable">
                        <table class="table-view table table-striped table-bordered table-advance table-hover">
                            <tr>
                                <th class="table-head" style="width:10%;font-weight:bold;text-align: center;">S.No.</th>
                                <th class="table-head" style="width:20%;font-weight:bold;text-align: center;">Product</th>
                                <th class="table-head" style="width:10%;font-weight:bold;text-align: center;">Quantity</th>
                                <th class="table-head" style="width:10%;font-weight:bold;text-align: center;">Unit Price</th>
                                <th class="table-head" style="width:10%;font-weight:bold;text-align: center;">Total Tax</th>
                                <th class="table-head" style="width:10%;font-weight:bold;text-align: center;">Discount(%)</th>
                                <th class="table-head" style="width:10%;font-weight:bold;text-align: center;">Discount Amount</th>
                                <th class="table-head" style="width:10%;font-weight:bold;text-align: center;">Total Price</th>
                            </tr>
                            <tr ng-repeat="parts in bindScopeForm.product">
                                <td style="text-align: center;">{{$index+1}}.</td>
                                <td style="text-align: center;">{{parts.name}}</td>
                                <td style="text-align: right;">{{parts.quantity}}</td>
                                <td style="text-align: right;">{{parts.price}}</td>
                                <td style="text-align: right;">{{parts.item_tax}}</td>
                                <td style="text-align: right;">{{parts.discount}}</td>
                                <td style="text-align: right;">{{parts.discount_amount}}</td>
                                <td style="text-align: right;">{{parts.total}}</td>
                            </tr>
                        </table>
                    </div>
                    <h4 style="font-weight: bold;font-family: calibri;">Service Information:</h4>
                    <div class="table-scrollable">
                        <table class="table-view table table-striped table-bordered table-advance table-hover">
                            <tr>
                                <th class="table-head" style="width:10%;font-weight:bold;text-align: center;">S.No.</th>
                                <th class="table-head" style="width:20%;font-weight:bold;text-align: center;">Service</th>
                                <th class="table-head" style="width:10%;font-weight:bold;text-align: center;">Total Price</th>
                            </tr>
                            <tr ng-repeat="service in bindScopeForm.service">
                                <td style="text-align: center;">{{$index+1}}.</td>
                                <td style="text-align: center;">{{service.name}}</td>
                                <td style="text-align: right;">{{service.subtotal}}</td>
                            </tr>
                        </table>
                        <table class="table-view table table-striped table-bordered table-advance table-hover">
                            <tr>
                                <th class="table-head" style="width:80%;font-weight:bold;text-align: right;padding-right: 60px;">Grand Total</th>
                                <th class="table-head" style="width:20%;font-weight:bold;text-align: right;">{{bindScopeForm.amount}}</th>
                            </tr>
                        </table>
                    </div>
                    <h4 style="font-weight: bold;font-family: calibri;">Checklist Information:</h4>
                    <div class="table-scrollable">
                        <table class="table-view table table-striped table-bordered table-advance table-hover">
                            <tr>
                                <th class="table-head" style="text-align:center;width:20%;font-weight:bold;">S.No.</th>
                                <th class="table-head" style="text-align:left;width:80%;font-weight:bold;">Checklist</th>
                            </tr>
                            <tr ng-repeat="(key,value) in bindScopeForm.checkList">
                                <td style="text-align: center;">{{$index+1}}.</td>
                                <td style="text-align: left;font-weight: bold;">{{value}}</td>
                            </tr>
                        </table>
                    </div>
                    <h4 style="font-weight: bold;font-family: calibri;">Remarks</h4>
                    <div class="table-scrollable">
                        <table class="table-view table table-striped table-bordered table-advance table-hover">
                            <tr>
                                <th class="table-head" style="text-align:center;width:20%;font-weight:bold;">Complain</th>
                                <th class="table-head" style="text-align:left;width:80%;font-weight:bold;">Remark</th>
                            </tr>
                            <tr ng-repeat="cp in complainRow">
                                <td style="text-align: center;">{{cp.complain}}</td>
                                <td style="text-align: left;font-weight: bold;">{{cp.remark}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
        </div>
    </div>
</div>