<div ng-controller="SettingsController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">General Settings</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">General Settings</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row" ng-init="generalSetting();">
        <div class="col-md-12">
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gear"></i>General Settings
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="formSubmission" id="formSubmission" ng-submit="saveGeneralSetting();" class="form-horizontal form-bordered" novalidate>
                        <div class="form-body">
                            <div class="tabbable-custom nav-justified">
                                <ul class="nav nav-tabs nav-justified" style="margin-top:10px;">
                                    <li ng-class="{'active': generalSettingTab == 1}">
                                        <a href="javascript:;" ng-click="generalSettingTab = 1" data-toggle="tab" aria-expanded="true">
                                            General Information 
                                        </a>
                                    </li>
                                    <li ng-class="{'active': generalSettingTab == 2}">
                                        <a href="javascript:;" ng-click="generalSettingTab = 2" data-toggle="tab" aria-expanded="false">
                                            General Settings 
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" ng-class="{'active': generalSettingTab == 1}" ng-show="generalSettingTab == 1">
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.firm_name.$invalid && !formSubmission.firm_name.$pristine }">
                                            <label class="control-label col-md-3">Firm Name<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="firm_name" ng-model="bindScopeForm.firm_name" maxlength="160" required />
                                                    <p ng-show="formSubmission.firm_name.$invalid && !formSubmission.firm_name.$pristine" class="help-block">Firm Name is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.pan_number.$invalid && !formSubmission.pan_number.$pristine }">
                                            <label class="control-label col-md-3">Pan-card No.<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="pan_number" ng-model="bindScopeForm.pan_number" ng-maxlength="10" ng-maxlength="10" required />
                                                    <p ng-show="formSubmission.pan_number.$invalid && !formSubmission.pan_number.$pristine" class="help-block">Pan card no. is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.gst_number.$invalid && !formSubmission.gst_number.$pristine }">
                                            <label class="control-label col-md-3">GST No.<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="gst_number" ng-model="bindScopeForm.gst_number" maxlength="60" required />
                                                    <p ng-show="formSubmission.gst_number.$invalid && !formSubmission.gst_number.$pristine" class="help-block">GST Number is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.contact_person.$invalid && !formSubmission.contact_person.$pristine }">
                                            <label class="control-label col-md-3">Contact Person<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="contact_person" ng-model="bindScopeForm.contact_person" maxlength="60" required />
                                                    <p ng-show="formSubmission.contact_person.$invalid && !formSubmission.contact_person.$pristine" class="help-block">Contact Person is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.mobile_no.$invalid && !formSubmission.mobile_no.$pristine }">
                                            <label class="control-label col-md-3">Mobile No.<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="mobile_no" ng-model="bindScopeForm.mobile_no" ng-pattern-err-type="validMobileMessage" ng-pattern="/^(\d)+$/" ng-maxlength="12" ng-minlength ="10" required />
                                                    <p ng-show="formSubmission.mobile_no.$invalid && !formSubmission.mobile_no.$pristine" class="help-block">Mobile No. is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.alternate_mobile_no.$invalid && !formSubmission.alternate_mobile_no.$pristine }">
                                            <label class="control-label col-md-3">Alternate Mobile No.</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="alternate_mobile_no" ng-model="bindScopeForm.alternate_mobile_no" onkeypress="return CommonComponent.allowOnlyNumeric(event);" ng-pattern-err-type="validMobileMessage" ng-pattern="/^(\d)+$/" ng-maxlength="12" ng-minlength ="10" />
                                                    <p ng-show="formSubmission.alternate_mobile_no.$invalid && !formSubmission.alternate_mobile_no.$pristine" class="help-block">Alternate mobile no is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.email_id.$invalid && !formSubmission.email_id.$pristine }">
                                            <label class="control-label col-md-3">Email-ID<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="email" class="form-control" name="email_id" ng-model="bindScopeForm.email_id" maxlength="160" required />
                                                    <p ng-show="formSubmission.email_id.$invalid && !formSubmission.email_id.$pristine" class="help-block">Please enter valid emailid is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.alternate_email_id.$invalid && !formSubmission.alternate_email_id.$pristine }">
                                            <label class="control-label col-md-3">Alternate Email-ID</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="email" class="form-control" name="alternate_email_id" ng-model="bindScopeForm.alternate_email_id" maxlength="160" />
                                                    <p ng-show="formSubmission.alternate_email_id.$invalid && !formSubmission.alternate_email_id.$pristine" class="help-block">Please enter valid alternate emailid is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="countryDiv" ng-class="{ 'has-error' : formSubmission.country_master_id.$invalid && !formSubmission.country_master_id.$pristine }">
                                            <label class="control-label col-md-3">Country<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="country_master_id" ng-model="bindScopeForm.country_master_id" ng-change="getStateList(1);" s2-options="val.id as val.name for val in arrCountryData" options="{ allowClear: true }" placeholder="Select Country" ng-required="true"></select2>
                                                <p ng-show="formSubmission.country_master_id.$invalid && !formSubmission.country_master_id.$pristine" class="help-block">Country is required.</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <div class="input-group input-icon right">
                                                    <span class="input-group-btn">
                                                        <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getCountryList(1);" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="stateDiv" ng-class="{ 'has-error' : formSubmission.state_master_id.$invalid && !formSubmission.state_master_id.$pristine }">
                                            <label class="control-label col-md-3">State<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="state_master_id" ng-model="bindScopeForm.state_master_id" ng-change="getCityList(1);" s2-options="val.id as val.name for val in arrStateData" options="{ allowClear: true }" placeholder="Select State" ng-required="true"></select2>
                                                <p ng-show="formSubmission.state_master_id.$invalid && !formSubmission.state_master_id.$pristine" class="help-block">State is required.</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <div class="input-group input-icon right">
                                                    <span class="input-group-btn">
                                                        <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getStateList(1);" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="cityDiv" ng-class="{ 'has-error' : formSubmission.city_master_id.$invalid && !formSubmission.city_master_id.$pristine }">
                                            <label class="control-label col-md-3">City<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="city_master_id" ng-model="bindScopeForm.city_master_id" s2-options="val.id as val.name for val in arrCityData" options="{ allowClear: true }" placeholder="Select City" ng-required="true"></select2>
                                                <p ng-show="formSubmission.city_master_id.$invalid && !formSubmission.city_master_id.$pristine" class="help-block">City is required.</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <div class="input-group input-icon right">
                                                    <span class="input-group-btn">
                                                        <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getCityList(1);" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.website_url.$invalid && !formSubmission.website_url.$pristine }">
                                            <label class="control-label col-md-3">Website URL</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="url" class="form-control" name="website_url" ng-model="bindScopeForm.website_url" maxlength="160" />
                                                    <p ng-show="formSubmission.website_url.$invalid && !formSubmission.website_url.$pristine" class="help-block">Valid website url is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.residential_address.$invalid && !formSubmission.residential_address.$pristine }">
                                            <label class="control-label col-md-3">Residential Address</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <textarea name="residential_address" rows="4" class="form-control" ng-model="bindScopeForm.residential_address"></textarea>
                                                    <p ng-show="formSubmission.name.$invalid && !formSubmission.name.$pristine" class="help-block">Residential address is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.permanent_address.$invalid && !formSubmission.permanent_address.$pristine }">
                                            <label class="control-label col-md-3">Permanent Address</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <textarea name="permanent_address" rows="4" class="form-control" ng-model="bindScopeForm.permanent_address"></textarea>
                                                    <p ng-show="formSubmission.name.$invalid && !formSubmission.name.$pristine" class="help-block">Permanent address is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.logo.$invalid && !formSubmission.logo.$pristine }">
                                            <label class="control-label col-md-3">Logo</label>
                                            <div class="col-md-9">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <img ng-if="bindScopeForm.logo!=''" ng-src="{{settingLogoPath}}" class="fileinput-preview thumbnail" id="preview" data-trigger="fileinput" style="width: 200px; height: 150px;" />
                                                    <img ng-if="bindScopeForm.logo==''" class="fileinput-preview thumbnail" id="preview" data-trigger="fileinput" style="width: 200px; height: 150px;" />
                                                    <div>
                                                        <span class="btn default btn-file">
                                                        <span class="fileinput-new">Select Logo </span>
                                                        <input type="file" id="logoId" accept="image/*" onchange="angular.element(this).scope().uploads(this)" />
                                                        </span>
                                                        <p ng-show="formSubmission.logo.$invalid && !formSubmission.logo.$pristine" class="help-block">Logo is required.</p>
                                                        <input type="hidden" ng-model="bindScopeForm.logo" name="logo" id="logo" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                                <button type="button" class="btn blue" id="backbtn1" ng-click="generalSettingTab = 2">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" ng-class="{'active': generalSettingTab == 2}" ng-show="generalSettingTab == 2">
                                        <div class="form-group" style="border-bottom:2px solid gray;">
                                            <div class="col-md-12" style="font-weight:bold;">Tags :-</div>
                                            <label class="control-label col-md-2">Auto Increment:-</label>
                                            <div class="col-md-4">
                                                <strong>
                                                        <input type="text" class="form-control"  readonly="true" id="auto_increment" value="%AUTO_INCREMENT_DIGIT%"/>
                                                </strong>
                                            </div>
                                            <div class="col-md-6 " style="font-weight:bold;cursor: pointer;">
                                                <button class="btn btn-xs purple" type="button" onclick="tagCopy('auto_increment');">Copy</button>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.franchise_unique_string.$invalid && !formSubmission.franchise_unique_string.$pristine }">
                                            <label class="control-label col-md-3">Franchise Unique Code<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <textarea style="font-weight: bold;" name="franchise_unique_string" rows="4" class="form-control" ng-model="bindScopeForm.franchise_unique_string" required></textarea>
                                                    <p ng-show="formSubmission.franchise_unique_string.$invalid && !formSubmission.franchise_unique_string.$pristine" class="help-block">Franchise unique code is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.franchise_total_digit.$invalid && !formSubmission.franchise_total_digit.$pristine }">
                                            <label class="control-label col-md-3">Franchise Total Number of Digits<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="franchise_total_digit" ng-model="bindScopeForm.franchise_total_digit" maxlength="5" onkeypress="return CommonComponent.allowOnlyNumeric(event);" required />
                                                    <p ng-show="formSubmission.franchise_total_digit.$invalid && !formSubmission.franchise_total_digit.$pristine" class="help-block">Franchise total number of digit is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.franchise_digit_start_from.$invalid && !formSubmission.franchise_digit_start_from.$pristine }">
                                            <label class="control-label col-md-3">Franchise Code Start From<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="franchise_digit_start_from" ng-model="bindScopeForm.franchise_digit_start_from" onkeypress="return CommonComponent.allowOnlyNumeric(event);" maxlength="11" required />
                                                    <p ng-show="formSubmission.franchise_digit_start_from.$invalid && !formSubmission.franchise_digit_start_from.$pristine" class="help-block">Franchise code start from is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.vehicle_unique_string.$invalid && !formSubmission.vehicle_unique_string.$pristine }">
                                            <label class="control-label col-md-3">Vehicle Unique Code<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <textarea style="font-weight: bold;" name="vehicle_unique_string" rows="4" class="form-control" ng-model="bindScopeForm.vehicle_unique_string" required></textarea>
                                                    <p ng-show="formSubmission.vehicle_unique_string.$invalid && !formSubmission.vehicle_unique_string.$pristine" class="help-block">Vehicle unique code is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.vehicle_total_digit.$invalid && !formSubmission.vehicle_total_digit.$pristine }">
                                            <label class="control-label col-md-3">Vehicle Total Number of Digits<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="vehicle_total_digit" ng-model="bindScopeForm.vehicle_total_digit" onkeypress="return CommonComponent.allowOnlyNumeric(event);" maxlength="5" required />
                                                    <p ng-show="formSubmission.vehicle_total_digit.$invalid && !formSubmission.vehicle_total_digit.$pristine" class="help-block">Vehicle total number of digit is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.vehicle_digit_start_from.$invalid && !formSubmission.vehicle_digit_start_from.$pristine }">
                                            <label class="control-label col-md-3">Vehicle Code Start From<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="vehicle_digit_start_from" ng-model="bindScopeForm.vehicle_digit_start_from" onkeypress="return CommonComponent.allowOnlyNumeric(event);" maxlength="11" required />
                                                    <p ng-show="formSubmission.vehicle_digit_start_from.$invalid && !formSubmission.vehicle_digit_start_from.$pristine" class="help-block">Vehicle code start from is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                                <button type="button" class="btn blue" id="backbtn2" ng-click="generalSettingTab = 1">Back</button>
                                                <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled || formSubmission.$invalid" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function tagCopy(copyId) {
        var copyText = document.getElementById(copyId);
        copyText.select();
        document.execCommand("copy");
    }
</script>
