<div ng-controller='SettingsController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">Firm Settings</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Firm Settings</a>
            </li>
        </ul>
    </div>
    <div ng-show = "currentFirmId > 0">
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row" ng-init="userSetting();">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet box {{portletForm}}">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-plus"></i> Firm Settings
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <notification-alert></notification-alert>
                        <form name="formSubmission" id="formSubmission" ng-submit="saveUserSetting();" class="form-horizontal form-bordered" novalidate>
                            <div class="form-group" style="border-bottom:2px solid gray;">
                                <div class="col-md-12" style="font-weight:bold;">Tags :-</div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <table width="100%">
                                            <tr>
                                                <td width="20%" style="text-align: left;border-bottom:2px solid gray;padding: 7px 0px;">Auto Increment :</td>
                                                <td width="20%" style="font-weight: bold;text-align: left;border-bottom:2px solid gray;padding: 7px 0px;">%AUTO_INCREMENT_DIGIT%</td>
                                                <td width="35%" style="text-align: left;border-bottom:2px solid gray;padding: 7px 0px;">
                                                    <button class="btn btn-xs purple" type="button" onclick="tagCopy('%AUTO_INCREMENT_DIGIT%');">Copy</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="15%" style="text-align: left;border-bottom:2px solid gray;padding: 7px 0px;">Full Financial Year (2020-2021) :</td>
                                                <td width="20%" style="font-weight: bold;text-align: left;border-bottom:2px solid gray;padding: 7px 0px;">%FULL_FINANCIAL_YEAR%</td>
                                                <td width="35%" style="text-align: left;border-bottom:2px solid gray;padding: 7px 0px;">
                                                    <button class="btn btn-xs purple" type="button" onclick="tagCopy('%FULL_FINANCIAL_YEAR%');">Copy</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="15%" style="text-align: left;border-bottom:2px solid gray;padding: 7px 0px;">Short Financial Year (20-21) :</td>
                                                <td width="20%" style="font-weight: bold;text-align: left;border-bottom:2px solid gray;padding: 7px 0px;">%SHORT_FINANCIAL_YEAR%</td>
                                                <td width="35%" style="text-align: left;border-bottom:2px solid gray;padding: 7px 0px;">
                                                    <button class="btn btn-xs purple" type="button" onclick="tagCopy('%SHORT_FINANCIAL_YEAR%');">Copy</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Employee Code<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <textarea name="employee_code" style="font-weight:bold;" rows="4" class="form-control" ng-model="bindScopeForm.employee_code" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Employee Code Total Digit<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="employee_code_digit" ng-model="bindScopeForm.employee_code_digit" maxlength="8" ng-pattern-err-type="validNumberMessage" ng-pattern="/^(\d)+$/" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Employee Code Start From<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="employee_code_start_from" ng-model="bindScopeForm.employee_code_start_from" ng-pattern-err-type="validNumberMessage" ng-pattern="/^(\d)+$/" maxlength="8" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Invoice Code<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <textarea name="invoice_code" style="font-weight:bold;" rows="4" class="form-control" ng-model="bindScopeForm.invoice_code" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Invoice Code Total Digit<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="invoice_code_digit" ng-model="bindScopeForm.invoice_code_digit" ng-pattern-err-type="validNumberMessage" ng-pattern="/^(\d)+$/" maxlength="8" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Invoice Code Start From<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="invoice_code_start_from" ng-model="bindScopeForm.invoice_code_start_from" ng-pattern-err-type="validNumberMessage" ng-pattern="/^(\d)+$/" maxlength="8" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Jobcard Code<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <textarea name="jobcard_code" style="font-weight:bold;" rows="4" class="form-control" ng-model="bindScopeForm.jobcard_code" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Jobcard Code Total Digit<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="jobcard_code_digit" ng-model="bindScopeForm.jobcard_code_digit" maxlength="8" ng-pattern-err-type="validNumberMessage" ng-pattern="/^(\d)+$/" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Jobcard Code Start From<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="jobcard_code_start_from" ng-model="bindScopeForm.jobcard_code_start_from" ng-pattern-err-type="validNumberMessage" ng-pattern="/^(\d)+$/" maxlength="8" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                    <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show = "!currentFirmId">
        <div class="alert alert-block alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert"></button>
            <h4 class="alert-heading">Error!</h4>
            <p>
                PLEASE SELECT VALID MEMBER ID, PLEASE ADD MEMBER FIRST
            </p>
            <p>
                <a class="btn blue" href="#/dashboard/branch" sref=".branch" ui-sref-opts="{reload: true}">
                Add franchise </a>
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
    function tagCopy(str) {
        var el = document.createElement('input');
        el.value = str;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    }
</script>