<div ng-controller='VehicleController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-show ="memberFirmId">
        <div class="col-md-12" ng-init="add();">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus"></i> Add {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified" style="margin-top:10px;">
                            <li ng-class="{'active': tab == 1}">
                                <a href="javascript:;" ng-disabled ="true">Vehicle Information </a>
                            </li>
                            <li ng-class="{'active': tab == 2}">
                                <a href="javascript:;" ng-disabled ="true">Owner Information </a>
                            </li>
                            <li ng-class="{'active': tab == 3}">
                                <a href="javascript:;" ng-disabled ="true">Vehicle Specfication </a>
                            </li>
                            <li ng-class="{'active': tab == 4}">
                                <a href="javascript:;" ng-disabled ="true">Other Information </a>
                            </li>
                            <li ng-class="{'active': tab == 5}">
                                <a href="javascript:;" ng-disabled ="true">Vehicle Image </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{'active': tab == 1}" ng-show="tab == 1">
                                <form id="vehicleBasicForm" name="vehicleBasicForm" ng-submit ="validateForm(2);" class="form-horizontal form-bordered form-row-stripped" novalidate>
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Vehicle Unique Code</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right" style="padding-top:8px;font-weight:bold;">
                                                    {{vehicleCode}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Registration Date<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                    <input type="text" class="form-control" id="registration_date" autocomplete="off" name="registration_date" ng-model="bindScopeForm.registration_date"  maxlength="12" required />
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="vehicleTypeDiv">
                                            <label class="control-label col-md-3">Vehicle Type<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="vehicle_type_master_id" ng-change="getManufacturerList(1,1);vehicleSpecificationList();" ng-model="bindScopeForm.vehicle_type_master_id" s2-options="val.id as val.name for val in arrVehicleTypeData" placeholder="Select Vehicle Type" options="{allowClear:true}" ng-required="true"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getVehicleTypeList(1)" class="btn btn-default tooltips">
                                                    <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="manufacturerDiv">
                                            <label class="control-label col-md-3">Manufacturer<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="manufacturer_tran_id" ng-model="bindScopeForm.manufacturer_tran_id" ng-change="getVehicleModelList(1,1);" s2-options="val.mtranid as val.name for val in arrManufacturerData" options="{ allowClear: true }" ng-required="true" placeholder="Select Manufacturer"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getManufacturerList(1,1)" class="btn btn-default tooltips">
                                                        <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="modelDiv">
                                            <label class="control-label col-md-3">Make<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="vehicle_model_master_id" ng-model="bindScopeForm.vehicle_model_master_id" s2-options="val.id as val.name for val in arrVehicleModelData" options="{ allowClear: true }" placeholder="Select Make" ng-required="true"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getVehicleModelList(1,1);" class="btn btn-default tooltips">
                                                    <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="variantDiv">
                                            <label class="control-label col-md-3">Color</label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="variant_master_id" ng-model="bindScopeForm.variant_master_id" s2-options="val.id as val.name for val in arrVariantData" options="{ allowClear: true }" placeholder="Select Color"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getVariantList(1)" class="btn btn-default tooltips">
                                                        <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Vehicle Number<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" name="vehicle_number" ng-model="bindScopeForm.vehicle_number" maxlength="60" placeholder="Please enter vehicle number...." required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Model Year<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" onpaste = "return false" name="manufacturer_year" ng-model="bindScopeForm.manufacturer_year" maxlength="4" onkeypress="return CommonComponent.allowOnlyNumeric(event);" placeholder="Please enter manufacturer year...." required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Engine Number</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" name="engine_number" ng-model="bindScopeForm.engine_number" placeholder="Please enter engine number ...." maxlength="60" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Chasis No.</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" name="chasis_number" ng-model="bindScopeForm.chasis_number" placeholder="Please enter chasis number ...." maxlength="60" />
                                            </div>
                                        </div>
                                        <div class="form-group" id="gradeDiv">
                                            <label class="control-label col-md-3">Grade<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="grade_master_id" ng-model="bindScopeForm.grade_master_id" s2-options="val.id as val.name for val in arrGradeData" options="{ allowClear: true }" placeholder="Select Grade" ng-required="true"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getGradeList(1);" class="btn btn-default tooltips">
                                                    <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Purchase Price<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" name="purchase_price" ng-model="bindScopeForm.purchase_price" autocomplete="off" onpaste ="return false" onkeypress="return CommonComponent.priceValidate(this,event);" placeholder="Please enter purchase price ...." required maxlength="16" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Purchase Date<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                    <input type="text" class="form-control" autocomplete="off" id="purchase_date" name="purchase_date" ng-model="bindScopeForm.purchase_date"  maxlength="12" required />
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" style="color:#000;">Stock Type<span class="required">* </span></label>
                                            <div class="col-md-9 md-radio-inline">
                                                <div class="md-radio">
                                                    <input type="radio" id="stocktype1" name="vehicle_type" value="2" class="md-radiobtn" checked="">
                                                    <label for="stocktype1">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Sell </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="stocktype3" name="vehicle_type" value="3" class="md-radiobtn">
                                                    <label for="stocktype3">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Rent </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" style="color:#000;">Fuel Type<span class="required">* </span></label>
                                            <div class="col-md-9 md-radio-inline">
                                                <div class="md-radio">
                                                    <input type="radio" id="radio6" name="fule_type" value="1" class="md-radiobtn" checked="">
                                                    <label for="radio6">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Petrol </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio7" name="fule_type" value="2" class="md-radiobtn">
                                                    <label for="radio7">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Diesel </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio8" name="fule_type" value="3" class="md-radiobtn">
                                                    <label for="radio8">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        CNG </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" style="color:#000;">Vehicle Start Method<span class="required">* </span></label>
                                            <div class="col-md-9 md-radio-inline">
                                                <div class="md-radio">
                                                    <input type="radio" id="radio9" name="vehicle_start_method" value="1" class="md-radiobtn">
                                                    <label for="radio9">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Self </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio10" name="vehicle_start_method" value="2" class="md-radiobtn">
                                                    <label for="radio10">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Kick </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio11" name="vehicle_start_method" value="3" class="md-radiobtn" checked="">
                                                    <label for="radio11">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Both </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                                <button type="submit" class="btn blue" id="vehicleBasicBtn" >Next</button>
                                                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" ng-class="{'active': tab == 2}" ng-show="tab == 2">
                                <form id="vehicleOwnerForm" name="vehicleOwnerForm" ng-submit="validateForm(3)" class="form-horizontal form-bordered form-row-stripped" novalidate>
                                    <!--<div class="form-group">
                                        <label class="control-label col-md-3">Purchase From<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="purchase_from" ng-model="bindScopeForm.purchase_from" maxlength="200" placeholder="Please enter purchase from..." required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Purchase Address<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <textarea type="text" class="form-control" name="purchase_address" ng-model="bindScopeForm.purchase_address" placeholder="Please enter purchase address." required></textarea>
                                        </div>
                                    </div>-->
                                    <div class="form-group" id="titleDiv">
                                        <label class="control-label col-md-3">Title</label>
                                        <div class="col-md-6">
                                            <select2 class="form-control" name="owner_title_master_id" ng-model="bindScopeForm.title_master_id" s2-options="val.id as val.name for val in arrTitleData" options="{ allowClear: true }" placeholder="Select Title"></select2>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                            <span class="input-group-btn">
                                                <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getTitleList(1);" class="btn btn-default">
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Name<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="form-control" autocomplete="off" name="owner_first_name" ng-model="bindScopeForm.owner_first_name" ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" maxlength="30" placeholder="Please enter first name..." required />
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="form-control" autocomplete="off" name="owner_middle_name" ng-model="bindScopeForm.owner_middle_name" ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" maxlength="30" placeholder="Please enter middle name..." />
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="form-control" autocomplete="off" name="owner_last_name" ng-model="bindScopeForm.owner_last_name" ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" maxlength="30" placeholder="Please enter last name..." />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Mobile No.<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" autocomplete="off" ng-pattern="/^(\d)+$/" ng-pattern-err-type="validMobileMessage" name="owner_mobile_no" ng-model="bindScopeForm.owner_mobile_no" ng-minlength ="10" ng-maxlength="10" placeholder="Please enter mobile no" onkeypress="return CommonComponent.allowOnlyNumeric(event);" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Email ID</label>
                                        <div class="col-md-9">
                                            <input type="email" class="form-control" autocomplete="off" name="owner_email_id" ng-model="bindScopeForm.owner_email_id" maxlength="160" placeholder="Please enter email ID" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Profession</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" autocomplete="off" name="owner_profession" ng-model="bindScopeForm.owner_profession" maxlength="160" placeholder="Please enter professioin detail" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Address</label>
                                        <div class="col-md-9">
                                            <textarea name="owner_address" rows="4" class="form-control" ng-model="bindScopeForm.owner_address" placeholder="Please enter address ...."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" id="countryDiv">
                                        <label class="control-label col-md-3">Country<span class="required">* </span></label>
                                        <div class="col-md-6">
                                            <select2 class="form-control" name="owner_country_master_id" ng-model="bindScopeForm.country_master_id" ng-change="getStateList(1);" s2-options="val.id as val.name for val in arrCountryData" options="{ allowClear: true }" placeholder="Select Country" ng-required="true"></select2>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                            <span class="input-group-btn">
                                                <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getCountryList(1);" class="btn btn-default">
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group" id="stateDiv">
                                        <label class="control-label col-md-3">State<span class="required">* </span></label>
                                        <div class="col-md-6">
                                            <select2 class="form-control" name="owner_state_master_id" ng-model="bindScopeForm.state_master_id" ng-change="getCityList(1);" s2-options="val.id as val.name for val in arrStateData" options="{ allowClear: true }" placeholder="Select State" ng-required="true"></select2>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                            <span class="input-group-btn">
                                                <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getStateList(1);" class="btn btn-default">
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group" id="cityDiv">
                                        <label class="control-label col-md-3">City<span class="required">* </span></label>
                                        <div class="col-md-6">
                                            <select2 class="form-control" name="owner_city_master_id" ng-model="bindScopeForm.city_master_id" s2-options="val.id as val.name for val in arrCityData" options="{ allowClear: true }" placeholder="Select City" ng-required="true"></select2>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                            <span class="input-group-btn">
                                                <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getCityList(1);" class="btn btn-default">
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Remark</label>
                                        <div class="col-md-9">
                                            <textarea name="owner_remark" rows="4" class="form-control" ng-model="bindScopeForm.owner_remark" placeholder="Please enter remark ...."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                            <button type="button" class="btn blue" id="OwnerBackBtn" ng-click="tab = 1">Back</button>
                                            <button type="submit" id="OwnerSubmitBtn" class="btn blue">Next</button>
                                            <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" ng-class="{'active': tab == 3}" ng-show="tab == 3">
                                <form id="vehicleSpecForm" name="vehicleSpecForm" class="form-horizontal form-bordered form-row-stripped" novalidate>
                                    <div style="height: 400px;overflow: auto;">
                                        <div class="table-scrollable" ng-if="arrVehicleSpecificationData.length > 0">
                                            <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">
                                                            <input type="checkbox" ng-model ="specificationCheckAll" style="width:18px;height:18px;" value="1" />
                                                        </th>
                                                        <th style=" font-weight: bold;">Specificatioin</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="specification in arrVehicleSpecificationData">
                                                        <td style="text-align: center;">
                                                            <input type="checkbox" class="specification" name="arr_specification[]" style="width:18px;height:18px;" value="{{specification.id}}" ng-checked ="specificationCheckAll" />
                                                        </td>
                                                        <td style=" font-weight: bold; " ng-bind-html="specification.name "></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                            <button type="button" class="btn blue" id="backbtn3" ng-click="tab = 2">Back</button>
                                            <button type="button" ng-click="tab = 4" class="btn blue">Next</button>
                                            <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" ng-class="{'active': tab == 4}" ng-show="tab == 4">
                                <form id="vehicleOtherForm" name="vehicleOtherForm" class="form-horizontal form-bordered form-row-stripped" novalidate>
                                    <div class="form-group">
                                        <textarea ckeditor="options" name="remark" rows="4" class="form-control" ng-model="bindScopeForm.other_detail" placeholder=""></textarea>
                                    </div>
                                    <div class="form-actions">
                                        <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                            <button type="button" class="btn blue" id="otherBtn" ng-click="tab = 3">Back</button>
                                            <button type="button" ng-click="tab = 5" class="btn blue">Next</button>
                                            <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" ng-class="{'active': tab == 5}" ng-show="tab == 5">
                                <form id="vehicleImageForm" name="vehicleImageForm" ng-submit = "save();" class="form-horizontal form-bordered form-row-stripped" novalidate>
                                    <div class="table-responsive" style="height: 400px;overflow: auto;">
                                        <input type="hidden" id="rowslength" value="1" />
                                        <table width="90%" id="tableGrid" class="table table-striped table-bordered table-hover">
                                            <tr>
                                                <th style="width: 40%;">Upload Image</th>
                                                <th style="width: 30%;">Select Image</th>
                                                <th style="width: 20%;">
                                                    <button type="button" class="btn btn-xs blue" ng-click="addRow()"><i class="fa fa-plus"></i></button>
                                                </th>
                                            </tr>
                                            <tr ng-repeat = "img in imageRow">
                                                <td>
                                                    <img class="fileinput-preview thumbnail" id="preview_{{$index+1}}" data-trigger="fileinput" style="width: 80px; height: 60px;" />
                                                    <input type="hidden" name="vehicle_image[]" id="upload_image_{{$index+1}}" />
                                                </td>
                                                <td>
                                                    <div class="form-group" id="input_file_1">
                                                        <span class="btn default btn-file">
                                                            <span class="fileinput-new">
                                                            Select image </span>
                                                        <input type="file" accept="image/*" id="{{$index+1}}" ng-model="bindScopeForm.photo" onchange="angular.element(this).scope().uploads(this)" />
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" ng-click="deleteRow($index);" class="btn default btn-xs red"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="form-actions">
                                        <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                            <button type="button" class="btn blue" id="backbtn5" ng-click="tab = 4">Back</button>
                                            <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-click ="btnGroup.status = 1;" ng-bind-html="btnGroup.btn1"></button>
                                            <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                endDate:'+0d',
                autoclose: true
            });
        });
    });
</script>
