<div class="portlet-body form">
    <form name="vehicleCertificateForm" id="vehicleCertificateForm" ng-submit="saveCertificate();" class="form-horizontal form-bordered form-row-stripped" novalidate>
        <div class="modal-header" style="background-color: #3598dc;color:#fff;">
            <h4 class="modal-title">Generate Certificate Form</h4>
        </div>
        <div class="modal-body">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">Vehicle</label>
                    <div class="col-md-6" style="margin-top: 8px;">
                        <b>{{bindScopeForm.unique_no}} ( {{bindScopeForm.vehicle_number}} )</b>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Previous Grade</label>
                    <div class="col-md-6" ng-bind-html ="bindScopeForm.grade"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Grade<span class="required">* </span></label>
                    <div class="col-md-6">
                        <select2 class="form-control" name="grade_master_id" ng-model="bindScopeForm.grade_master_id" s2-options="val.id as val.name for val in arrGradeData" options="{ allowClear: true }" placeholder="Select Grade" ng-required="true"></select2>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12" style="border:0px !important;">
                        <span class="input-group-btn">
                            <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getGradeList(1);" class="btn btn-default tooltips">
                            <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="update_btn" class="btn green">Save</button>
            <a href="javascript:;" class="btn red" ng-click="cancelModal();" data-dismiss="modal">Close</a>
        </div>
    </form>
</div>