<div class="portlet-body form">
    <form name="vehicleSaleForm" id="vehicleSaleForm" ng-submit="saveVehicleSale();" class="form-horizontal form-bordered form-row-stripped" novalidate>
        <div class="modal-header" style="background-color: #3598dc;color:#fff;">
            <h4 class="modal-title">Vehicle Sale Form</h4>
        </div>
        <div class="modal-body">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">Vehicle</label>
                    <div class="col-md-6" style="margin-top: 8px;">
                        <b>{{bindScopeForm.unique_no}} ( {{bindScopeForm.vehicle_number}} )</b>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Purchase Amount</label>
                    <div class="col-md-6" style="margin-top:8px;font-weight:bold;" ng-bind-html ="bindScopeForm.purchase_price"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Expense Amount</label>
                    <div class="col-md-6" style="margin-top:8px;font-weight:bold;" ng-bind-html ="bindScopeForm.expense"></div>
                </div>
                <div class="form-group" ng-show ="bindScopeForm.previous_sale_price > 0">
                    <label class="control-label col-md-3">Previous Sale Price</label>
                    <div class="col-md-6" style="margin-top:8px;font-weight:bold;" ng-bind-html ="bindScopeForm.previous_sale_price"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Grand Total</label>
                    <div class="col-md-6" style="margin-top:8px;font-weight:bold;" ng-bind-html ="bindScopeForm.total_amount"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Sale Price<span class="required">* </span></label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" autocomplete="off" name="value" ng-model="bindScopeForm.sale_price" placeholder="Please enter value ..." onpaste = "return false" maxlength="10" onkeypress="return CommonComponent.priceValidate(this,event);" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
            <a href="javascript:;" class="btn red" ng-click="cancelModal();" data-dismiss="modal">Close</a>
        </div>
    </form>
</div>