<div ng-controller='VehicleController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Edit {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="edit(id);">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus"></i> Edit {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="formSubmission" id="formSubmission" ng-submit="save();" class="form-horizontal form-bordered form-row-stripped" novalidate>
                        <div class="form-body">
                            <div class="tabbable-custom nav-justified">
                                <ul class="nav nav-tabs nav-justified" style="margin-top:10px;">
                                    <li ng-class="{'active': tab == 1}">
                                        <a href="javascript:;" ng-click="tab = 1" data-toggle="tab" aria-expanded="true">Vehicle Information </a>
                                    </li>
                                    <li ng-class="{'active': tab == 2}">
                                        <a href="javascript:;" ng-click="tab = 2" data-toggle="tab" aria-expanded="false">Owner Information </a>
                                    </li>
                                    <li ng-class="{'active': tab == 3}">
                                        <a href="javascript:;" ng-click="tab = 3" data-toggle="tab" aria-expanded="false">Vehicle Specfication </a>
                                    </li>
                                    <li ng-class="{'active': tab == 4}">
                                        <a href="javascript:;" ng-click="tab = 4" data-toggle="tab" aria-expanded="false">Vehicle Expenses </a>
                                    </li>
                                    <li ng-class="{'active': tab == 5}">
                                        <a href="javascript:;" ng-click="tab = 5" data-toggle="tab" aria-expanded="false">Vehicle Image </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane" ng-class="{'active': tab == 1}" ng-show="tab == 1">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Vehicle Unique Code</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right" style="padding-top:8px;font-weight:bold;">
                                                    {{bindScopeForm.unique_no}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.manufacturer_tran_id.$invalid && !formSubmission.manufacturer_tran_id.$pristine }">
                                            <label class="control-label col-md-3">Manufacturer<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <div class="input-group input-icon right">
                                                        <i class="fa"></i>
                                                        <ui-select allow-clear ng-model="bindScopeForm.manufacturer_tran_id" ng-change="getVehicleModelList(1);vehicleSpecificationList();" theme="bootstrap" required>
                                                            <ui-select-match placeholder="Select Manufacturer ...">{{$select.selected.name}} ({{$select.selected.vehicle_type}})</ui-select-match>
                                                            <ui-select-choices group-by="'vehicle_type'" repeat="child.manufacturertran_id as child in arrManufacturerData | filter: $select.search">
                                                                <div ng-bind-html="child.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                        <button type="button" ng-click="bindScopeForm.manufacturer_tran_id = undefined;bindScopeForm.vehicle_model_master_id = undefined;arrVehicleModelData = [];arrVehicleSpecificationData = [];" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                        </span>
                                                        <p ng-show="formSubmission.manufacturer_tran_id.$invalid && !formSubmission.manufacturer_tran_id.$pristine" class="help-block">Manufacturer is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.vehicle_model_master_id.$invalid && !formSubmission.vehicle_model_master_id.$pristine }">
                                            <label class="control-label col-md-3">Model<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <div class="input-group input-icon right">
                                                        <i class="fa"></i>
                                                        <ui-select allow-clear ng-model="bindScopeForm.vehicle_model_master_id" theme="bootstrap" required>
                                                            <ui-select-match placeholder="Select Model ...">{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="data.id as data in arrVehicleModelData | filter: $select.search">
                                                                <span ng-bind-html="data.name | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                        <button type="button" ng-click="bindScopeForm.vehicle_model_master_id = undefined" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                        </span>
                                                        <p ng-show="formSubmission.vehicle_model_master_id.$invalid && !formSubmission.vehicle_model_master_id.$pristine" class="help-block">Model is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.variant_master_id.$invalid && !formSubmission.variant_master_id.$pristine }">
                                            <label class="control-label col-md-3">Variant<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <div class="input-group input-icon right">
                                                        <i class="fa"></i>
                                                        <ui-select allow-clear ng-model="bindScopeForm.variant_master_id" theme="bootstrap" required>
                                                            <ui-select-match placeholder="Select Variant ...">{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="data.id as data in arrVariantData | filter: $select.search">
                                                                <span ng-bind-html="data.name | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                        <button type="button" ng-click="bindScopeForm.variant_master_id = undefined;" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                        </span>
                                                        <p ng-show="formSubmission.variant_master_id.$invalid && !formSubmission.variant_master_id.$pristine" class="help-block">Variant is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.vehicle_number.$invalid && !formSubmission.vehicle_number.$pristine }">
                                            <label class="control-label col-md-3">Vehicle Number<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="vehicle_number" ng-model="bindScopeForm.vehicle_number" maxlength="60" placeholder="Please enter vehicle number...." required />
                                                    <p ng-show="formSubmission.vehicle_number.$invalid && !formSubmission.vehicle_number.$pristine" class="help-block">Vehicle Number is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.manufacturer_year.$invalid && !formSubmission.manufacturer_year.$pristine }">
                                            <label class="control-label col-md-3">Manufacture Year<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="manufacturer_year" ng-model="bindScopeForm.manufacturer_year" maxlength="4" onkeypress="return CommonComponent.allowOnlyNumeric(event);" placeholder="Please enter manufacturer year...." required />
                                                    <p ng-show="formSubmission.manufacturer_year.$invalid && !formSubmission.manufacturer_year.$pristine" class="help-block">Manufacturer Year is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.engine_number.$invalid && !formSubmission.engine_number.$pristine }">
                                            <label class="control-label col-md-3">Engine Number<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="engine_number" ng-model="bindScopeForm.engine_number" placeholder="Please enter engine number ...." required maxlength="60" />
                                                    <p ng-show="formSubmission.engine_number.$invalid && !formSubmission.engine_number.$pristine" class="help-block">Engine No. is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.chasis_number.$invalid && !formSubmission.chasis_number.$pristine }">
                                            <label class="control-label col-md-3">Chasis No.<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="chasis_number" ng-model="bindScopeForm.chasis_number" placeholder="Please enter chasis number ...." maxlength="60" required />
                                                    <p ng-show="formSubmission.chasis_number.$invalid && !formSubmission.chasis_number.$pristine" class="help-block">Chasis Number is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" style="color:#000;">Fuel Type<span class="required">* </span></label>
                                            <div class="col-md-9 md-radio-inline">
                                                <div class="md-radio">
                                                    <input type="radio" id="radio6" name="fule_type" value="1" class="md-radiobtn" ng-checked="bindScopeForm.fule_type == 1">
                                                    <label for="radio6">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Petrol </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio7" name="fule_type" value="2" class="md-radiobtn" ng-checked="bindScopeForm.fule_type == 2">
                                                    <label for="radio7">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Diesel </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio8" name="fule_type" value="3" class="md-radiobtn" ng-checked="bindScopeForm.fule_type == 3">
                                                    <label for="radio8">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        CNG </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" style="color:#000;">Vehicle Start Method<span class="required">* </span></label>
                                            <div class="col-md-9 md-radio-inline">
                                                <div class="md-radio">
                                                    <input type="radio" id="radio9" name="vehicle_start_method" value="1" class="md-radiobtn" ng-checked="bindScopeForm.vehicle_start_method == 1">
                                                    <label for="radio9">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Self </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio10" name="vehicle_start_method" value="2" class="md-radiobtn" ng-checked="bindScopeForm.vehicle_start_method == 2">
                                                    <label for="radio10">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Kick </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio11" name="vehicle_start_method" value="3" class="md-radiobtn" ng-checked="bindScopeForm.vehicle_start_method == 3">
                                                    <label for="radio11">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Both </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                                <button type="button" class="btn blue" id="backbtn" ng-click="tab = 2">Next</button>
                                                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" ng-class="{'active': tab == 2}" ng-show="tab == 2">
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.purchase_from.$invalid && !formSubmission.purchase_from.$pristine }">
                                            <label class="control-label col-md-3">Purchase From<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="purchase_from" ng-model="bindScopeForm.purchase_from" maxlength="200" placeholder="Please enter purchase from..." required />
                                                    <p ng-show="formSubmission.purchase_from.$invalid && !formSubmission.purchase_from.$pristine" class="help-block">Purchase from is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.purchase_address.$invalid && !formSubmission.purchase_address.$pristine }">
                                            <label class="control-label col-md-3">Purchase Address<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <textarea type="text" class="form-control" name="purchase_address" ng-model="bindScopeForm.purchase_address" placeholder="Please enter purchase address." required></textarea>
                                                    <p ng-show="formSubmission.purchase_address.$invalid && !formSubmission.purchase_address.$pristine" class="help-block">Purchase address is required.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.owner_title_master_id.$invalid && !formSubmission.owner_title_master_id.$pristine }">
                                            <label class="control-label col-md-3">Title<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <div class="input-group input-icon right">
                                                        <i class="fa"></i>
                                                        <ui-select allow-clear ng-model="bindScopeForm.owner_title_master_id" theme="bootstrap" required>
                                                            <ui-select-match placeholder="Select Title ...">{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="data.id as data in arrTitleData | filter: $select.search">
                                                                <span ng-bind-html="data.name | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                        <button type="button" ng-click="bindScopeForm.owner_title_master_id = undefined;" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                        </span>
                                                        <p ng-show="formSubmission.owner_title_master_id.$invalid && !formSubmission.owner_title_master_id.$pristine" class="help-block">Title is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Name<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4" ng-class="{ 'has-error' : formSubmission.owner_first_name.$invalid && !formSubmission.owner_first_name.$pristine }">
                                                        <div class="input-icon right">
                                                            <i class="fa"></i>
                                                            <input type="text" class="form-control" name="owner_first_name" ng-model="bindScopeForm.owner_first_name" maxlength="60" placeholder="Please enter first name..." required />
                                                            <p ng-show="formSubmission.owner_first_name.$invalid && !formSubmission.owner_first_name.$pristine" class="help-block">First name is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <div class="input-icon right">
                                                            <i class="fa"></i>
                                                            <input type="text" class="form-control" name="owner_middle_name" ng-model="bindScopeForm.owner_middle_name" maxlength="60" placeholder="Please enter middle name..." />
                                                            <p ng-show="formSubmission.owner_middle_name.$invalid && !formSubmission.owner_middle_name.$pristine" class="help-block">Middle name is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <div class="input-icon right">
                                                            <i class="fa"></i>
                                                            <input type="text" class="form-control" name="owner_last_name" ng-model="bindScopeForm.owner_last_name" maxlength="60" placeholder="Please enter last name..." />
                                                            <p ng-show="formSubmission.owner_last_name.$invalid && !formSubmission.owner_last_name.$pristine" class="help-block">Last name is required.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.owner_mobile_no.$invalid && !formSubmission.owner_mobile_no.$pristine }">
                                            <label class="control-label col-md-3">Mobile No.<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="owner_mobile_no" ng-model="bindScopeForm.owner_mobile_no" maxlength="12" placeholder="Please enter mobile no" onkeypress="return CommonComponent.allowOnlyNumeric(event);" />
                                                    <p ng-show="formSubmission.owner_mobile_no.$invalid && !formSubmission.owner_mobile_no.$pristine" class="help-block">PAN No. is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.owner_email_id.$invalid && !formSubmission.owner_email_id.$pristine }">
                                            <label class="control-label col-md-3">Email ID</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="email" class="form-control" name="owner_email_id" ng-model="bindScopeForm.owner_email_id" maxlength="160" placeholder="Please enter email ID" />
                                                    <p ng-show="formSubmission.owner_email_id.$invalid && !formSubmission.owner_email_id.$pristine" class="help-block">Email is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.owner_profession.$invalid && !formSubmission.owner_profession.$pristine }">
                                            <label class="control-label col-md-3">Profession</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" name="owner_profession" ng-model="bindScopeForm.owner_profession" maxlength="160" placeholder="Please enter professioin detail" />
                                                    <p ng-show="formSubmission.owner_profession.$invalid && !formSubmission.owner_profession.$pristine" class="help-block">Profession is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.owner_address.$invalid && !formSubmission.owner_address.$pristine }">
                                            <label class="control-label col-md-3">Address</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <textarea name="owner_address" rows="4" class="form-control" ng-model="bindScopeForm.owner_address" placeholder="Please enter address ...."></textarea>
                                                    <p ng-show="formSubmission.owner_address.$invalid && !formSubmission.owner_address.$pristine" class="help-block">Owner address is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.owner_country_master_id.$invalid && !formSubmission.owner_country_master_id.$pristine }">
                                            <label class="control-label col-md-3">Country<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <div class="input-group input-icon right">
                                                        <i class="fa"></i>
                                                        <ui-select allow-clear ng-model="bindScopeForm.owner_country_master_id" ng-change="getStateList(1);" theme="bootstrap" required>
                                                            <ui-select-match placeholder="Select Country ...">{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="data.id as data in arrCountryData | filter: $select.search">
                                                                <span ng-bind-html="data.name | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                        <button type="button" ng-click="bindScopeForm.owner_country_master_id = undefined;bindScopeForm.owner_state_master_id = undefined;arrStateData = [];arrCityData = [];bindScopeForm.owner_city_master_id = undefined;" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                        </span>
                                                        <p ng-show="formSubmission.owner_country_master_id.$invalid && !formSubmission.owner_country_master_id.$pristine" class="help-block">Country is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.owner_state_master_id.$invalid && !formSubmission.owner_state_master_id.$pristine }">
                                            <label class="control-label col-md-3">State<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <div class="input-group input-icon right">
                                                        <i class="fa"></i>
                                                        <ui-select allow-clear ng-model="bindScopeForm.owner_state_master_id" ng-change="getCityList(1);" theme="bootstrap" required>
                                                            <ui-select-match placeholder="Select State ...">{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="data.id as data in arrStateData | filter: $select.search">
                                                                <span ng-bind-html="data.name | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                        <button type="button" ng-click="bindScopeForm.owner_state_master_id = undefined;arrCityData = [];bindScopeForm.owner_city_master_id = undefined;" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                        </span>
                                                        <p ng-show="formSubmission.owner_state_master_id.$invalid && !formSubmission.owner_state_master_id.$pristine" class="help-block">State is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.owner_city_master_id.$invalid && !formSubmission.owner_city_master_id.$pristine }">
                                            <label class="control-label col-md-3">City<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <div class="input-group input-icon right">
                                                        <i class="fa"></i>
                                                        <ui-select allow-clear ng-model="bindScopeForm.owner_city_master_id" theme="bootstrap" required>
                                                            <ui-select-match placeholder="Select City ...">{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="data.id as data in arrCityData | filter: $select.search">
                                                                <span ng-bind-html="data.name | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                        <button type="button" ng-click="bindScopeForm.owner_city_master_id = undefined" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                        </span>
                                                        <p ng-show="formSubmission.owner_city_master_id.$invalid && !formSubmission.owner_city_master_id.$pristine" class="help-block">City is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.owner_remark.$invalid && !formSubmission.owner_remark.$pristine }">
                                            <label class="control-label col-md-3">Remark</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <textarea name="owner_remark" rows="4" class="form-control" ng-model="bindScopeForm.owner_remark" placeholder="Please enter remark ...."></textarea>
                                                    <p ng-show="formSubmission.owner_remark.$invalid && !formSubmission.owner_remark.$pristine" class="help-block">Remark is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                                <button type="button" class="btn blue" id="backbtn" ng-click="tab = 1">Back</button>
                                                <button type="button" ng-click="tab = 3" class="btn blue">Next</button>
                                                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" ng-class="{'active':tab == 3}" ng-show="tab == 3">
                                        <div style="height: 400px;overflow: auto;">
                                            <div class="table-scrollable" ng-if="arrVehicleSpecificationData.length > 0">
                                                <table class="table table-striped table-bordered table-advance table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align: center;">
                                                                <input type="checkbox" onclick="checkAll(this)" style="width:18px;height:18px;" value="1" />
                                                            </th>
                                                            <th style=" font-weight: bold;">Specificatioin</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="specification in arrVehicleSpecificationData">
                                                            <td style="text-align: center;">
                                                                <input type="checkbox" class="specification" name="arr_specification[]" style="width:18px;height:18px;" value="{{specification.id}}" ng-checked="bindScopeForm.specification[specification.id]" />
                                                            </td>
                                                            <td style=" font-weight: bold; " ng-bind-html="specification.name "></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                                <button type="button" class="btn blue" id="backbtn" ng-click="tab = 2">Back</button>
                                                <button type="button" ng-click="tab = 4" class="btn blue">Next</button>
                                                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" ng-class="{'active':tab == 4}" ng-show="tab == 4">
                                        <div style="height: 400px;overflow: auto;">
                                            <div class="form-group" ng-class="{ 'has-error' : formSubmission.purchase_price.$invalid && !formSubmission.purchase_price.$pristine }">
                                                <label class="control-label col-md-3">Purchase Price<span class="required">* </span></label>
                                                <div class="col-md-9">
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input name="purchase_price" ng-model="bindScopeForm.purchase_price" rows="4" class="form-control" placeholder="Please enter purchase price ...." onkeypress="return CommonComponent.priceValidate(this,event);" required />
                                                        <p ng-show="formSubmission.purchase_price.$invalid && !formSubmission.purchase_price.$pristine" class="help-block">Purchase price is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-repeat="expenses in arrExpensesHeadData">
                                                <label class="control-label col-md-3">{{expenses.name}}</label>
                                                <div class="col-md-9">
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input name="arr_expenses[]" rows="4" class="form-control" placeholder="Please enter {{expenses.name}} ...." onkeypress="return CommonComponent.priceValidate(this,event);" ng-value="(bindScopeForm.expense[expenses.id].price > 0) ? bindScopeForm.expense[expenses.id].price : ''"/>
                                                        <input type="hidden" name="arr_expense_head[]" value="{{expenses.id}}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : formSubmission.onroad_price.$invalid && !formSubmission.onroad_price.$pristine }">
                                                <label class="control-label col-md-3">On Road Sale Price<span class="required">* </span></label>
                                                <div class="col-md-9">
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input name="onroad_price" ng-model="bindScopeForm.onroad_price" rows="4" class="form-control" placeholder="Please enter purchase price ...." onkeypress="return CommonComponent.priceValidate(this,event);" required />
                                                        <p ng-show="formSubmission.onroad_price.$invalid && !formSubmission.onroad_price.$pristine" class="help-block">On Road Price is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                                <button type="button" class="btn blue" id="backbtn" ng-click="tab = 3">Back</button>
                                                <button type="button" class="btn blue" ng-click="tab = 5">Next</button>
                                                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" ng-class="{'active':tab == 5}" ng-show="tab == 5">
                                        <div class="table-responsive" style="height: 400px;overflow: auto;">
                                            <input type="hidden" id="rowslength" ng-value="bindScopeForm.images.length" />
                                            <table width="90%" id="tableGrid" class="table table-striped table-bordered table-hover">
                                                <tr>
                                                    <th style="width: 40%;">Upload Image</th>
                                                    <th style="width: 30%;">Select Image</th>
                                                    <th style="width: 20%;">
                                                        <button type="button" class="btn blue" onclick="addRows('tableGrid')"><i class="fa fa-plus"></i></button>
                                                    </th>
                                                </tr>
                                                <tr ng-repeat="img in bindScopeForm.images">
                                                    <td>
                                                        <img ng-src="{{getImagePath+img}}" class="fileinput-preview thumbnail" id="preview_{{$index+1}}" data-trigger="fileinput" style="width: 80px; height: 60px;" />
                                                        <input type="hidden" name="vehicle_image[]" id="upload_image_{{$index+1}}" ng-value="img" />
                                                    </td>
                                                    <td>
                                                        <div id="input_file_1">
                                                            <span class="btn default btn-file">
                                                                <span class="fileinput-new">
                                                                Select image </span>
                                                            <input type="file" accept="image/*" id="{{$index+1}}" ng-model="bindScopeForm.photo" onchange="angular.element(this).scope().uploads(this)" />
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button" onclick="deleteRow('tableGrid',this);" class="btn default btn-xs red"><i class="fa fa-trash-o"></i></button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                                <button type="button" class="btn blue" id="backbtn" ng-click="tab = 4">Back</button>
                                                <button type="submit" ng-disabled="formSubmission.$invalid" class="btn green" id="record_save_btn">Submit</button>
                                                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.date-picker').datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });

        function addRows(tableId) {
            var browserName = navigator.appName;
            var objTable = document.getElementById(tableId); /** creating table object*/
            var TotalNoOfRows = objTable.rows.length; /** retrieving no. of rows in a table*/
            var LastRowIndex = TotalNoOfRows - 1; /** retrieving index of last row*/
            var NewRowIndex = parseInt(LastRowIndex) + 1;
            var newcaption = NewRowIndex;

            /** Creating new row object and creaing cell object and set respective attributes. */
            var objRow = objTable.insertRow(NewRowIndex);
            var objCell_1 = objRow.insertCell(0);
            var objCell_2 = objRow.insertCell(1);
            var objCell_3 = objRow.insertCell(2);

            var getIndexValue = parseInt(document.getElementById('rowslength').value) + 1;
            /** Add contents to the respective cell */
            document.getElementById('rowslength').value = getIndexValue;
            objCell_1.innerHTML = '<img class="fileinput-preview thumbnail" id="preview_' + getIndexValue + '" data-trigger="fileinput" style="width: 80px; height: 60px;"/><input type="hidden" name="vehicle_image[]" id="upload_image_' + getIndexValue + '" />';
            objCell_2.innerHTML = '<div id="input_file_' + getIndexValue + '"><span class="btn default btn-file"><span class="fileinput-new">Select image </span><input type="file" accept="image/*" id="' + getIndexValue + '" ng-model="pageContentForms.page_content_image" onchange="angular.element(this).scope().uploads(this)"/></span></div>';
            objCell_3.innerHTML = '<button type="button" onclick="deleteRow(\'tableGrid\',this);" class="btn default btn-xs red"><i class="fa fa-trash-o"></i></button>';
        }

        function deleteRow(tableID, rows) {
            var table = document.getElementById(tableID);
            var _rows = rows.parentNode.parentNode;
            table.deleteRow(_rows.rowIndex);
            /*
            if(_rows.rowIndex <=1)
              alert("Sorry Can't Delete Parent Row !");  
            else
              table.deleteRow(_rows.rowIndex);
            */
        }

        function checkAll(Obj) {
            $('.specification').attr('checked', Obj.checked);
        }
    </script>
</div>