<div ng-controller='VehicleController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">View {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->

    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="view(id);">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus"></i> View {{caption}}
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified" style="margin-top:10px;">
                            <li ng-class="{'active': tab == 1}">
                                <a href="javascript:;" ng-click="tab = 1" data-toggle="tab" aria-expanded="true">Vehicle Information </a>
                            </li>
                            <li ng-class="{'active': tab == 2}">
                                <a href="javascript:;" ng-click="tab = 2" data-toggle="tab" aria-expanded="false">Owner Information </a>
                            </li>
                            <li ng-class="{'active': tab == 3}">
                                <a href="javascript:;" ng-click="tab = 3" data-toggle="tab" aria-expanded="false">Vehicle Specfication </a>
                            </li>
                            <li ng-class="{'active': tab == 4}">
                                <a href="javascript:;" ng-click="tab = 4" data-toggle="tab" aria-expanded="false">Other Information </a>
                            </li>
                            <li ng-class="{'active': tab == 5}">
                                <a href="javascript:;" ng-click="tab = 5" data-toggle="tab" aria-expanded="false">Vehicle Image </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{'active': tab == 1}" ng-show="tab == 1">
                                <div class="table-scrollable">
                                    <table class="table-view table table-striped table-bordered table-advance table-hover">
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                Registration Date
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.registration_date}}
                                            </td>
                                            <th class="table-head" style="width:20%;">
                                                Stock Type
                                            </th>
                                            <td class="table-content" style="width:30%;" ng-bind = "bindScopeForm.vehicle_type == 2 ? 'Sell':'Rent'"></td>
                                        </tr>
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                Vehicle Code
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.unique_no}}
                                            </td>
                                            <th class="table-head" style="width:20%;">
                                                Manufacturer 
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.manufacturer_name}} ({{bindScopeForm.vehicle_type_name}})
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                Vehicle Model
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.vehicle_model_name}}
                                            </td>
                                            <th class="table-head" style="width:20%;">
                                                Variant
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.variant_name}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                Vehicle Number
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.vehicle_number}}
                                            </td>
                                            <th class="table-head" style="width:20%;">
                                                Manufactuere Year
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.manufacturer_year}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                Engine Number
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.engine_number}}
                                            </td>
                                            <th class="table-head" style="width:20%;">
                                                Chasis Number
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.chasis_number}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                Purchase Price
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.purchase_price}}
                                            </td>
                                            <th class="table-head" style="width:20%;">
                                                Purchase Date
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.purchase_date}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                Fuel Type 
                                            </th>
                                            <td class="table-content" style="width:30%;" ng-switch ="bindScopeForm.fuel_type">
                                                <span ng-switch-when = "1">Petrol</span>
                                                <span ng-switch-when = "2">Diesel</span>
                                                <span ng-switch-when = "3">CNG</span>
                                            </td>
                                            <th class="table-head" style="width:20%;">
                                                Vehicle Start Method
                                            </th>
                                            <td class="table-content" style="width:30%;" ng-switch ="bindScopeForm.vehicle_start_method">
                                                <span ng-switch-when = "1">Self</span>
                                                <span ng-switch-when = "2">Kick</span>
                                                <span ng-switch-when = "3">Both</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                Grade
                                            </th>
                                            <td colspan="3" class="table-content" style="width:30%;">
                                                <div class="grade">{{bindScopeForm.grade}}</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" ng-class="{'active': tab == 2}" ng-show="tab == 2">
                                <div class="table-scrollable">
                                    <table class="table-view table table-striped table-bordered table-advance table-hover">
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                Owner Name
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.owner_first_name}} {{bindScopeForm.owner_middle_name}} {{bindScopeForm.owner_last_name}}
                                            </td>
                                            <th class="table-head" style="width:20%;">
                                                Mobile No.
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.owner_mobile_no}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                Email ID
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.owner_email_id}}
                                            </td>
                                            <th class="table-head" style="width:20%;">
                                                Profession
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.owner_profession}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                Country
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.country}}
                                            </td>
                                            <th class="table-head" style="width:20%;">
                                                State
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.state}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                City
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.city}}
                                            </td>
                                            <th class="table-head" style="width:20%;">
                                                Address
                                            </th>
                                            <td class="table-content" style="width:30%;">
                                                {{bindScopeForm.owner_address}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-head" style="width:20%;">
                                                Remark
                                            </th>
                                            <td colspan="3" class="table-content">
                                                {{bindScopeForm.owner_remark}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" ng-class="{'active': tab == 3}" ng-show="tab == 3">
                                <div class="table-scrollable">
                                    <table class="table-view table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th class="table-head" style="width:20%;">S.No.</th>
                                                <th class="table-head" style="width:80%;">Specification</th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="sp in bindScopeForm.specification">
                                            <td style="font-weight: bold;width:20%;text-align: left;">
                                                {{$index+1}}
                                            </td>
                                            <td style="width:80%;text-align: left;">
                                                {{sp.name}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" ng-class="{'active': tab == 4}" ng-show="tab == 4">
                                <div class="table-scrollable">
                                    <table class="table-view table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th class="table-head" style="width:50%;">Other Detail</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td style="width:50%;text-align: left;" ng-bind-html ="bindScopeForm.other_detail">
                                            </td>
                                        </tr>
                                        
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" ng-class="{'active': tab == 5}" ng-show="tab == 5">
                                <div class="row mix-grid">
                                    <div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="img in bindScopeForm.images">
                                        <img class="fileinput-preview thumbnail" data-trigger="fileinput" style="width:200px; height:150px;" ng-src="{{getImagePath+img}}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
        </div>
    </div>
</div>