<style>
    .input-medium {
        width: 230px !important;
    }
    
    .portlet.light {
        padding: 9px !important;
    }
</style>
<div ng-controller="VehicleReportsController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Vehicle Summary <small>report</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Vehicle Management</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Reports</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Vehicle Summary Report</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row" ng-init="getFirmList();">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light">
                <div class="portlet-body">
                    <form name="reportSubmission" id="reportSubmission" ng-submit="summaryReport();" novalidate>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="10%" style="vertical-align: middle;white-space: nowrap;"> Start Date</th>
                                        <td>
                                            <div ng-class="{ 'has-error' : reportSubmission.start_date.$invalid && !reportSubmission.start_date.$pristine}">
                                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                    <input type="text" class="form-control" id="start_date" readonly="" ng-change="dateValidate();" value="{{getDate}}" name="start_date" ng-model="bindScopeForm.start_date" maxlength="12" required />
                                                    <span class="input-group-btn">
                                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                </div>
                                                <p style="color:#F3565D !important;" ng-show="reportSubmission.start_date.$invalid && !reportSubmission.start_date.$pristine" class="help-block">Start date is required.</p>
                                            </div>
                                        </td>
                                        <th width="15%" style="vertical-align: middle;white-space: nowrap;">End Date</th>
                                        <td>
                                            <div ng-class="{ 'has-error' : reportSubmission.end_date.$invalid && !reportSubmission.start_date.$pristine || isDateValidate == 0 }">
                                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                    <input type="text" class="form-control" id="end_date" readonly="" ng-change="dateValidate();" name="end_date" value="{{getDate}}" ng-model="bindScopeForm.end_date" maxlength="12" required />
                                                    <span class="input-group-btn">
                                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                </div>
                                                <div style="color:#F3565D !important;" ng-show="reportSubmission.end_date.$invalid && !reportSubmission.end_date.$pristine" class="help-block">End date is required.</div>
                                                <div style="color:#F3565D !important;" ng-show="isDateValidate == 0" class="help-block">{{dateLabel}}</div>
                                            </div>
                                        </td>
                                        <th width="10%" style="vertical-align: middle;white-space: nowrap;">Firm</th>
                                        <td>
                                            <select id="firmId" ng-model="bindScopeForm.firm_id" class="form-control input-large" data-placeholder="All Firm...">
                                                <option value="">All Firm</option>
                                                <option ng-repeat = "firm in arrFirmData" value="{{firm.id}}">{{firm.firm_name}}({{firm.unique_no}})</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" style="text-align: right;">
                                            <button type="submit" ng-disabled="formSubmission.$invalid || isDateValidate == 0" class="btn btn-sm blue">Search <i class="fa fa-search"></i></button>
                                            <button type="reset" class="btn btn-sm grey-cascade">Reset</button>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light">
                <div class="portlet-body">
                    <div ng-if="arrReportData.length > 0" style="height: 400px;overflow:auto;" class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr role="row" class="heading">
                                    <th class="report-header" scope="col">S.No.</th>
                                    <th class="report-header" scope="col">Vehicle Code</th>
                                    <th class="report-header" scope="col">Vehicle Number</th>
                                    <th class="report-header" scope="col">Vehicle Type</th>
                                    <th class="report-header" scope="col">Manufacturer</th>
                                    <th class="report-header" scope="col">Model</th>
                                    <th class="report-header" scope="col">Purchase Price</th>
                                    <th class="report-header" scope="col">On Roard Price</th>
                                    <th class="report-header" scope="col">Engine No.</th>
                                    <th class="report-header" scope="col">Chasis No.</th>
                                    <th class="report-header" scope="col">Color</th>
                                    <th class="report-header" scope="col">Manufacturer Year</th>
                                    <th class="report-header" scope="col">Owner Name</th>
                                    <th class="report-header" scope="col">Owner Mobile No.</th>
                                    <th class="report-header" scope="col">Owner Email ID</th>
                                    <th class="report-header" scope="col">Owner Address</th>
                                    <th class="report-header" scope="col">Country</th>
                                    <th class="report-header" scope="col">State</th>
                                    <th class="report-header" scope="col">City</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="row in arrReportData">
                                <tr>
                                    <th class="report-header" style="font-weight: bold;" colspan="19">Firm : {{row.firm}}</th>
                                </tr>
                                <tr ng-repeat="vehicle in row.vehicle_detail">
                                    <td class="report-content">{{$index+1}}</td>
                                    <td class="report-content" ng-bind-html="vehicle.unique_no"></td>
                                    <td class="report-content" ng-bind-html="vehicle.vehicle_number"></td>
                                    <td class="report-content" ng-bind-html="vehicle.vehicle_type_name"></td>
                                    <td class="report-content" ng-bind-html="vehicle.manufacturer_name"></td>
                                    <td class="report-content" ng-bind-html="vehicle.vehicle_model_name"></td>
                                    <td class="report-content" ng-bind-html="vehicle.purchase_price"></td>
                                    <td class="report-content" ng-bind-html="vehicle.onroad_price"></td>
                                    <td class="report-content" ng-bind-html="vehicle.engine_number"></td>
                                    <td class="report-content" ng-bind-html="vehicle.chasis_number"></td>
                                    <td class="report-content" ng-bind-html="vehicle.variant_name"></td>
                                    <td class="report-content" ng-bind-html="vehicle.manufacturer_year"></td>
                                    <td class="report-content" ng-bind-html="vehicle.owner_name"></td>
                                    <td class="report-content" ng-bind-html="vehicle.owner_mobile_no"></td>
                                    <td class="report-content" ng-bind-html="vehicle.owner_email_id"></td>
                                    <td class="report-content" ng-bind-html="vehicle.owner_address"></td>
                                    <td class="report-content" ng-bind-html="vehicle.country"></td>
                                    <td class="report-content" ng-bind-html="vehicle.state"></td>
                                    <td class="report-content" ng-bind-html="vehicle.city"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="arrReportData.length == 0 && isReport == 1">
                        <div class="alert alert-block alert-danger fade in">
                            <button type="button" class="close" data-dismiss="alert"></button>
                            <p style="font-weight: bold;">
                                Record Not Found
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#firmId').select2();
        $('.date-picker').datepicker({
            rtl: Metronic.isRTL(),
            orientation: "left",
            autoclose: true
        });
    });
</script>