<div ng-controller='SupplierController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div ng-show ="memberFirmId > 0">
        <div class="row" ng-init ="add();">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet box {{portletForm}}">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-database"></i> Add {{caption}}
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <notification-alert></notification-alert>
                        <form name="formSubmission" id="formSubmission" ng-submit="save(formSubmission);" class="form-horizontal form-bordered form-row-stripped" novalidate>
                            <div class="form-body">
                                <div class="form-group" id="titleDiv">
                                    <label class="control-label col-md-3">Title<span class="required">* </span></label>
                                    <div class="col-md-6">
                                        <select2 class="form-control" name="title_master_id" ng-model="bindScopeForm.title_master_id" s2-options="val.id as val.name for val in arrTitleData" options="{ allowClear: true }" ng-required="true" placeholder="Select Title"></select2>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                        <span class="input-group-btn">
                                            <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getTitleList(1);" class="btn btn-default tooltips">
                                                <span class="glyphicon glyphicon-refresh"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Firm Name<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="firm_name" autocomplete="off" id="firm_name" ng-model="bindScopeForm.firm_name" placeholder="Please enter firm name" ng-minlength = "3" ng-maxlength="100" ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" auto-focus="true" required = "required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">First Name<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="first_name" autocomplete="off" id="first_name" ng-model="bindScopeForm.first_name" placeholder="Please enter first name" ng-minlength = "3" ng-maxlength="30"  ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" required = "required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Middle Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="middle_name" autocomplete="off" id="middle_name" ng-model="bindScopeForm.middle_name" placeholder="Please enter middle name" ng-maxlength="30"  ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="last_name" autocomplete="off" id="last_name" ng-model="bindScopeForm.last_name" placeholder="Please enter last name" ng-maxlength="30"  ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Mobile No<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="mobile_no" autocomplete="off" ng-pattern="/^(\d)+$/" ng-pattern-err-type="validMobileMessage" onpaste = "return false" ng-model="bindScopeForm.mobile_no" placeholder="Please enter mobile no" ng-minlength ="10" ng-maxlength="10" required = "required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Email ID</label>
                                    <div class="col-md-9">
                                        <input type="email" class="form-control" name="email_id" autocomplete="off" ng-model="bindScopeForm.email_id" placeholder="Please enter email ID" maxlength="200" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Address</label>
                                    <div class="col-md-9">
                                        <textarea name="address" rows="4" class="form-control" placeholder="Please enter address" ng-model="bindScopeForm.address"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Detail</label>
                                    <div class="col-md-9">
                                        <textarea name="description" rows="4" class="form-control" placeholder="Please enter description" ng-model="bindScopeForm.description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                    <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-click ="btnGroup.status = 1;" ng-bind-html="btnGroup.btn1"></button>
                                    <button type="submit" class="btn {{btnGroup.btn2_color}}" ng-disabled ="btnGroup.is_disabled" id="save_new_btn" ng-click ="btnGroup.status = 2;" ng-bind-html="btnGroup.btn2"></button>
                                    <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show = "!memberFirmId">
        <div class="alert alert-block alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert"></button>
            <h4 class="alert-heading">Error!</h4>
            <p>
                PLEASE SELECT VALID MEMBER ID
            </p>
            <p>
                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Back</a>
            </p>
        </div>
    </div>
</div>
