<div ng-controller="ProductStockController" ng-init = "add();">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
<form name="formSubmission" id="formSubmission" ng-submit = "save();" novalidate>
    <div class="table-scrollable">
        <table class="table-view table table-striped table-bordered table-advance table-hover">
            <tr>
                <th class="table-head">Category</th>
                <th class="table-head">Product</th>
                <th class="table-head">Code</th>
                <th class="table-head">HSN Code</th>
                <th class="table-head">Variant</th>
                <th class="table-head">Unit</th>
                <th class="table-head">Stock Qty</th>
            </tr>
            <tr ng-repeat = "product in productDetail">
                <td>{{product.category}}</td>
                <td>{{product.product}}</td>
                <td>{{product.code}}</td>
                <td>{{product.hsn_code}}</td>
                <td>{{product.price}}</td>
                <td>{{product.unit}}</td>
                <td>
                    <div class="form-group">
                        <input type="text" name="stock[{{product.id}}]" onpaste = "return false" onkeypress="return CommonComponent.allowOnlyNumeric(event)" maxlength="10" class="form-control" style="width:130px;" value="0" ng-required="true"/>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-head" colspan="7" style="text-align: center;">
                    <button type="submit" class="btn green" id="record_save_btn">Save</button>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                </th>
            </tr>
        </table>
    </div>
</form>
</div>