<div ng-controller="ProductStockController" ng-init = "index();">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div ng-show ="memberFirmId && companyYearId">
        <button ng-hide="!userRights.add" class="btn btn-sm default green tooltips" data-container="body" data-placement="top" data-original-title="Add Record" ng-click="redirectState('add','');"><i class="fa fa-plus"></i><span class="hidden-480">Add Opening Stock  </span></button>
        <div class="table-scrollable">
            <table class="table-view table table-striped table-bordered table-advance table-hover">
                <tr>
                    <th class="table-head">Category</th>
                    <th class="table-head">Product</th>
                    <th class="table-head">Code</th>
                    <th class="table-head">HSN Code</th>
                    <th class="table-head">Variant</th>
                    <th class="table-head">Unit</th>
                    <th class="table-head">Stock Qty</th>
                    <th class="table-head">Consumed</th>
                    <th class="table-head">Available Stock</th>
                </tr>
                <tr ng-repeat = "product in productDetail">
                    <td>{{product.category}}</td>
                    <td>{{product.product}}</td>
                    <td>{{product.code}}</td>
                    <td>{{product.hsn_code}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.unit}}</td>
                    <td>{{product.stock}}</td>
                    <td>{{product.consumed}}</td>
                    <td>{{product.stock - product.consumed}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" ng-show="!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!companyYearId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID COMPANY YEAR ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>