<div class="page-sidebar navbar-collapse collapse">
                                    <ul class="page-sidebar-menu page-sidebar-menu-light " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
                                        <li class="sidebar-search-wrapper">
                                            <form class="sidebar-search sidebar-search-bordered" action="extra_search.html" method="POST">
                                                <a href="javascript:;" class="remove">
                                                <i class="icon-close"></i>
                                                </a>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Search...">
                                                    <span class="input-group-btn">
                                                    <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                                                    </span>
                                                </div>
                                            </form>
                                        </li><li class="start active">
                                                                    <a href="#/dashboard" sref="dashboard" ui-sref-opts="{reload: true}">
                                                                    <i class="icon-home"></i>
                                                                    <span class="title">Dashboard</span>
                                                                    </a>
                                                                </li><li >
                                                                        <a href="javascript:;">
                                                                        <i class="icon-puzzle"></i>
                                                                        <span class="title">Master</span>
                                                                        <span class="arrow "></span>
                                                                        </a>
                                                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/title" sref=".title" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-indent"></i>
                                    <span class="title">Title</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/country" sref=".country" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-institution"></i>
                                    <span class="title">Country</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/state" sref=".state" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-institution"></i>
                                    <span class="title">State</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/city" sref=".city" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-institution"></i>
                                    <span class="title">City</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/financial-year" sref=".financial-year" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-calendar"></i>
                                    <span class="title">Financial Year</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/unit" sref=".unit" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-cube"></i>
                                    <span class="title">Unit</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/bank" sref=".bank" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-bank"></i>
                                    <span class="title">Bank</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/document" sref=".document" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file-text"></i>
                                    <span class="title">Document</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/colour" sref=".colour" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-delicious"></i>
                                    <span class="title">Colour</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/royalty" sref=".royalty" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-delicious"></i>
                                    <span class="title">Royalty Charge</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/grade" sref=".grade" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-delicious"></i>
                                    <span class="title">Grade</span>
                                    </a>
                                </li>   </ul>
                                                                    </li><li >
                                                                        <a href="javascript:;">
                                                                        <i class="icon-settings"></i>
                                                                        <span class="title">Settings</span>
                                                                        <span class="arrow "></span>
                                                                        </a>
                                                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/general-settings" sref=".general-settings" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-gear"></i>
                                    <span class="title">General Settings</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/user-settings" sref=".user-settings" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-user-md"></i>
                                    <span class="title">User Settings</span>
                                    </a>
                                </li>   </ul>
                                                                    </li><li >
                                                                        <a href="javascript:;">
                                                                        <i class="fa fa-users"></i>
                                                                        <span class="title">Member Management</span>
                                                                        <span class="arrow "></span>
                                                                        </a>
                                                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/branch" sref=".branch" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-user"></i>
                                    <span class="title">Franchise</span>
                                    </a>
                                </li><li>
                                        <a href="javascript:;">
                                        <i class="fa fa-folder"></i>
                                        <span class="title">Reports</span>
                                        <span class="arrow "></span>
                                        </a>
                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/member_dynamic_report" sref=".member_dynamic_report" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file"></i>
                                    <span class="title">Member Dynamic Report</span>
                                    </a>
                                </li>   </ul>
                                    </li>   </ul>
                                                                    </li><li >
                                                                    <a href="#/dashboard/supplier" sref=".supplier" ui-sref-opts="{reload: true}">
                                                                    <i class="fa fa-tasks"></i>
                                                                    <span class="title">Supplier Management</span>
                                                                    </a>
                                                                </li><li >
                                                                        <a href="javascript:;">
                                                                        <i class="fa fa-pencil-square"></i>
                                                                        <span class="title">Tax Management</span>
                                                                        <span class="arrow "></span>
                                                                        </a>
                                                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/tax" sref=".tax" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-user"></i>
                                    <span class="title">Tax</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/taxgroup" sref=".taxgroup" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-user"></i>
                                    <span class="title">Tax Group</span>
                                    </a>
                                </li>   </ul>
                                                                    </li><li >
                                                                        <a href="javascript:;">
                                                                        <i class="fa fa-building"></i>
                                                                        <span class="title">Stock Management</span>
                                                                        <span class="arrow "></span>
                                                                        </a>
                                                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/category" sref=".category" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Category</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/product" sref=".product" ui-sref-opts="{reload: true}">
                                    <i class="icon-handbag"></i>
                                    <span class="title">Product</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/purchase" sref=".purchase" ui-sref-opts="{reload: true}">
                                    <i class="icon-basket"></i>
                                    <span class="title">Purchase</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/purchase-order-invoice" sref=".purchase-order-invoice" ui-sref-opts="{reload: true}">
                                    <i class="icon-basket"></i>
                                    <span class="title">Perfoma Invoice</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/sale" sref=".sale" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-reddit-square"></i>
                                    <span class="title">Sale</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/stock" sref=".stock" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-reddit-square"></i>
                                    <span class="title">Product Stock</span>
                                    </a>
                                </li><li>
                                        <a href="javascript:;">
                                        <i class="fa fa-folder"></i>
                                        <span class="title">Reports</span>
                                        <span class="arrow "></span>
                                        </a>
                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/product_dynamic_report" sref=".product_dynamic_report" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file"></i>
                                    <span class="title">Product Dynamic Report</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/purchase_dynamic_report" sref=".purchase_dynamic_report" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file"></i>
                                    <span class="title">Purchase Dynamic Report</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/sale_dynamic_report" sref=".sale_dynamic_report" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file"></i>
                                    <span class="title">Sale Dynamic Report</span>
                                    </a>
                                </li>   </ul>
                                    </li>   </ul>
                                                                    </li><li >
                                                                    <a href="#/dashboard/agent" sref=".agent" ui-sref-opts="{reload: true}">
                                                                    <i class="fa fa-pencil-square"></i>
                                                                    <span class="title">Agent Management</span>
                                                                    </a>
                                                                </li><li >
                                                                        <a href="javascript:;">
                                                                        <i class="fa fa-bus"></i>
                                                                        <span class="title">Vehicle Management</span>
                                                                        <span class="arrow "></span>
                                                                        </a>
                                                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/vehicle-type" sref=".vehicle-type" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Vehicle Type</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/manufacturer" sref=".manufacturer" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Manufacturer</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/maker" sref=".maker" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Maker</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/specification" sref=".specification" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Vehicle Specification</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/vehicle" sref=".vehicle" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Vehicle</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/vehicle_sale" sref=".vehicle_sale" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Vehicle Sale</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/bike-on-rent" sref=".bike-on-rent" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Bike ON Rent</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/bike-refinance" sref=".bike-refinance" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Bike Refinance</span>
                                    </a>
                                </li><li>
                                        <a href="javascript:;">
                                        <i class="fa fa-folder"></i>
                                        <span class="title">Reports</span>
                                        <span class="arrow "></span>
                                        </a>
                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/vehicle_dynamic_report" sref=".vehicle_dynamic_report" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file"></i>
                                    <span class="title">Vehicle Dynamic Report</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/dynamic_vehicle_sale_report" sref=".dynamic_vehicle_sale_report" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file"></i>
                                    <span class="title">Dynamic Vehicle Sale Report</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/dynamic_bikerent_report" sref=".dynamic_bikerent_report" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file"></i>
                                    <span class="title">Dynamic Bike Rent Report</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/dynamic_bikefinance_report" sref=".dynamic_bikefinance_report" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file"></i>
                                    <span class="title">Dynamic Bike Finance Report</span>
                                    </a>
                                </li>   </ul>
                                    </li>   </ul>
                                                                    </li><li >
                                                                        <a href="javascript:;">
                                                                        <i class="fa fa-pencil-square"></i>
                                                                        <span class="title">Expense Management</span>
                                                                        <span class="arrow "></span>
                                                                        </a>
                                                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/expense-head" sref=".expense-head" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Expense Head</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/expenses" sref=".expenses" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Expenses</span>
                                    </a>
                                </li><li>
                                        <a href="javascript:;">
                                        <i class="fa fa-database"></i>
                                        <span class="title">Report</span>
                                        <span class="arrow "></span>
                                        </a>
                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/dynamic_expense_report" sref=".dynamic_expense_report" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file"></i>
                                    <span class="title">Dynamic Expense Report</span>
                                    </a>
                                </li>   </ul>
                                    </li>   </ul>
                                                                    </li><li >
                                                                        <a href="javascript:;">
                                                                        <i class="fa fa-bus"></i>
                                                                        <span class="title">Coupon Management</span>
                                                                        <span class="arrow "></span>
                                                                        </a>
                                                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/coupon-master" sref=".coupon-master" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Coupon Master</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/coupon_sale" sref=".coupon_sale" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Coupon Sale</span>
                                    </a>
                                </li><li>
                                        <a href="javascript:;">
                                        <i class="fa fa-folder"></i>
                                        <span class="title">Reports</span>
                                        <span class="arrow "></span>
                                        </a>
                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/dynamic_coupon_sale_report" sref=".dynamic_coupon_sale_report" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file"></i>
                                    <span class="title">Dynamic Coupon Sale Report</span>
                                    </a>
                                </li>   </ul>
                                    </li>   </ul>
                                                                    </li><li >
                                                                        <a href="javascript:;">
                                                                        <i class="fa fa-pencil-square"></i>
                                                                        <span class="title">Job Management</span>
                                                                        <span class="arrow "></span>
                                                                        </a>
                                                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/service-group" sref=".service-group" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Service Group</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/services" sref=".services" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Service</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/inspection" sref=".inspection" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Inspection</span>
                                    </a>
                                </li>   </ul>
                                                                    </li><li >
                                                                        <a href="javascript:;">
                                                                        <i class="fa fa-pencil-square"></i>
                                                                        <span class="title">Manage Job</span>
                                                                        <span class="arrow "></span>
                                                                        </a>
                                                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/job" sref=".job" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">add job</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/job_complete" sref=".job_complete" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Job Complete</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/job_invoice" sref=".job_invoice" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Job Invoice</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/view_job" sref=".view_job" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">View Job</span>
                                    </a>
                                </li><li>
                                        <a href="javascript:;">
                                        <i class="fa fa-folder"></i>
                                        <span class="title">Reports</span>
                                        <span class="arrow "></span>
                                        </a>
                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/dynamic_vehiclejob_report" sref=".dynamic_vehiclejob_report" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file"></i>
                                    <span class="title">Dynamic Vehicle Job Report</span>
                                    </a>
                                </li>   </ul>
                                    </li>   </ul>
                                                                    </li><li >
                                                                        <a href="javascript:;">
                                                                        <i class="fa fa-pencil-square"></i>
                                                                        <span class="title">Employee Management</span>
                                                                        <span class="arrow "></span>
                                                                        </a>
                                                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/department" sref=".department" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Department</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/designation" sref=".designation" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Designation</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/employee" sref=".employee" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Employee</span>
                                    </a>
                                </li><li>
                                        <a href="javascript:;">
                                        <i class="fa fa-folder"></i>
                                        <span class="title">Reports</span>
                                        <span class="arrow "></span>
                                        </a>
                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/dynamic_employee_report" sref=".dynamic_employee_report" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-file"></i>
                                    <span class="title">Employee Dynamic Report</span>
                                    </a>
                                </li>   </ul>
                                    </li>   </ul>
                                                                    </li><li >
                                                                        <a href="javascript:;">
                                                                        <i class="fa fa-pencil-square"></i>
                                                                        <span class="title">User Management</span>
                                                                        <span class="arrow "></span>
                                                                        </a>
                                                                        <ul class="sub-menu"><li>
                                    <a href="#/dashboard/role" sref=".role" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Role</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/rolelink" sref=".rolelink" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Role Link</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/assign-role" sref=".assign-role" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Assign Role</span>
                                    </a>
                                </li><li>
                                    <a href="#/dashboard/assign-role-rights" sref=".assign-role-rights" ui-sref-opts="{reload: true}">
                                    <i class="fa fa-database"></i>
                                    <span class="title">Assign Role Rights</span>
                                    </a>
                                </li>   </ul>
                                                                    </li>    </ul>
                                    </div>