<div ng-controller='EmployeeController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div ng-show ="memberFirmId" class="row" >
        <div class="col-md-12" ng-init="add();">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified" style="margin-top:10px;">
                            <li ng-class="{'active': memberTab == 1}">
                                <a href="javascript:void(0);" ng-disabled ="true">Personal Information </a>
                            </li>
                            <li ng-class="{'active': memberTab == 2}">
                                <a href="javascript:void(0);" ng-disabled ="true">Employee Information </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{'active': memberTab == 1}" ng-show="memberTab == 1">
                                <form name="EmployeeInfoForm" id="EmployeeInfoForm" ng-submit="nextTab();" class="form-horizontal form-bordered form-row-stripped" novalidate>
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Employee Code</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right" style="padding-top:8px;font-weight:bold;">
                                                    {{employeeCode}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="titleDiv">
                                            <label class="control-label col-md-3">Title<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="title_master_id" ng-model="bindScopeForm.title_master_id" s2-options="val.id as val.name for val in arrTitleData" options="{ allowClear: true }" ng-required="true" placeholder="Select Title"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getTitleList(1);" class="btn btn-default tooltips">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">First Name<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" name="first_name" ng-model="bindScopeForm.first_name" maxlength="30" placeholder="Please enter first name ...." required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Middle Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" name="middle_name" ng-model="bindScopeForm.middle_name" placeholder="Please enter middle name ...." maxlength="30" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Last Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" name="last_name" ng-model="bindScopeForm.last_name" placeholder="Please enter last name ...." maxlength="30" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" style="color:#000;">Gender<span class="required">* </span></label>
                                            <div class="col-md-9 md-radio-inline">
                                                <div class="md-radio">
                                                    <input type="radio" id="radio6" name="gender" value="1" class="md-radiobtn" checked="">
                                                    <label for="radio6">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Male </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio7" name="gender" value="2" class="md-radiobtn">
                                                    <label for="radio7">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Female </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio8" name="gender" value="3" class="md-radiobtn">
                                                    <label for="radio8">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Transgender </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Mobile No.<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" name="mobile_no" ng-pattern-err-type="validMobileMessage" ng-model="bindScopeForm.mobile_no" placeholder="Please enter mobile no ...." ng-pattern="/^(\d)+$/" onkeypress="return CommonComponent.allowOnlyNumeric(event);" ng-minlength="10" ng-maxlength="10" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Alternate Mobile No.</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" name="alternate_mobile_no" ng-pattern-err-type="validMobileMessage" ng-model="bindScopeForm.alternate_mobile_no" placeholder="Please enter alternate mobile no ...." ng-pattern="/^(\d)+$/" ng-minlength="10" ng-maxlength="10" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Email-ID</label>
                                            <div class="col-md-9">
                                                <input type="email" class="form-control" autocomplete="off" name="email_id" ng-model="bindScopeForm.email_id" placeholder="Please enter email id ...." maxlength="160" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Alternate Email-ID</label>
                                            <div class="col-md-9">
                                                <input type="email" class="form-control" autocomplete="off" name="alternate_email_id" ng-model="bindScopeForm.alternate_email_id" placeholder="Please enter alternate email id ...." maxlength="160" />
                                            </div>
                                        </div>
                                        <div class="form-group" id="countryDiv">
                                            <label class="control-label col-md-3">Country<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="country_master_id" ng-model="bindScopeForm.country_master_id" ng-change="getStateList(1);" s2-options="val.id as val.name for val in arrCountryData" options="{ allowClear: true }" placeholder="Select Country" ng-required="true"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getCountryList(1);" class="btn btn-default tooltips">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="stateDiv">
                                            <label class="control-label col-md-3">State<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="state_master_id" ng-model="bindScopeForm.state_master_id" ng-change="getCityList(1);" s2-options="val.id as val.name for val in arrStateData" options="{ allowClear: true }" placeholder="Select State" ng-required="true"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getStateList(1);" class="btn btn-default tooltips">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="cityDiv">
                                            <label class="control-label col-md-3">City<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="city_master_id" ng-model="bindScopeForm.city_master_id" s2-options="val.id as val.name for val in arrCityData" options="{ allowClear: true }" placeholder="Select City" ng-required="true"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getCityList(1);" class="btn btn-default tooltips">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                                <button type="submit" class="btn blue" id="backbtn">Next</button>
                                                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" ng-class="{'active': memberTab == 2}" ng-show="memberTab == 2">
                                <form name="EmployeeOtherInfoForm" id="EmployeeOtherInfoForm" ng-submit="save();" class="form-horizontal form-bordered" novalidate>
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Date of Joining<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                    <input type="text" class="form-control" autocomplete="off" id="date_of_joining" name="date_of_joining" ng-model="bindScopeForm.date_of_joining" maxlength="12" required />
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="roleDiv">
                                            <label class="control-label col-md-3">Role</label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="role_master_id" ng-model="bindScopeForm.role_master_id" s2-options="val.id as val.name for val in arrEmployeeRoleData" options="{ allowClear: true }" placeholder="Select Role"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="employeeRoleList(1);" class="btn btn-default tooltips">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="departmentDiv">
                                            <label class="control-label col-md-3">Department<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="department_master_id" ng-change="getDesignationList(1)" ng-model="bindScopeForm.department_master_id" s2-options="val.id as val.name for val in arrDepartmentData" options="{ allowClear: true }" ng-required="true" placeholder="Select Department"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getDepartmentList(1);" class="btn btn-default tooltips">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="designationDiv">
                                            <label class="control-label col-md-3">Designation<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="designation_master_id" ng-model="bindScopeForm.designation_master_id" s2-options="val.id as val.name for val in arrDesignationData" options="{ allowClear: true }" ng-required="true" placeholder="Select Designation"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getDesignationList(1);" class="btn btn-default tooltips">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Qualification</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" name="qualification" ng-model="bindScopeForm.qualification" maxlength="100" placeholder="Please enter qualification..." />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Pan No.</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" name="pan_number" ng-model="bindScopeForm.pan_number" ng-minlength ="10" ng-maxlength="10" placeholder="Please enter gst no." />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Aadhar No.</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" ng-pattern="/^(\d)+$/" ng-pattern-err-type="validAdhaarMessage" name="aadhar_number" ng-model="bindScopeForm.aadhar_number" ng-minlength="12" ng-maxlength="12" onkeypress="return CommonComponent.allowOnlyNumeric(event);" placeholder="Please enter aadhar number..." />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Residential Address</label>
                                            <div class="col-md-9">
                                                <textarea name="c_address" rows="4" class="form-control" ng-model="bindScopeForm.c_address" placeholder="Please enter residential address ...."></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Permanent Address</label>
                                            <div class="col-md-9">
                                                <textarea name="p_address" rows="4" class="form-control" ng-model="bindScopeForm.p_address" placeholder="Please enter permanent address ...."></textarea>
                                            </div>
                                        </div>
                    
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.photo.$invalid && !formSubmission.photo.$pristine }">
                                            <label class="control-label col-md-3">Photo</label>
                                            <div class="col-md-9">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <img ng-src="{{employeePhto}}" class="fileinput-preview thumbnail" id="preview_photo" data-trigger="fileinput" style="width: 200px; height: 150px;" />
                                                    <div>
                                                        <span class="btn default btn-file">
                                                        <span class="fileinput-new">Select Photo </span>
                                                        <input type="file" id="PhotoId" accept="image/*" onchange="angular.element(this).scope().uploads(this)" />
                                                        </span>
                                                        <p ng-show="formSubmission.logo.$invalid && !formSubmission.logo.$pristine" class="help-block">Photo is required.</p>
                                                        <input type="hidden" ng-model="bindScopeForm.logo" name="photo" id="photo" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                                <button type="button" class="btn blue" id="backbtn" ng-click="memberTab = 1">Back</button>
                                                <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-click ="btnGroup.status = 1;" ng-bind-html="btnGroup.btn1"></button>
                                                <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.date-picker').datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    </script>
</div>
