<div ng-controller='BranchController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="add();">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
                <div class=" portlet-body form">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified" style="margin-top:10px; ">
                            <li ng-class="{ 'active': memberTab==1 } ">
                                <a href="javascript:;">Personal Information </a>
                            </li>
                            <li ng-class="{ 'active': memberTab==2 } ">
                                <a href="javascript:;">Other Information </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane " ng-class="{ 'active': memberTab==1 }" ng-show="memberTab==1 ">
                                <form name="branchInformationForm" id="branchInformationForm" ng-submit = "nextTab(2);" class="form-horizontal form-bordered form-row-stripped" novalidate>
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Member Code</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right" style="padding-top:8px;font-weight:bold;">
                                                    {{memberCode}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Firm Name<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="firm_name" autocomplete="off" ng-model="bindScopeForm.firm_name" ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/"  ng-maxlength="160" auto-focus="true" placeholder="Please enter firm name ...." required />
                                            </div>
                                        </div>
                                        <div class="form-group" id="titleDiv">
                                            <label class="control-label col-md-3">Title<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="title_master_id" ng-model="bindScopeForm.title_master_id" s2-options="val.id as val.name for val in arrTitleData" options="{ allowClear: true }" ng-required="true" placeholder="Select Title"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getTitleList(1);" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">First Name<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="first_name" autocomplete="off" ng-model="bindScopeForm.first_name" ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" ng-maxlength="30" placeholder="Please enter first name ...." required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Middle Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="middle_name" autocomplete="off" ng-model="bindScopeForm.middle_name" placeholder="Please enter middle name ...." ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" ng-maxlength="30" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Last Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="last_name" autocomplete="off" ng-model="bindScopeForm.last_name" placeholder="Please enter last name ...." ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" ng-maxlength="30" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" style="color:#000;">Gender<span class="required">* </span></label>
                                            <div class="col-md-9 md-radio-inline">
                                                <div class="md-radio">
                                                    <input type="radio" id="radio6" name="gender" value="1" class="md-radiobtn" checked="">
                                                    <label for="radio6">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Male </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio7" name="gender" value="2" class="md-radiobtn">
                                                    <label for="radio7">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Female </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio8" name="gender" value="3" class="md-radiobtn">
                                                    <label for="radio8">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Transgender </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Mobile No.<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" ng-pattern="/^(\d)+$/" autocomplete="off" ng-pattern-err-type="validMobileMessage" class="form-control" name="mobile_no" ng-model="bindScopeForm.mobile_no" placeholder="Please enter mobile no ...."  ng-maxlength="10" ng-minlength="10" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Alternate Mobile No.</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" autocomplete="off" name="alternate_mobile_no" ng-model="bindScopeForm.alternate_mobile_no" placeholder="Please enter alternate mobile no ...." ng-pattern="/^(\d)+$/" ng-pattern-err-type="validMobileMessage" ng-maxlength="10" ng-minlength="10" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Email-ID</label>
                                            <div class="col-md-9">
                                                <input type="email" class="form-control" name="email_id" autocomplete="off" ng-model="bindScopeForm.email_id" placeholder="Please enter email id ...." maxlength="160" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Alternate Email-ID</label>
                                            <div class="col-md-9">
                                                <input type="email" class="form-control" name="alternate_email_id" autocomplete="off" ng-model="bindScopeForm.alternate_email_id" placeholder="Please enter alternate email id ...." maxlength="160" />
                                            </div>
                                        </div>
                                        <div class="form-group" id="countryDiv">
                                            <label class="control-label col-md-3">Country<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="country_master_id" ng-model="bindScopeForm.country_master_id" ng-change="getStateList(1);" s2-options="val.id as val.name for val in arrCountryData" options="{ allowClear: true }" placeholder="Select Country" ng-required="true"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getCountryList(1);" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="stateDiv">
                                            <label class="control-label col-md-3">State<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="state_master_id" ng-model="bindScopeForm.state_master_id" ng-change="getCityList(1);" s2-options="val.id as val.name for val in arrStateData" options="{ allowClear: true }" placeholder="Select State" ng-required="true"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getStateList(1);" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="cityDiv">
                                            <label class="control-label col-md-3">City<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="city_master_id" ng-model="bindScopeForm.city_master_id" s2-options="val.id as val.name for val in arrCityData" options="{ allowClear: true }" placeholder="Select City" ng-required="true"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getCityList(1);" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="memberDiv">
                                            <label class="control-label col-md-3">Member Type<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="member_type_tran_id" ng-model="bindScopeForm.member_type_tran_id" s2-options="val.id as val.name for val in arrMemberTypeData" options="{ allowClear: true }" placeholder="Select Member Type" ng-required="true"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getMemberTypeList(1);" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="royaltyDiv">
                                            <label class="control-label col-md-3">Royalty Charge<span class="required">* </span></label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="royalty_charge_master_id" ng-model="bindScopeForm.royalty_charge_master_id" s2-options="val.id as val.name for val in arrRoyaltyChargeData" options="{ allowClear: true }" placeholder="Select Royalty Charge" ng-required="true"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <span class="input-group-btn">
                                                    <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getRoyaltyChargeList(1);" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                                <button type="submit" class="btn blue" id="backbtn">Next</button>
                                                <a href="# " ui-sref="{{baseStateTo}} " class="btn default ">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane " ng-class="{ 'active': memberTab==2 } " ng-show="memberTab==2 ">
                                <form name="formSubmission" id="formSubmission" ng-submit = "save();" class="form-horizontal form-bordered form-row-stripped" novalidate>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Pan card No.</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="pan_number" autocomplete="off" ng-model="bindScopeForm.pan_number" ng-maxlength="10" ng-minlength ="10" placeholder="Please enter pan card no." />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">GST No.</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="gst_number" autocomplete="off" ng-model="bindScopeForm.gst_number" maxlength="60" placeholder="Please enter gst no." />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Residential Address</label>
                                            <div class="col-md-9">
                                                <textarea name="c_address" rows="4" class="form-control" ng-model="bindScopeForm.c_address" placeholder="Please enter residential address ...."></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Permanent Address</label>
                                            <div class="col-md-9">
                                                <textarea name="p_address" rows="4" class="form-control" ng-model="bindScopeForm.p_address" placeholder="Please enter permanent address ...."></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Pincode</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="pincode" autocomplete="off" ng-model="bindScopeForm.pincode" maxlength="8" placeholder="Please enter pincode ...." ng-pattern="/^(\d)+$/" ng-pattern-err-type="validPincodeMessage" onkeypress="return CommonComponent.allowOnlyNumeric(event);" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Photo</label>
                                            <div class="col-md-9">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <img ng-src="{{memberPhoto}}" class="fileinput-preview thumbnail" id="preview_photo" data-trigger="fileinput" style="width: 200px; height: 150px;" />
                                                    <div>
                                                        <span class="btn default btn-file">
                                                        <span class="fileinput-new">Select Photo </span>
                                                        <input type="file" id="PhotoId" accept="image/*" onchange="angular.element(this).scope().uploads(this,1)" />
                                                        </span>
                                                        <p ng-show="formSubmission.logo.$invalid && !formSubmission.logo.$pristine" class="help-block">Photo is required.</p>
                                                        <input type="hidden" ng-model="bindScopeForm.logo" name="photo" id="photo" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Logo</label>
                                            <div class="col-md-9">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <img ng-src="{{memberLogo}}" class="fileinput-preview thumbnail" id="preview_logo" data-trigger="fileinput" style="width: 200px; height: 150px;" />
                                                    <div>
                                                        <span class="btn default btn-file">
                                                    <span class="fileinput-new">Select Logo </span>
                                                        <input type="file" id="logoId" accept="image/*" onchange="angular.element(this).scope().uploads(this,2)" />
                                                        </span>
                                                        <p ng-show="formSubmission.logo.$invalid && !formSubmission.logo.$pristine" class="help-block">Logo is required.</p>
                                                        <input type="hidden" ng-model="bindScopeForm.logo" name="logo" id="logo" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions ">
                                            <div class="col-lg-offset-3 col-lg-9 col-left-add ">
                                                <button type="button" class="btn blue" id="backbtn " ng-click="memberTab=1">Back</button>
                                                <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-click ="btnGroup.status = 1;" ng-bind-html="btnGroup.btn1"></button>
                                                <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
