<div ng-controller='BranchController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">View {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->

    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="view(id);">
        <div class="col-md-12">
            <div class="profile-sidebar col-md-3">
                <div class="portlet light profile-sidebar-portlet">
                    <div class="profile-userpic">
                        <img ng-src="{{memberPhoto}}" class="img-responsive" alt="Photo">
                    </div>
                </div>
            </div>
            <div class="portlet light col-md-9">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Firm Name : {{bindScopeForm.firm_name}}</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <tr>
                                <td colspan="4" style="font-weight: bold;">
                                    Member Type : {{bindScopeForm.member_type}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-weight: bold;">
                                    GST No. : {{bindScopeForm.gst_number}}
                                </td>
                                <td colspan="2">
                                    Pan No. : {{bindScopeForm.pan_number}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Member Unique Code : {{bindScopeForm.unique_no}}
                                </td>
                                <td colspan="2">
                                    Registration Date : {{bindScopeForm.registration_date}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Member Name : {{bindScopeForm.first_name}} {{bindScopeForm.middle_name}} {{bindScopeForm.last_name}}
                                </td>
                                <td colspan="2">
                                    Gender : {{arrGender[bindScopeForm.gender-1]}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Mobile No.: {{bindScopeForm.mobile_no}}
                                </td>
                                <td colspan="2">
                                    Alternate Mobile No.: {{bindScopeForm.alternate_mobile_no}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    EmailID: {{bindScopeForm.email_id}}
                                </td>
                                <td colspan="2">
                                    Alternate EmailID: {{bindScopeForm.alternate_email_id}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Country : {{bindScopeForm.country}}
                                </td>
                                <td colspan="2">
                                    State : {{bindScopeForm.state}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    City : {{bindScopeForm.city}}
                                </td>
                                <td colspan="2">
                                    Pincode : {{bindScopeForm.pincode}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    Royalty Charge : {{bindScopeForm.royalty}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    Residential Address : {{bindScopeForm.c_address}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    Permanent Address : {{bindScopeForm.p_address}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
        </div>
    </div>

</div>