<div ng-controller='ProductController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Edit {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="edit(id);">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Edit {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <notification-alert></notification-alert>
                    <form name="formSubmission" id="formSubmission" ng-submit="save();" class="horizontal-form bordered-form form-row-stripped" novalidate>
                        <div class="tabbable-custom nav-justified">
                            <ul class="nav nav-tabs nav-justified" style="margin-top:10px;">
                                <li ng-class="{'active': productTab == 1}">
                                    <a href="javascript:;" data-toggle="tab" ng-click="productTab = 1" aria-expanded="true">Product Information</a>
                                </li>
                                <li ng-class="{'active': productTab == 2}">
                                    <a href="javascript:;" data-toggle="tab" ng-click="productTab = 2" aria-expanded="false">Image Information</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" ng-class="{'active': productTab == 1}" ng-show="productTab == 1">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Name<span class="required">* </span></label>
                                                    <input type="text" class="form-control" name="name" autocomplete="off" ng-model="bindScopeForm.name" ng-maxlength="100" placeholder="Please enter name" auto-focus="true" required />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Code</label>
                                                    <input type="text" class="form-control" name="code" autocomplete="off" ng-model="bindScopeForm.code" placeholder="Please enter code...."  ng-maxlength="60" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">HSN Code</label>
                                                    <input type="text" class="form-control" name="hsn_code" autocomplete="off" ng-model="bindScopeForm.hsn_code" placeholder="Please enter hsn code...." maxlength="30" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="control-label col-md-12">Category<span class="required">* </span></label>
                                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                                            <select2 class="form-control" name="category_master_id" ng-model="bindScopeForm.category_master_id" s2-options="val.id as val.name for val in arrCategoryData" options="{ allowClear: true }" ng-required="true" placeholder="Select Category"></select2>
                                                        </div>
                                                        <div class="col-md-2 col-sm-2 col-xs-12" style="border:0px !important;">
                                                            <span class="input-group-btn">
                                                                <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getCategoryList(1);" class="btn btn-default tooltips">
                                                                <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                                                            </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="control-label col-md-12">Tax Group</label>
                                                        <div class="col-md-10">
                                                            <select2 class="form-control" name="tax_group_master_id" ng-model="bindScopeForm.tax_group_master_id" s2-options="val.id as val.name for val in arrTaxGroupData" options="{ allowClear: true }" placeholder="Select Tax Group"></select2>
                                                        </div>
                                                        <div class="col-md-2 col-sm-2 col-xs-12" style="border:0px !important;">
                                                            <span class="input-group-btn">
                                                                <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getTaxGroupList(1);" class="btn btn-default tooltips">
                                                                <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                                                            </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="control-label col-md-12">Unit<span class="required">* </span></label>
                                                        <div class="col-md-10 col-sm-10">
                                                            <select2 class="form-control" name="unit_master_id" ng-model="bindScopeForm.unit_master_id" s2-options="val.id as val.name for val in arrUnitData" options="{ allowClear: true }" placeholder="Select Unit" required="required"></select2>
                                                        </div>
                                                        <div class="col-md-2 col-sm-2 col-xs-12" style="border:0px !important;">
                                                            <span class="input-group-btn">
                                                                <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getUnitList(1);" class="btn btn-default tooltips">
                                                                <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                                                            </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Purchase Price<span class="required">* </span></label>
                                                    <input type="text" class="form-control" autocomplete="off" name="purchase_price" ng-model="bindScopeForm.purchase_price" onpaste = "return false" placeholder="Please enter cost price" onkeypress="return CommonComponent.priceValidate(this,event)" maxlength="18" required = "required" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Sale Price<span class="required">* </span></label>
                                                    <input type="text" class="form-control" autocomplete="off" name="sale_price" ng-model="bindScopeForm.sale_price" onpaste = "return false" placeholder="Please enter sales price" onkeypress="return CommonComponent.priceValidate(this,event)" maxlength="18" required = "required" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" style="color:#000;">Stock Type<span class="required">* </span></label>
                                                    <div>
                                                        <div class="md-radio-inline custom-form-input">
                                                            <div class="md-radio">
                                                                <input type="radio" id="stocktype1" name="stock_type" value="1" class="md-radiobtn" ng-checked ="bindScopeForm.stock_type == 1">
                                                                <label for="stocktype1">
                                                                    <span class="inc"></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    Sales </label>
                                                            </div>
                                                            <div class="md-radio">
                                                                <input type="radio" id="stocktype2" name="stock_type" value="2" class="md-radiobtn" ng-checked ="bindScopeForm.stock_type == 2">
                                                                <label for="stocktype2">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    Job </label>
                                                            </div>
                                                            <div class="md-radio">
                                                                <input type="radio" id="stocktype3" name="stock_type" value="3" class="md-radiobtn" ng-checked ="bindScopeForm.stock_type == 3">
                                                                <label for="stocktype3">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    Both </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" style="color:#000;">Type<span class="required">* </span></label>
                                                    <div>
                                                        <div class="md-radio-inline custom-form-input">
                                                            <div class="md-radio">
                                                                <input type="radio" id="type1" name="type" value="1" class="md-radiobtn" ng-checked ="bindScopeForm.type == 1">
                                                                <label for="type1">
                                                                    <span class="inc"></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    New Product </label>
                                                            </div>
                                                            <div class="md-radio">
                                                                <input type="radio" id="type2" name="type" value="2" class="md-radiobtn" ng-checked ="bindScopeForm.type == 2">
                                                                <label for="type2">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    Scrape Product </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Warrenty</label>
                                                    <input type="text" onpaste="return false" class="form-control" maxlength="2" autocomplete="off" ng-pattern-err-type="validNumberMessage" placeholder="Please enter warrenty no" ng-pattern="/^(\d)+$/" name="warrenty" ng-model="bindScopeForm.warrenty" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Order No.</label>
                                                    <input type="text" onpaste="return false" class="form-control" maxlength="5" autocomplete="off" ng-pattern-err-type="patternNumberMessage" placeholder="Please enter order no" ng-pattern="/^(\d)+$/" name="order_no" ng-model="bindScopeForm.order_no" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Description</label>
                                                    <textarea name="description" rows="4" class="form-control" ng-model="bindScopeForm.description" placeholder="Please enter description...."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" ng-class="{'active': productTab == 2}" ng-show="productTab == 2">
                                    <div class="table-responsive" style="height: 400px;overflow: auto;">
                                        <input type="hidden" id="rowslength" value="1" />
                                        <table width="90%" id="tableGrid" class="table table-striped table-bordered table-hover">
                                            <tr>
                                                <th style="width: 40%;">Upload Image</th>
                                                <th style="width: 30%;">Select Image</th>
                                                <th style="width: 20%;">
                                                    <button type="button" class="btn btn-xs blue tooltips" data-container="body" data-placement="top" data-original-title="Add Row" ng-click="addRows()"><i class="fa fa-plus"></i></button>
                                                </th>
                                            </tr>
                                            <tr ng-repeat = "row in imageRow">
                                                <td>
                                                    <img ng-if="!row.image" class="fileinput-preview thumbnail" id="preview_{{$index+1}}" data-trigger="fileinput" style="width: 80px; height: 60px;" />
                                                    <img ng-if="row.image" ng-src="{{getImagePath+row.image}}" class="fileinput-preview thumbnail" id="preview_{{$index+1}}" data-trigger="fileinput" style="width: 80px; height: 60px;" />
                                                    <input type="hidden" name="product_image[]" id="upload_image_{{$index+1}}" value="{{row.image}}" />
                                                </td>
                                                <td>
                                                    <div class="form-group" id="input_file_1">
                                                        <span class="btn default btn-file">
                                                            <span class="fileinput-new">
                                                            Select image </span>
                                                            <input type="file" accept="image/*" id="{{$index+1}}" ng-model="row.photo" onchange="angular.element(this).scope().uploads(this)" />
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" ng-click="deleteRow($index);" class="btn default btn-xs red" data-container="body" data-placement="top" data-original-title="Delete Record"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-bind-html="btnGroup.btn1"></button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
