<div ng-controller='ExpensesController' ng-click="searchboxClicked($event,1);">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-show = "memberFirmId && companyYearId">
        <div class="col-md-12" ng-init = "add();">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="formSubmission" id="formSubmission" ng-submit ="save();" class="form-horizontal" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Voucher Number<span class="required">* </span></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="voucher_no" id="voucher_no" ng-model="bindScopeForm.voucher_no" maxlength="60" placeholder="Please enter voucher_no...." required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Date<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                <input type="text" class="form-control" id="voucher_date" name="voucher_date" ng-model="bindScopeForm.voucher_date"  maxlength="12" required />
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 custom-label" style="color:#000;">Expense Type<span class="required">* </span></label>
                                        <div class="col-md-8" style="margin-top:5px;">
                                            <div class="md-radio-inline custom-form-input">
                                                <div class="md-radio">
                                                    <input type="radio" id="type1" name="expense_type" value="1" class="md-radiobtn" ng-click = "expenseType(1)" checked>
                                                    <label for="type1">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Normal 
                                                    </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="type2" name="expense_type" value="2" ng-click = "expenseType(2)" class="md-radiobtn">
                                                    <label for="type2">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Vehicle 
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-if = "expType == 2">
                                        <label class="control-label col-md-3">Search Vehicle<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-class = "{'spinner':spinner}" ng-model="bindScopeForm.vehicle_name" ng-keyup="searchVehicleDetail(bindScopeForm.vehicle_name)" required />
                                            <ul id="search-result">
                                                <li ng-click = "getValue($index,$event)" ng-repeat = "vehicle in arrVehicleData">
                                                    <div class="search-head" style="font-weight: bold;">{{vehicle.unique_no}}</div>
                                                    <div class="search-common"><b>V No. :</b> {{vehicle.vehicle_number}}</div>
                                                    <div class="search-common"><b>Engine No. :</b> {{vehicle.engine_number}}</div>
                                                    <div class="search-common"><b>Chasis No. :</b> {{vehicle.chasis_number}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Description</label>
                                        <div class="col-md-8">
                                            <textarea name="description" rows="2" class="form-control" ng-model="bindScopeForm.description" placeholder="Please enter description ...."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <legend style="width: 22% !important;">Search Expense Head</legend>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" ng-class = "{'spinner':spinner}" ng-keyup ="searchExpenseHeadList(expenseFilter.expense_head);" ng-model ="expenseFilter.expense_head" autocomplete="off" placeholder="Search Expense Head ...."/>
                                                <ul id="search-result">
                                                    <li ng-click = "getExpenseHeadDetail($index,$event)" ng-repeat = "expenseHead in arrExpensesData">
                                                        <div class="search-head" style="font-weight: bold;">{{expenseHead.name}}</div>
                                                        <div class="search-common"><b>code:</b> {{expenseHead.code}}</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" ng-model="expenseFilter.price" onpaste = "return false" onkeypress="return CommonComponent.priceValidate(this,event);" autocomplete="off"  placeholder="Enter Price ..." maxlength="12" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <textarea rows="1" class="form-control" ng-model="expenseFilter.description" placeholder="Please enter description ...."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-sm blue-hoki" ng-disabled = "isSelectedExpense == false || !expenseFilter.price || expenseFilter.price <= 0" ng-click = "saveExpenseHeadDetail()">Add</button>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="table-responsive" style="max-height: 400px;overflow: auto;margin-top:10px;">
                                <table class="table-view table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr role="row" class="heading">
                                            <th style="width: 30%;" class="table-head">Expense Head</th>
                                            <th style="width: 30%;" class="table-head">Description</th>
                                            <th style="width: 20%;" class="table-head">Amount</th>
                                            <th style="width:20%;" class="table-head"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat ="rows in expenseRow">
                                            <td>{{rows.name}}</td>
                                            <td>{{rows.description}}</td>
                                            <td>{{rows.amount}}</td>
                                            <td>
                                                <button ng-if ="rows.is_delete" type="button" ng-click="deleteExpenseRecord(rows,$index);" class="btn default btn-xs red" data-container="body" data-placement="top" data-original-title="Delete Record"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <table class="table-view table table-striped table-bordered table-advance table-hover">
                                <tr>
                                    <th colspan="3" style="width:80%;text-align: right;padding-right: 10px;">Grand Total</th>
                                    <th style="width:20%;">{{expenseTotal}}</th>
                                </tr>
                            </table>
                            <div class="form-actions">
                                <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                    <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
                                    <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!companyYearId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID COMPANY YEAR ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#voucher_no').focus();
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>