<div>
    <!-- BEGIN PAGE HEADER-->
    <h3 style="text-align:center;">{{caption}}</h3>
    <div style="margin-top:10px;">
        <table style="width:100%;border:2px solid #000;border-collapse: collapse;">
            <tr>
                <td><report-header></report-header></td>
            </tr>
            <tr>
                <td>
                    <div style="background-color:#000;color:#fff;font-size:21px;font-family: calibri;text-align:center;">A Unit of Amarpadma Group</div>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%;border-collapse: collapse;"> 
                        <tr>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Invoice No.</td>
                            <td class="receipt-content" style="width: 30%;">{{arrReceiptData.invoice_no}}</td>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Date</td>
                            <td class="receipt-content" style="width: 30%;">{{arrReceiptData.invoice_date}}</td>
                        </tr>
                        <tr>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Customer Name</td>
                            <td colspan="3">{{arrReceiptData.customer.name}}</td>
                        </tr>
                        <tr>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Mobile No.</td>
                            <td class="receipt-content" style="width: 30%;">{{arrReceiptData.customer.mobile_no}}</td>
                            <td class="receipt-header" style="width:20%;text-align:right;padding-right: 20px;">Email ID</td>
                            <td class="receipt-content" style="width: 30%;">{{arrReceiptData.customer.email_id}}</td>
                        </tr>
                        <tr>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Address</td>
                            <td colspan="3">{{arrReceiptData.customer.address}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table style="width: 100%;border:2px solid#000;border-collapse: collapse;">
            <tr>
                <th class="product-header">Coupon</th>
                <th class="product-header">Price</th>
                <th class="product-header">Qty</th>
                <th class="product-header">Amount</th>
            </tr>
            <tr ng-repeat="product in arrReceiptData.product">
                <td class="product-content">{{product.name}}</td>
                <td class="product-content" style="text-align: right;">{{product.quantity}}</td>
                <td class="product-content" style="text-align: right;">{{product.price}}</td>
                <td class="product-content" style="text-align: right;">{{product.subtotal}}</td>
            </tr>
            <tr>
                <td colspan="2" style="width: 50%;vertical-align: top;" rowspan="4" class="product-content">In Words : <div>{{arrReceiptData.inwords}}</div></td>
                <td style="width: 35%;text-align: right;padding-right: 20px;" class="product-content">Total</td>
                <td style="width: 15%;text-align: right;" class="product-content">{{arrReceiptData.summary.subtotal}}</td>
            </tr>
            <tr>
                <td class="product-content" style="text-align: right;padding-right: 20px;">Discount</td>
                <td style="width: 15%;text-align: right;" class="product-content">{{arrReceiptData.summary.discount}}</td>
            </tr>
            <tr>
                <td class="product-content" style="text-align: right;padding-right: 20px;">Tax</td>
                <td style="width: 15%;text-align: right;" class="product-content">{{arrReceiptData.summary.tax}}</td>
            </tr>
            <tr>
                <td class="product-content" style="text-align: right;padding-right: 20px;">Grand Total</td>
                <td style="width: 15%;text-align: right;" class="product-content">{{arrReceiptData.summary.total}}</td>
            </tr>
            <tr>
                <td colspan="2" style="border:2px solid #000;height:60px;vertical-align: bottom;padding-left: 30px;">
                    <div style="font-weight: bold;font-family: calibri;font-size:18px;">NOTE:</div>
                    <div style="font-family: calibri;font-size:18px;">Subject to Jodhpur Juridiction</div>
                </td>
                <td colspan="2" style="vertical-align: bottom;font-size:18px;border:2px solid #000;height:60px;font-weight: bold;font-family: calibri;text-align: right;padding-right: 30px;">
                    Signature
                </td>
            </tr>
        </table>
    </div>
</div>