<div>
    <!-- BEGIN PAGE HEADER-->
    <h3 style="text-align:center;">{{caption}}</h3>
    <div style="margin-top:10px;">
        <table style="width:100%;border:2px solid #000;border-collapse: collapse;">
            <tr>
                <td><report-header></report-header></td>
            </tr>
            <tr>
                <td>
                    <div style="background-color:#000;color:#fff;font-size:21px;font-family: calibri;text-align:center;">A Unit of Amarpadma Group</div>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%;border-collapse: collapse;"> 
                        <tr>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Invoice No.</td>
                            <td class="receipt-content" style="width: 30%;">{{arrReceiptData.invoice_no}}</td>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Invoice Date</td>
                            <td class="receipt-content" style="width: 30%;">{{arrReceiptData.invoice_date}}</td>
                        </tr>
                        <tr>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Customer Name</td>
                            <td colspan="3">{{arrReceiptData.name}}</td>
                        </tr>
                        <tr>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Mobile No.</td>
                            <td class="receipt-content" style="width: 30%;">{{arrReceiptData.mobile_no}}</td>
                            <td class="receipt-header" style="width:20%;text-align:right;padding-right: 20px;">Email ID</td>
                            <td class="receipt-content" style="width: 30%;">{{arrReceiptData.email_id}}</td>
                        </tr>
                        <tr>
                            <td class="receipt-header" style="width:20%;text-align: right;padding-right: 20px;">Address</td>
                            <td colspan="3">{{arrReceiptData.address}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table style="width: 100%;border:2px solid#000;border-collapse: collapse;">
            <tr>
                <th style="width: 10%;" class="product-header">S.No.</th>
                <th style="width: 60%;" class="product-header">Particular</th>
                <th style="width:30%;" class="product-header">Amount</th>
            </tr>
            <tr>
                <td class="product-content">1.</td>
                <td class="product-content">{{arrReceiptData.expense.vehicle_number}} ({{arrReceiptData.expense.vehicle_name}})</td>
                <td class="product-content" style="text-align: right;padding-right: 30px;">{{arrReceiptData.amount}}</td>
            </tr>
            <tr>
                <td style="vertical-align: top;" colspan="2" class="product-content">
                    <div style="float: left;">In Words : {{arrReceiptData.inwords}}</div>
                    <div style="float: right;">Total</div>
                </td>
                <td class="product-content" style="text-align: right;padding-right: 30px;">{{arrReceiptData.amount}}</td>
            </tr>
            <tr>
                <td colspan="2" style="border:2px solid #000;height:60px;vertical-align: bottom;padding-left: 30px;">
                    <div style="font-weight: bold;font-family: calibri;font-size:18px;">NOTE:</div>
                    <div style="font-family: calibri;font-size:18px;">Subject to Jodhpur Juridiction</div>
                </td>
                <td style="vertical-align: bottom;font-size:18px;border:2px solid #000;height:80px;font-weight: bold;font-family: calibri;text-align: right;padding-right: 30px;">
                    Signature
                </td>
            </tr>
        </table>
    </div>
</div>
