<style>
    .form-group{
        margin-bottom:0px !important;
    }
    .panel-body {
        padding: 0px !important; 
    }
    .table-scrollable{
        margin: 0px !important;
    }
</style>
<div ng-controller = "StockReportController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Product Dynamic Report
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Product Dynamic Report</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row" ng-show ="memberFirmId">
        <div class="col-md-12" ng-init = "generateReportType(1);">
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt" style="font-size:22px;"></i> Product Dynamic Report
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="reportFormSubmission" id="reportFormSubmission" ng-submit="generateReport(1);" class="horizontal-form" novalidate>
                        <div class="form-body">
                            <accordion close-others="oneAtATime">
                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        Product Information <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <div class="table-scrollable">
                                        <table class="table-report table-view table table-striped table-bordered table-advance">
                                            <tr>
                                                <td class="report-class" colspan="2" style="text-align: center;font-size:16px !important;">Caption</td>
                                                <td class="report-class" colspan="7">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="report_caption" ng-model = "bindScopeForm.caption">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[0][field]" value="1" ng-checked ="true"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Category</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[0][order]" value="1" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[1][field]" value="1" ng-checked ="true"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Product Name</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[1][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="2" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[2][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Product Code</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[2][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="3" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[3][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">HSN Code</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[3][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="4" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <input type="checkbox" name="stock[4][field]" value="1"/>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Cost Price</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[4][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="5" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[5][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Sale Price</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[5][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="6" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[6][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Tax Group</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[6][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="7" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[7][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Unit</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[7][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="8" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td colspan="3" class="report-class"></td>
                                            </tr>
                                            
                                        </table>
                                    </div>
                                </accordion-group>
                                <accordion-group is-open="status.filter">
                                    <accordion-heading>
                                        Filter & Sorting <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.filter, 'fa-angle-right': !status.filter}"></i>
                                    </accordion-heading>
                                    <div class="table-scrollable">
                                        <table class="table-report table-view table table-striped table-bordered table-advance">
                                            <tr>
                                                <th class="report-class" colspan="9">Filter Group</th>
                                            </tr>
                                            <tr>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="branch_master_id" ng-model="bindScopeForm.branch_master_id" s2-options="val.id as val.name for val in arrBranchData" placeholder="Select Branch" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="category_master_id" ng-model="bindScopeForm.category_master_id" s2-options="val.id as val.name for val in arrCategoryData" options="{ allowClear: true }" placeholder="All Category"></select2>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="tax_group_master_id" ng-model="bindScopeForm.tax_group_master_id" s2-options="val.id as val.name for val in arrTaxGroupData" options="{ allowClear: true }" placeholder="All Tax Group"></select2>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="unit_master_id" ng-model="bindScopeForm.unit_master_id" s2-options="val.id as val.name for val in arrUnitData" options="{ allowClear: true }" placeholder="All Unit"></select2>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="6">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <th style="padding:3px !important;color:#2b3643 !important;" class="report-class" colspan="9">Sorting Group</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="sort_by" ng-model="bindScopeForm.sort_by" s2-options="val.id as val.name for val in arrSortByData" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="sort_type" ng-model="bindScopeForm.sort_type" s2-options="val.id as val.name for val in arrSortTypeData" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="3">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn green" id="record_save_btn">Submit</button>
                                <button type="reset" class="btn default" id="reset_btn">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
