<div class="row">
    <div class="col-md-12" ng-init ="calculateLength(arrProductDetail.length,3)">
        <div>
            <table id="exportTableData" class="table-view table table-striped table-bordered table-advance table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center;" class="table-head" colspan="{{captionSize}}">{{caption}}</th>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;" rowspan="3" class="table-head">S.No.</th>
                        <th style="white-space: nowrap;" ng-repeat = "header in arrHeaderData" colspan="1" rowspan="3" class="table-head">{{header.caption}}</th>
                        <th style="white-space: nowrap;text-align: center;" colspan="{{productSize}}" class="table-head">Product</th>
                        <th style="white-space: nowrap;" rowspan="3" class="table-head">Total</th>
                    </tr>
                    <tr>
                       <th style="text-align: center;" colspan="3" ng-repeat = "product in arrProductDetail" class="table-head">{{product.name}}</th> 
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;" class="table-head">Quantity</th>
                        <th style="white-space: nowrap;" class="table-head">Sale Price</th>
                        <th style="white-space: nowrap;" class="table-head">Purchase Price</th>
                        <th style="white-space: nowrap;" class="table-head">Quantity</th>
                        <th style="white-space: nowrap;" class="table-head">Sale Price</th>
                        <th style="white-space: nowrap;" class="table-head">Purchase Price</th>
                     </tr>
                </thead>
                <tbody>
                    <tr ng-repeat = "rows in arrReportData" ng-init ="productQty = 0;">
                        <td style="white-space: nowrap;" class="table-content">{{$index + 1}}</td>
                        <td style="white-space: nowrap;" class="table-content" ng-repeat = "header in arrHeaderData" ng-bind ="rows[header.fieldName]"></td>
                        <td ng-repeat-start = "product in arrProductDetail" ng-bind ="rows.detail[product.id].quantity"></td>
                        <td style="white-space: nowrap;" class="table-content" ng-bind ="rows.detail[product.id].sale_price">ff</td>
                        <td ng-repeat-end ng-bind ="rows.detail[product.id].purchase_price"></td>
                        <td style="white-space: nowrap;" class="table-content" ng-bind = "{{rows.total}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
