<div class="row">
    <div class="col-md-12">
        <div>
            <table id="exportTableData" class="table-view table table-striped table-bordered table-advance table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center;" class="table-head" colspan="{{length}}">{{caption}}</th>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;" rowspan="2" class="table-head">S.No.</th>
                        <th style="white-space: nowrap;" ng-repeat = "header in arrHeaderData" colspan="{{header.cols}}" rowspan="{{header.rows}}" class="table-head">{{header.caption}}</th>
                        <th style="white-space: nowrap;text-align: center;" colspan="{{arrProductDetail.length}}" class="table-head">Product</th>
                        <th style="white-space: nowrap;" rowspan="2" class="table-head">Total</th>
                    </tr>
                    <tr>
                       <th style="text-align: center;" ng-repeat = "product in arrProductDetail" class="table-head">{{product.name}}</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat = "rows in arrReportData" ng-init ="productQty = 0;">
                        <td style="white-space: nowrap;" class="table-content">{{$index + 1}}</td>
                        <td style="white-space: nowrap;" class="table-content" ng-repeat = "header in arrHeaderData" ng-bind ="rows[header.fieldName]"></td>
                        <td style="white-space: nowrap;" class="table-content" ng-repeat = "product in arrProductDetail" ng-bind ="rows.detail[product.id]"></td>
                        <td style="white-space: nowrap;" class="table-content" ng-bind = "{{rows.total_qty}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
