<style>
    .form-group{
        margin-bottom:0px !important;
    }
    .panel-body {
        padding: 0px !important; 
    }
    .table-scrollable{
        margin: 0px !important;
    }
</style>
<div ng-controller = "StockReportController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Sales Report
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Sales Report</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row" ng-show ="memberFirmId && companyYearId">
        <div class="col-md-12" ng-init = "generateReportType(4);">
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt" style="font-size:22px;"></i> Sales Report
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="reportFormSubmission" id="reportFormSubmission" ng-submit="generateReport(4);" class="horizontal-form" novalidate>
                        <div class="form-body">
                            <accordion close-others="oneAtATime">
                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        Sale Information <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <div class="table-scrollable">
                                        <table class="table-report table-view table table-striped table-bordered table-advance">
                                            <tr>
                                                <td class="report-class" colspan="2" style="text-align: center;font-size:16px !important;">Caption</td>
                                                <td class="report-class" colspan="7">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="report_caption" ng-model = "bindScopeForm.caption">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[0][field]" value="1" ng-checked ="true"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Invoice No</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[0][order]" value="1" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[1][field]" value="1" ng-checked ="true"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Invoice Date</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[1][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="2" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[2][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Tax</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[2][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="3" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[3][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Discount</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[3][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="4" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <input type="checkbox" name="stock[4][field]" value="1"/>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Payment Status</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[4][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="5" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[5][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Payment Mode</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[5][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="6" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </accordion-group>
                                <accordion-group>
                                    <accordion-heading>
                                        Customer Information <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.customer, 'fa-angle-right': !status.customer}"></i>
                                    </accordion-heading>
                                    <div class="table-scrollable">
                                        <table class="table-report table-view table table-striped table-bordered table-advance">
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[7][field]" value="1" ng-checked ="true"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Name</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[6][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="7" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[9][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Mobile No.</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[7][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="8" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[9][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Email ID</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[8][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="9" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" width="6%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="stock[9][field]" value="1"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" width="15%">Address</td>
                                                <td class="report-class" width="10%" style="text-align:center;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" style="width:50px;" name="stock[9][order]" ng-pattern-err-type="patternNumberMessage" ng-pattern="/^(\d)+$/" value="10" onkeypress="return CommonComponent.allowOnlyNumeric(event)"/>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="6"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </accordion-group>
                                <accordion-group is-open="status.filter">
                                    <accordion-heading>
                                        Filter & Sorting <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.filter, 'fa-angle-right': !status.filter}"></i>
                                    </accordion-heading>
                                    <div class="table-scrollable">
                                        <table class="table-report table-view table table-striped table-bordered table-advance">
                                            <tr>
                                                <th style="padding:3px !important;color:#2b3643 !important;" class="report-class" colspan="9">Filter Group</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="report-class">
                                                    <div class="form-group">
                                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                            <input type="text" autocomplete="off" class="form-control" id="from_date" placeholder="From Date" name="from_date" ng-model="bindScopeForm.from_date"  maxlength="12" required />
                                                            <span class="input-group-btn">
                                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td colspan="3" class="report-class">
                                                    <div class="form-group">
                                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                            <input type="text" class="form-control" autocomplete="off" id="end_date" placeholder="End Date" name="end_date" ng-model="bindScopeForm.end_date"  maxlength="12" required />
                                                            <span class="input-group-btn">
                                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="branch_master_id" ng-model="bindScopeForm.branch_master_id" s2-options="val.id as val.name for val in arrBranchData" placeholder="Select Branch" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="company_year_master_id" ng-model="bindScopeForm.company_year_master_id" s2-options="val.id as val.name for val in arrCompnayYearData" placeholder="Select Company Year" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="category_master_id" ng-model="bindScopeForm.category_master_id" s2-options="val.id as val.name for val in arrCategoryData" ng-change = "getProductList();" options="{ allowClear: true }" placeholder="All Category"></select2>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="product_master_id" ng-model="bindScopeForm.product_master_id" s2-options="val.id as val.name for val in arrProductData" options="{ allowClear: true }" placeholder="All Product"></select2>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="payment_type" ng-model="bindScopeForm.payment_type" s2-options="val.id as val.name for val in arrPaymentStatusData" options="{ allowClear: true }" placeholder="All Payment Status"></select2>
                                                    </div>
                                                </td>
                                                <td class="report-class" colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="payment_mode" ng-model="bindScopeForm.payment_mode" s2-options="val.id as val.name for val in arrPaymentModeData" options="{ allowClear: true }" placeholder="All Payment Mode"></select2>
                                                    </div>
                                                </td>
                                                <td colspan="3" class="report-class">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <th style="padding:3px !important;color:#2b3643 !important;" class="report-class" colspan="9">Sorting Group</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="sort_by" ng-model="bindScopeForm.sort_by" s2-options="val.id as val.name for val in arrSortByData" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td colspan="3">
                                                    <div class="form-group">
                                                        <select2 class="form-control" name="sort_type" ng-model="bindScopeForm.sort_type" s2-options="val.id as val.name for val in arrSortTypeData" ng-required="true"></select2>
                                                    </div>
                                                </td>
                                                <td colspan="3" class="report-class">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn green" id="record_save_btn">Submit</button>
                                <button type="reset" class="btn default" id="reset_btn">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" ng-show = "!memberFirmId">
            <div class="col-md-12">
                <div class="alert alert-block alert-danger fade in">
                    <button type="button" class="close" data-dismiss="alert"></button>
                    <h4 class="alert-heading">Error!</h4>
                    <p>
                        PLEASE SELECT VALID MEMBER ID
                    </p>
                    <p>
                        <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" ng-show = "!companyYearId">
            <div class="col-md-12">
                <div class="alert alert-block alert-danger fade in">
                    <button type="button" class="close" data-dismiss="alert"></button>
                    <h4 class="alert-heading">Error!</h4>
                    <p>
                        PLEASE SELECT VALID COMPANY YEAR ID
                    </p>
                    <p>
                        <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>
