<div class="row" ng-init ="calculateLength(arrProductDetail.length,2)">
    <div class="col-md-12">
        <div>
            <table id="exportTableData" class="table-view table table-striped table-bordered table-advance table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center;" class="table-head" colspan="{{captionSize}}">{{caption}}</th>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;" rowspan="3" class="table-head">S.No.</th>
                        <th style="white-space: nowrap;" rowspan="3" ng-repeat = "header in arrHeaderData" class="table-head">{{header.caption}}</th>
                        <th style="white-space: nowrap;text-align: center;" colspan="{{productSize}}" class="table-head">Product</th>
                        <th style="white-space: nowrap;" rowspan="3" class="table-head">Total</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;" colspan="2" ng-repeat = "product in arrProductDetail" class="table-head">{{product.name}}</th> 
                     </tr>
                     <tr>
                        <th style="white-space: nowrap;" class="table-head">Quantity</th>
                        <th style="white-space: nowrap;" class="table-head">Price</th>
                        <th style="white-space: nowrap;" class="table-head">Quantity</th>
                        <th style="white-space: nowrap;" class="table-head">Price</th>
                     </tr>
                </thead>
                <tbody>
                    <tr ng-repeat = "rows in arrReportData">
                        <td style="white-space: nowrap;" class="table-content">{{$index + 1}}</td>
                        <td style="white-space: nowrap;" class="table-content" ng-repeat = "header in arrHeaderData" ng-bind ="rows[header.fieldName]"></td>
                        <td ng-repeat-start = "product in arrProductDetail" ng-bind ="rows.detail[product.id].quantity"></td>
                        <td ng-repeat-end style="white-space: nowrap;" class="table-content" ng-bind ="rows.detail[product.id].price"></td>
                        <td style="white-space: nowrap;" class="table-content" ng-bind = "{{rows.total}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
