<div ng-controller='CouponController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-show ="memberFirmId">
        <div class="col-md-12" ng-init="add();">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <notification-alert></notification-alert>
                    <form name="formSubmission" id="formSubmission" ng-submit="save();" class="form-horizontal" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Name<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" autocomplete="off" name="name" id="name" ng-model="bindScopeForm.name" placeholder="Please enter name...." auto-focus="true" ng-maxlength="80" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Code</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" autocomplete="off" name="code" ng-model="bindScopeForm.code" placeholder="Please enter code..." ng-maxlength="40" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 custom-label" style="color:#000;">Service Type<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <div class="md-radio-inline custom-form-input">
                                                <div class="md-radio">
                                                    <input type="radio" id="type1" name="service_type" ng-click ="serviceType(1)" value="1" class="md-radiobtn" checked>
                                                    <label for="type1">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Free </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="type2" name="service_type" ng-click ="serviceType(2)" value="2" class="md-radiobtn">
                                                    <label for="type2">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Paid </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" ng-hide ="bindScopeForm.service_type == 1">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Amount<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" autocomplete="off" ng-disabled ="bindScopeForm.service_type == 1" ng-required ="bindScopeForm.service_type == 2" autocomplete="off" name="amount" ng-model="bindScopeForm.amount" placeholder="Please enter amount ..." onpaste = "return false" maxlength="10" onkeypress="return CommonComponent.priceValidate(this,event);" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Description</label>
                                        <div class="col-md-9">
                                            <textarea name="description" rows="2" class="form-control" placeholder="Please enter description..." ng-model="bindScopeForm.description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Order No.</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" maxlength="5" autocomplete="off" ng-pattern-err-type="patternNumberMessage" placeholder="Please enter order no" ng-pattern="/^(\d)+$/" name="order_no" ng-model="bindScopeForm.order_no" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="max-height: 250px;overflow: auto;margin-top:10px;">
                                <table class="table-view table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr role="row" class="heading">
                                            <th style="width: 30%;" class="table-head">Service Name</th>
                                            <th style="width: 25%;" class="table-head">Month</th>
                                            <th style="width: 25%;" class="table-head">K.M</th>
                                            <th style="width:20%;" class="table-head">
                                                <button type="button" class="btn btn-xs blue tooltips" data-container="body" data-placement="top" data-original-title="Add Row" ng-click="addRecords()"><i class="fa fa-plus"></i></button>
                                            </th>
                                        </tr>
                                        <tr ng-repeat = "rows in couponRows">
                                            <td>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" ng-model ="rows.name" ng-required ="true"/>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" ng-model ="rows.month" ng-required ="true"/>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" ng-model ="rows.km" ng-required ="true"/>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" ng-click="deleteRecords($index);" class="btn default btn-xs red" data-container="body" data-placement="top" data-original-title="Delete Record"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-click ="btnGroup.status = 1;" ng-bind-html="btnGroup.btn1"></button>
                                <button type="submit" class="btn {{btnGroup.btn2_color}}" ng-disabled ="btnGroup.is_disabled" id="save_new_btn" ng-click ="btnGroup.status = 2;" ng-bind-html="btnGroup.btn2"></button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
