<div ng-controller="CouponController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">View {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="view(id);">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-eye"></i>View {{caption}}
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table-view table table-striped table-bordered table-advance table-hover">
                            <thead>
                                <tr>
                                    <th class="table-head" style="width:30%;">Name</th>
                                    <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.name"></td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Code</th>
                                    <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.code"></td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Service Type</th>
                                    <td class="table-content" style="width:70%;" ng-bind="bindScopeForm.service_type == 1 ? 'Free' : 'Paid'"></td>
                                </tr>
                                <tr ng-if ="bindScopeForm.service_type == 2">
                                    <th class="table-head" style="width:30%;">Amount</th>
                                    <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.amount"></td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Description</th>
                                    <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.description"></td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Order No.</th>
                                    <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.order_no"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table class="table-view table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                                <tr role="row" class="heading">
                                                    <th style="width: 30%;" class="table-head">Service Name</th>
                                                    <th style="width: 25%;" class="table-head">Month</th>
                                                    <th style="width: 25%;" class="table-head">K.M</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat = "rows in couponRows">
                                                    <td>{{rows.name}}</td>
                                                    <td>{{rows.month}}</td>
                                                    <td>{{rows.km}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="form-actions" style="padding: 20px 10px;background-color: #f5f5f5;border-radius: 10px;">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-9">
                                        <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>