<div ng-controller="VehicleSaleController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        {{caption}} <small>list</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{{caption}} List</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row" id="datatable_ajax" ng-init = "init();">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <form-tool></form-tool>
                    </div>
                    <div class="actions">
                        <tools></tools>
                    </div>
                </div>
                <div class="row animate-show-hide" collapse = "searchCollapsed">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Search</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-class = "{'spinner':searchFilter.vehicle_code_spinner}" ng-click ="searchboxClicked($event)" ng-model = "searchFilter.unique_no" ng-keyup ="searchResult('unique_no','vehicle_code_spinner','arrFilterVehicleCodeData','vehicle_master_id',2)"  placeholder="Search Vehicle Code ..." />
                                            <ul id="search-result">
                                                <li ng-click = "setValue($index,$event,'unique_no','arrFilterVehicleCodeData','vehicle_master_id')" ng-repeat = "search in searchFilter.arrFilterVehicleCodeData">{{search.unique_no}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-class = "{'spinner':searchFilter.vehicle_no_spinner}" ng-click ="searchboxClicked($event)" ng-model = "searchFilter.vehicle_number" ng-keyup ="searchResult('vehicle_number','vehicle_no_spinner','arrFilterVehicleNoData','vehicle_number_id',2)"  placeholder="Search Vehicle No ..." />
                                            <ul id="search-result">
                                                <li ng-click = "setValue($index,$event,'vehicle_number','arrFilterVehicleNoData','vehicle_number_id')" ng-repeat = "search in searchFilter.arrFilterVehicleNoData">{{search.vehicle_number}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-class = "{'spinner':searchFilter.vehicle_model_spinner}" ng-click ="searchboxClicked($event)" ng-model = "searchFilter.vehicle_model" ng-keyup ="searchResult('vehicle_model','vehicle_model_spinner','arrFilterVehicleModelData','vehicle_model_master_id',1)"  placeholder="Search Vehicle Model ..." />
                                            <ul id="search-result">
                                                <li ng-click = "setValue($index,$event,'vehicle_model','arrFilterVehicleModelData','vehicle_model_master_id')" ng-repeat = "search in searchFilter.arrFilterVehicleModelData">{{search.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-class = "{'spinner':searchFilter.engine_spinner}" ng-click ="searchboxClicked($event)" ng-model = "searchFilter.engine_number" ng-keyup ="searchResult('engine_number','engine_spinner','arrFilterVehicleEngineData','vehicle_engine_id',2)"  placeholder="Search Engine No ..." />
                                            <ul id="search-result">
                                                <li ng-click = "setValue($index,$event,'engine_number','arrFilterVehicleEngineData','vehicle_engine_id')" ng-repeat = "search in searchFilter.arrFilterVehicleEngineData">{{search.engine_number}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-class = "{'spinner':searchFilter.chasis_spinner}" ng-click ="searchboxClicked($event)" ng-model = "searchFilter.chasis_number" ng-keyup ="searchResult('chasis_number','chasis_spinner','arrFilterVehicleChasisData','vehicle_chasis_id',2)"  placeholder="Search Chasis No ..." />
                                            <ul id="search-result">
                                                <li ng-click = "setValue($index,$event,'chasis_number','arrFilterVehicleChasisData','vehicle_chasis_id')" ng-repeat = "search in searchFilter.arrFilterVehicleChasisData">{{search.chasis_number}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm btn-success table-group-action-submit" ng-click = "search()"><i class="fa fa-search"></i> Submit</button>
                                            <button type="button" class="btn btn-sm default table-group-action-submit" ng-click="reset()"><i class="fa fa-search"></i> Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-container" ng-include="'components/templates/dashboard/datatable.html'"></div>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
