<div ng-controller='RoyaltyController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="add();">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <notification-alert></notification-alert>
                    <form name="formSubmission" id="formSubmission" ng-submit="save();" class="form-horizontal form-bordered form-row-stripped" novalidate>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Name<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" name="name" id="name" ng-model="bindScopeForm.name" placeholder="Please enter name...." ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" ng-maxlength="100" auto-focus="true" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Code</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" name="code" ng-model="bindScopeForm.code" placeholder="Please enter code..." ng-pattern-err-type="validNamePattern" ng-pattern="/^[a-zA-Z\\\/''\s]*$/" ng-maxlength="60" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 custom-label" style="color:#000;">Vehicle Sale Price Type<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <div class="md-radio-inline custom-form-input">
                                        <div class="md-radio">
                                            <input type="radio" id="type1" name="vehicle_price_type" value="1" class="md-radiobtn" checked>
                                            <label for="type1">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Percentage </label>
                                        </div>
                                        <div class="md-radio">
                                            <input type="radio" id="type2" name="vehicle_price_type" value="2" class="md-radiobtn">
                                            <label for="type2">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Fixed </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Vehicle Sale Price<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" name="vehicle_price" ng-model="bindScopeForm.vehicle_price" placeholder="Please enter value ..." onpaste = "return false" maxlength="10" onkeypress="return CommonComponent.priceValidate(this,event);" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 custom-label" style="color:#000;">Service Price Type<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <div class="md-radio-inline custom-form-input">
                                        <div class="md-radio">
                                            <input type="radio" id="type3" name="service_price_type" value="1" class="md-radiobtn" checked>
                                            <label for="type3">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Percentage </label>
                                        </div>
                                        <div class="md-radio">
                                            <input type="radio" id="type4" name="service_price_type" value="2" class="md-radiobtn">
                                            <label for="type4">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Fixed </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Service Price<span class="required">* </span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" autocomplete="off" name="service_price" ng-model="bindScopeForm.service_price" placeholder="Please enter value ..." onpaste = "return false" maxlength="10" onkeypress="return CommonComponent.priceValidate(this,event);" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Description</label>
                                <div class="col-md-9">
                                    <textarea name="description" rows="4" class="form-control" placeholder="Please enter description..." ng-model="bindScopeForm.description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Order No.</label>
                                <div class="col-md-9">
                                    <input type="text" autocomplete="off" ng-pattern-err-type="patternNumberMessage" class="form-control" maxlength="5" placeholder="Please enter order no" ng-pattern="/^(\d)+$/" name="order_no" ng-model="bindScopeForm.order_no" />
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-click ="btnGroup.status = 1;" ng-bind-html="btnGroup.btn1"></button>
                                <button type="submit" class="btn {{btnGroup.btn2_color}}" ng-disabled ="btnGroup.is_disabled" id="save_new_btn" ng-click ="btnGroup.status = 2;" ng-bind-html="btnGroup.btn2"></button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#name').focus();
</script>
