<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Dashboard
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">Dashboard</a>
        </li>
    </ul>
</div>
<div ng-controller="DashboardController">
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row" ng-init="init();">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red-intense">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{todayJob.open}}
                    </div>
                    <div class="desc">
                        Today Job Pending
                    </div>
                </div>
                <a class="more" href="#">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat yellow-crusta">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{todayJob.inprogress}}
                    </div>
                    <div class="desc">
                        Today Job In-progress
                    </div>
                </div>
                <a class="more" href="#">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-haze">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{todayJob.complete}}
                    </div>
                    <div class="desc">
                        Today Job Completed
                    </div>
                </div>
                <a class="more" href="#">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple-plum">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{todayJob.invoice}}
                    </div>
                    <div class="desc">
                        Job Invoice Print
                    </div>
                </div>
                <a class="more" href="#">
				View more <i class="m-icon-swapright m-icon-white"></i>
				</a>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
</div>