<style>
    .table-responsive {
    min-height: .01%;
    overflow-x: initial !important;
}
</style>
<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-8 col-sm-12">
        Show&nbsp;
        <select ng-model = "pagination.itemPerPage" class="form-control input-xsmall input-sm input-inline">
            <option ng-repeat = "page in pagination.entries" value="{{page.id}}">{{page.name}}</option>
        </select>
        &nbsp;entries
    </div>
</div>
<div class="table-responsive">
    <table id="dataTableGrid" class="table table-striped table-bordered table-hover">
        <thead>
            <tr role="row" class="heading">
                <th ng-repeat = "header in tableHeader" ng-style ="{'width':header.width,'text-align':header.align}" style="white-space: nowrap;">
                    <span ng-if ="header.type == 1">
                        <input type="checkbox" class="group-checkable" ng-model = "header.groupCheckbox">
                    </span>
                    <div ng-if ="header.type == 2 && header.sort == true" style="cursor: pointer;" ng-click="sort(header.sort_value)" ng-class="{'sorting': pagination.sortKey != header.sort_value}">
                        {{header.caption}}
                        <i style="float: right;" ng-show="pagination.sortKey == header.sort_value" ng-class="{'fa fa-sort-asc':pagination.reverse,'fa fa-sort-desc':!pagination.reverse}"></i>
                    </div>
                    <span ng-if ="header.type == 2 && header.sort == false">
                        {{header.caption}}
                    </span>
                    <div ng-if ="header.type > 2">
                        {{header.caption}}
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="pagination.records.length <= 0" class="odd"><td valign="top" colspan="{{tableHeader.length}}" class="dataTables_empty">No data available in table</td></tr>
            <tr ng-init = "$index = start;" dir-paginate="rows in pagination.records | itemsPerPage: pagination.itemPerPage" total-items="pagination.totalRecords" current-page="pagination.current">
                <td ng-repeat = "header in tableHeader" ng-switch="header.type" ng-style ="{'text-align':header.align}">
                    <div ng-switch-when = "1">
                        <input ng-if = "rows.is_exists == 0" type="checkbox" class="selectAllCheckData" name="id[]" value="{{rows.id}}" ng-checked = "header.groupCheckbox"/>
                        <span ng-if = "rows.is_exists > 0">--</span>
                    </div>
                    <span ng-switch-when = "2" ng-bind-html="rows[header.column]"></span>
                    <div ng-switch-when ="3" style="white-space: nowrap;display:inline-block;">
                        <div style="display:inline-block;" class="btn-group" ng-if ="header.btnType" ng-switch ="header.btnType" dropdown is-open="rows.isopen">
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" dropdown-toggle>
                              Other Action <span class="caret"></span>
                            </button>
                            <ul ng-switch-when ="6" class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click ="vehicleSaleForm(rows.id);">Add Sale Amount</a></li>
                                <li ng-if ="rows.generate_certificate == 0" class="divider"></li>
                                <li ng-if ="rows.generate_certificate == 0"><a href="#" ng-click ="generateCertificateForm(rows);">Generate Certificate</a></li>
                                <li ng-if ="rows.generate_certificate == 1" class="divider"></li>
                                <li ng-if ="rows.generate_certificate == 1"><a href="#" ng-click ="viewCertificate(rows);">View Certificate</a></li>
                                <li ng-if ="rows.generate_certificate == 1" class="divider"></li>
                                <li ng-if ="rows.generate_certificate == 1"><a href="#" ng-click ="deleteCertificate(rows.id);">Delete Certificate</a></li>
                            </ul>
                            <ul ng-switch-when ="31" class="dropdown-menu" role="menu">
                              <li ng-if ="rows.job_status <= 7"><a href="#" ng-click ="changeJobStatus(rows.id);">Change Status</a></li>
                            </ul>
                            <ul ng-switch-when ="32" class="dropdown-menu" class="menu">
                                <li ng-if ="rows.job_status <= 7"><a href="#" ng-click ="changeJobStatus(rows.id);">Change Status</a></li>
                                <li ng-if ="rows.job_status <= 7" class="divider"></li>
                                <li ng-if ="rows.job_status <= 7"><a href="#" ng-click ="redirectState('product_form',rows.id);">Add Parts/ Service</a></li>
                                <li class="divider"></li>
                                <li><a href="#" ng-click ="redirectState('spare_product_form',rows.id);">Add Spare Part</a></li>
                            </ul>
                            <ul ng-switch-when ="33" class="dropdown-menu" role="menu">
                                <li ng-if ="rows.job_status <= 7"><a href="#" ng-click ="changeJobStatus(rows.id);">Change Status</a></li>
                                <li ng-if ="rows.job_status == 8 && rows.generate_invoice == 0" class="divider"></li>
                                <li ng-if ="rows.job_status == 8 && rows.generate_invoice == 0"><a href="#" ng-click ="redirectState('generate_invoice',rows.id);">Generate Invoice</a></li>
                            </ul>
                            <ul ng-switch-when ="3" class="dropdown-menu" role="menu">
                                <li ng-if = "userRights.view && rows.payment_type != 0" class="divider"></li>
                                <li ng-if ="userRights.view && rows.payment_type != 0"><a href="#" ng-click ="printInvoice(rows.invoice_id,header.btnType);"><i class="fa fa-print" style="color:#000 !important;"></i> print invoice</a></li>
                            </ul>
                        </div>
                        <a ng-hide = "!userRights.edit || rows.is_exists > 0" href="javascript:;" ng-click ="redirectState('edit',rows.id)" class="btn btn-xs default blue tooltips" data-container="body" data-placement="top" data-original-title="Edit Record">
                            <i class="fa fa-edit"></i>&nbsp;Edit
                        </a>
                        <a ng-hide = "!userRights.view" href="javascript:void(0);" class="btn btn-xs default tooltips" data-container="body" data-placement="top" data-original-title="View Record" ng-click="redirectState('view',rows.id);">
                            <i class="fa fa-eye"></i>&nbsp;View
                        </a>
                    </div>
                    <div ng-switch-when = "4" style="white-space: nowrap;">
                        <button ng-if ="rows.current == 1" class="btn btn-xs green-meadow">Active</button>
                        <button ng-if ="rows.current == 0" class="btn btn-xs btn-warning" ng-click ="changeStatus(rows.id);">Inactive</button>
                    </div>
                    <div ng-switch-when = "5" style="white-space: nowrap;" ng-switch="rows.payment_type">
                        <div ng-switch-when = "0" class="btn btn-xs btn-warning">Unpaid</div>
                        <div ng-switch-when = "1" class="btn btn-xs yellow">Partial</div>
                        <div ng-switch-when = "2" class="btn btn-xs green">Paid</div>
                    </div>
                    <div style="white-space: nowrap;" ng-switch-when="6">
                        <div style="display:inline-block;" ng-if ="header.btnType" class="btn-group" dropdown is-open="rows.isopen">
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" dropdown-toggle>
                              Other Action <span class="caret"></span>
                            </button>
                            <ul ng-if ="header.btnType == 1 || header.btnType == 2 || header.btnType == 3 || header.btnType == 4" class="dropdown-menu" role="menu">
                                <li ng-if ="rows.payment_type != 2"><a href="#" ng-click ="paymentForm(rows.id);">Make Payment</a></li>
                                <li ng-if = "userRights.view" class="divider"></li>
                                <li ng-if ="userRights.view"><a href="#" ng-click ="printInvoice(rows.id,header.btnType);"><i class="fa fa-print" style="color:#000 !important;"></i> print invoice</a></li>
                                <li ng-hide = "!userRights.edit || rows.is_exists == 1" class="divider"></li>
                                <li ng-hide = "!userRights.edit || rows.is_exists == 1"><a href="#" ng-click ="lockReceipt(rows.id);">Lock Receipt</a></li>
                            </ul>
                            <ul ng-if ="header.btnType == 5" class="dropdown-menu" role="menu">
                                <li ng-if ="rows.status < 3"><a href="#" ng-click ="VehicleStatusForm(rows);">Change Status</a></li>
                                <li ng-if ="rows.payment_type != 2" class="divider"></li>
                                <li ng-if ="rows.payment_type != 2"><a href="#" ng-click ="paymentForm(rows.id);">Make Payment</a></li>
                                <li ng-if = "userRights.view" class="divider"></li>
                                <li ng-if ="userRights.view"><a href="#" ng-click ="printInvoice(rows.id,header.btnType);"><i class="fa fa-print" style="color:#000 !important;"></i> print invoice</a></li>
                                <li ng-hide = "!userRights.edit || rows.is_exists == 1" class="divider"></li>
                                <li ng-hide = "!userRights.edit || rows.is_exists == 1"><a href="#" ng-click ="lockReceipt(rows.id);">Lock Receipt</a></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show ="pagination.records.length > 0" class="row">
    <div style="margin:26px 0px;" class="col-md-6 col-sm-6 col-xs-12">
        Showing {{start}} to {{end}} of {{pagination.totalRecords}} entries 
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <dir-pagination-controls class="pagination" style="float: right;" direction-links="true" boundary-links = "true" on-page-change="initTable(newPageNumber)"></dir-pagination-controls>
    </div>
</div>
