<div>
    <!-- BEGIN HEADER -->
    <div ng-include="'components/templates/dashboard/header.html'" ng-controller="headerController" class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <side-bar></side-bar>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN ACTUAL CONTENT -->
                <div ui-view='sidebar_menu' class="fade-in-up"></div>
                <!-- END ACTUAL CONTENT -->
            </div>
        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div ng-include="'components/templates/dashboard/footer.html'" ng-controller="footerController" class="page-footer">
    </div>
    <!-- END FOOTER -->
</div>