<div class="portlet-body form" id="customerLoadingDiv">
    <form name="customerSubmission" id="customerSubmission" ng-submit="saveCustomer(customerSubmission);" class="form-horizontal form-bordered form-row-stripped" novalidate>
        <div class="modal-header" style="background-color: #3598dc;color:#fff;">
            <h4 class="modal-title">Add Customer</h4>
        </div>
        <div class="modal-body">
            <div class="form-body">
                <div class="form-group" id="titleDiv">
                    <label class="control-label col-md-3">Title<span class="required">* </span></label>
                    <div class="col-md-6">
                        <select2 class="form-control" name="title_master_id" ng-model="bindCustomerForm.title_master_id" s2-options="val.id as val.name for val in arrTitleData" options="{ allowClear: true }" ng-required="true" placeholder="Select Title"></select2>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                        <span class="input-group-btn">
                            <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getTitleList(1);" class="btn btn-default tooltips">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Name<span class="required">* </span></label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" autocomplete="off" name="first_name" ng-model="bindCustomerForm.first_name" maxlength="60" placeholder="Please enter first name ...." required />
                                </div>
                                
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="text" class="form-control" autocomplete="off" name="middle_name" ng-model="bindCustomerForm.middle_name" placeholder="Please enter middle name ...." maxlength="60" />
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="text" class="form-control" autocomplete="off" name="last_name" ng-model="bindCustomerForm.last_name" placeholder="Please enter last name ...." maxlength="60" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Mobile No<span class="required">* </span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" autocomplete="off" name="mobile_no" id="mobile_no" ng-model="bindCustomerForm.mobile_no" ng-pattern-err-type="validMobileMessage" ng-pattern="/^(\d)+$/" ng-minlength ="10" ng-maxlength ="10" onpaste = "return false" placeholder="Please mobile no" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Email ID</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" autocomplete="off" name="email_id" id="email_id" ng-model="bindCustomerForm.email_id" maxlength="120" placeholder="Please email ID" />
                    </div>
                </div>
                <div class="form-group" ng-if ="vehicleValidationType">
                    <label class="control-label col-md-3">Adhaar No.<span class="required">* </span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" autocomplete="off" name="adhaar_no" ng-pattern="/^(\d)+$/" ng-pattern-err-type="validAdhaarMessage" autocomplete="off" ng-minlength ="12" ng-maxlength ="12" onpaste = "return false" ng-model="bindScopeForm.adhaar_no" placeholder="Please enter adhaar no" required = "required" />
                    </div>
                </div>
                <div class="form-group" ng-if ="vehicleValidationType">
                    <label class="control-label col-md-3">Pan Card No.</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" autocomplete="off" name="pancard_no" ng-model="bindScopeForm.pancard_no" placeholder="Please enter pancard no" autocomplete="off" ng-minlength ="10" ng-maxlength="10" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Current Address<span class="required">* </span></label>
                    <div class="col-md-9">
                        <textarea name="c_address" rows="2" autocomplete="off" class="form-control" ng-model="bindCustomerForm.c_address" placeholder="Please enter current address ...." required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Permanent Address</label>
                    <div class="col-md-9">
                        <textarea name="p_address" rows="2" autocomplete="off" class="form-control" ng-model="bindCustomerForm.p_address" placeholder="Please enter permanent address ...."></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn green" ng-disabled ="saveBtn.is_disabled" id="record_save_btn" ng-bind-html="saveBtn.name"></button>
            <a href="javascript:;" class="btn red" ng-click="canelModal();" data-dismiss="modal">Close</a>
        </div>
    </form>
</div>
