<form name="jobStatusForm" id="jobStatusForm" ng-submit="saveStatus();" class="form-horizontal" novalidate>
    <div class="modal-header" style="background-color: #3598dc;color:#fff;">
        <h4 class="modal-title">Vehicle Job Status Form</h4>
    </div>
    <div class="modal-body">
        <div class="table-scrollable">
            <table class="table-view table table-striped table-bordered table-advance table-hover">
                <tr>
                    <th style="width:15%">Job ID</th>
                    <th style="width:35%;font-weight: bold;">
                        {{bindScopeForm.unique_no}}
                    </th>
                    <th style="width:15%">Vehicle Date</th>
                    <th style="width:35%;font-weight: bold;">
                        {{bindScopeForm.date}}
                    </th>
                </tr>
                <tr>
                    <th style="width:15%">Vehicle No.</th>
                    <th style="width:35%;font-weight: bold;">
                        {{bindScopeForm.vehicle_number}} ({{bindScopeForm.vehicle_code}})
                    </th>
                    <th style="width:15%;padding-top:20px !important;">Job Status <span class="required" style="color:red;">* </span></th>
                    <td style="width:35%">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select2 class="form-control" name="job_status" ng-model="bindScopeForm.job_status" s2-options="val.id as val.name for val in arrJobStatusData" ng-required="true" placeholder="Select Job Status"></select2>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if ="bindScopeForm.job_status == 2 || bindScopeForm.job_status == 3 || bindScopeForm.job_status == 6">
                    <th style="font-weight: bold;padding-top:20px !important;">
                        Department <span class="required" style="color:red;">* </span>
                    </th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select2 class="form-control" name="department_master_id" ng-model="bindScopeForm.department_master_id" ng-change = "getDesignationList(1);" s2-options="val.id as val.name for val in arrDepartmentData" options="{ allowClear: true }" ng-required="true" placeholder="Select Department" required></select2>
                            </div>
                        </div>
                    </td>
                    <th style="font-weight: bold;padding-top:20px !important;">
                        Designation <span class="required" style="color:red;">* </span>
                    </th>
                    <td>
                        <div class="col-md-12" id="designationDiv">
                            <div class="form-group">
                                <select2 class="form-control" name="designation_master_id" ng-model="bindScopeForm.designation_master_id" s2-options="val.id as val.name for val in arrDesignationData" options="{ allowClear: true }" ng-change = "getEmployeeData(1)" ng-required="true" placeholder="Select Designation" required></select2>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if ="bindScopeForm.job_status == 7">
                    <th style="font-weight: bold;padding-top:20px !important;">
                        Completion Date<span class="required" style="color:red;">* </span>
                    </th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control" autocomplete="off" id="completion_date" name="completion_date" ng-model="bindScopeForm.completion_date"  maxlength="12" required />
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <th style="padding-top:20px !important;">Completion Time<span class="required" style="color:red;">* </span></th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="fa fa-clock-o"></i>
                                    <input type="text" name="completion_time" autocomplete="off" ng-model = "bindScopeForm.completion_time" required class="form-control timepicker timepicker-default">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if ="bindScopeForm.job_status == 7">
                    <th style="font-weight: bold;padding-top:20px !important;">
                        Next Service K.M <span class="required" style="color:red;">* </span>
                    </th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" ng-pattern-err-type="validServiceMessage" autocomplete="off" class="form-control" ng-pattern="/^(\d)+$/" name="service_km" ng-model="bindScopeForm.next_service_km" placeholder="Please enter service km ...." maxlength="12" required />
                            </div>
                        </div>
                    </td>
                    <th style="padding-top:20px !important;">Next Service Date <span class="required" style="color:red;">* </span></th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control" name="next_service_date" autocomplete="off" ng-model="bindScopeForm.next_service_date" maxlength="12" />
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if ="bindScopeForm.job_status == 2 || bindScopeForm.job_status == 3 || bindScopeForm.job_status == 6">
                    <th style="font-weight: bold;padding-top:20px !important;">
                        Employee <span class="required" style="color:red;">* </span>
                    </th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select2 class="form-control" name="employee_master_id" ng-model="bindScopeForm.employee_master_id" s2-options="val.id as val.employee_name for val in arrEmployeeData" options="{ allowClear: true }" ng-required="true" placeholder="Select Employee"></select2>
                            </div>
                        </div>
                    </td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr ng-if="bindScopeForm.job_status == 5">
                    <th style="padding-top:20px !important;">Date <span class="required" style="color:red;">* </span></th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control" autocomplete="off" name="status_date" ng-model="bindScopeForm.status_date" maxlength="12" required />
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <th style="padding-top:20px !important;">Remark</th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea ng-model ="bindScopeForm.remark" class="form-control"></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if ="bindScopeForm.job_status == 8">
                    <th style="padding-top:20px !important;">Remark</th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea ng-model ="bindScopeForm.remark" class="form-control"></textarea>
                            </div>
                        </div>
                    </td>
                    <td colspan="2"></td>
                </tr>
            </table>
        </div>
        <div ng-if ="bindScopeForm.job_status == 7" class="table-scrollable" style="height: 300px;overflow:auto;">
            <table class="table-view table table-striped table-bordered table-advance table-hover">
                <tr>
                    <th class="table-head" style="width:10%">S.NO.</th>
                    <th class="table-head" style="width:30%;">Checklist</th>
                    <th class="table-head" style="width:60%">Select</th>
                </tr>
                <tr ng-repeat="jobChecklist in bindScopeForm.arrChecklistData">
                    <td style="width:10%">{{$index+1}}</td>
                    <td style="width:20%;font-weight: bold;">{{jobChecklist.name}}</td>
                    <td style="width:60%">
                        <div class="col-md-9 md-radio-inline">
                            <div class="form-group custom-form-input">
                                <div class="md-radio">
                                    <input type="radio" id="radio{{jobChecklist.id}}1" ng-model="jobChecklist.value" ng-value = "1" class="md-radiobtn" required>
                                    <label for="radio{{jobChecklist.id}}1">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Good </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="radio{{jobChecklist.id}}2" ng-model="jobChecklist.value" ng-value="2" class="md-radiobtn" required>
                                    <label for="radio{{jobChecklist.id}}2">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Average </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="radio{{jobChecklist.id}}3" ng-model="jobChecklist.value" ng-value="3" class="md-radiobtn" required>
                                    <label for="radio{{jobChecklist.id}}3">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Poor </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="update_btn" ng-disabled="jobStatusForm.$invalid" class="btn green">Update</button>
        <a href="javascript:;" class="btn red" ng-click="close();" data-dismiss="modal">Close</a>
    </div>
</form>
<link href="assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
<script src="assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
        $('body').on('focus',".timepicker-default", function(){
            $(this).timepicker({
                autoclose: true,
                showSeconds: true,
                minuteStep: 1
            });
        });
    });
</script>
