<div class="portlet-body form" id="vehicleFormProcess">
    <form name="vehicleForm" id="vehicleForm" ng-submit="saveVehicle(vehicleForm);" class="form-horizontal form-bordered form-row-stripped" novalidate>
        <div class="modal-header" style="background-color: #3598dc;color:#fff;">
            <h4 class="modal-title">Add Vehicle</h4>
        </div>
        <div class="modal-body">
            <div class="form-body" style="height: 480px;overflow: auto;">
                <div class="form-group" id="vehicleTypeDiv">
                    <label class="control-label col-md-3">Vehicle Type<span class="required">* </span></label>
                    <div class="col-md-6">
                        <select2 class="form-control" name="vehicle_type_master_id" ng-change="getManufacturerList(1);" ng-model="tmpVehicleForm.vehicle_type_master_id" s2-options="val.id as val.name for val in arrVehicleTypeData" placeholder="Select Vehicle Type" options="{allowClear:true}" ng-required="true"></select2>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12" style="border:0px !important;">
                        <span class="input-group-btn">
                            <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getVehicleTypeList(1)" class="btn btn-default tooltips">
                            <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                        </button>
                        </span>
                    </div>
                </div>
                <div class="form-group" id="manufacturerDiv">
                    <label class="control-label col-md-3">Manufacturer<span class="required">* </span></label>
                    <div class="col-md-6">
                        <select2 class="form-control" name="manufacturer_tran_id" ng-model="tmpVehicleForm.manufacturer_tran_id" ng-change="getVehicleModelList(1);" s2-options="val.mtranid as val.name for val in arrManufacturerData" options="{ allowClear: true }" ng-required="true" placeholder="Select Manufacturer"></select2>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12" style="border:0px !important;">
                        <span class="input-group-btn">
                            <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getManufacturerList(1,1)" class="btn btn-default tooltips">
                            <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                        </button>
                        </span>
                    </div>
                </div>
                <div class="form-group" id="modelDiv">
                    <label class="control-label col-md-3">Make<span class="required">* </span></label>
                    <div class="col-md-6">
                        <select2 class="form-control" name="vehicle_model_master_id" ng-model="tmpVehicleForm.vehicle_model_master_id" s2-options="val.id as val.name for val in arrVehicleModelData" options="{ allowClear: true }" placeholder="Select Model" ng-required="true"></select2>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12" style="border:0px !important;">
                        <span class="input-group-btn">
                            <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getVehicleModelList(1);" class="btn btn-default tooltips">
                            <span style="color:#000;" class="glyphicon glyphicon-refresh"></span>
                        </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Vehicle Number<span class="required">* </span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="vehicle_number" autocomplete="off" ng-model="tmpVehicleForm.vehicle_number" maxlength="60" placeholder="Please enter vehicle number...." required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Engine Number</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="engine_number" autocomplete="off" ng-model = "tmpVehicleForm.engine_number" placeholder="Please enter engine number ...." maxlength="60" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Chasis No.</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="chasis_number" autocomplete="off" ng-model = "tmpVehicleForm.chasis_number"  placeholder="Please enter chasis number ...." maxlength="60" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Model Year<span class="required">* </span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" minlength="4" autocomplete="off" name="manufacturer_year" ng-model = "tmpVehicleForm.manufacturer_year" onpaste = "return false" ng-pattern="/^(\d)+$/" required maxlength="4" onkeypress="return CommonComponent.allowOnlyNumeric(event);" placeholder="Please enter manufacturer year...." />
                    </div>
                </div>
                <div class="form-group" id="titleDiv">
                    <label class="control-label col-md-3">Title<span class="required">* </span></label>
                    <div class="col-md-6">
                        <select2 class="form-control" name="owner_title_master_id" ng-model="tmpVehicleForm.owner_title_master_id" s2-options="val.id as val.name for val in arrTitleData" options="{ allowClear: true }" ng-required="true" placeholder="Select Title"></select2>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                        <span class="input-group-btn">
                            <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getTitleList(1);" class="btn btn-default">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Name<span class="required">* </span></label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <input type="text" class="form-control" autocomplete="off" name="owner_first_name" ng-model = "tmpVehicleForm.first_name"  placeholder="Please enter first name ...." maxlength="60" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" autocomplete="off" name="owner_middle_name" ng-model = "tmpVehicleForm.middle_name" placeholder="Please enter middle name ...." maxlength="60" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" autocomplete="off" name="owner_last_name" ng-model = "tmpVehicleForm.last_name" placeholder="Please enter last name ...." maxlength="60" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Mobile No.<span class="required">* </span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-minlength="10" ng-maxlength="10" ng-pattern="/^(\d)+$/" ng-pattern-err-type="validMobileMessage" name="owner_mobile_no" ng-model = "tmpVehicleForm.mobile_no" placeholder="Please enter mobile number ...." maxlength="10" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Email ID</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" name="owner_email_id" maxlength="160" placeholder="Please enter email ID" ng-model = "tmpVehicleForm.email_id"  />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Address<span class="required">* </span></label>
                    <div class="col-md-9">
                        <textarea ng-model="tmpVehicleForm.address" name="owner_address" ng-model = "tmpVehicleForm.address"  class="form-control" placeholder="Please enter address" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" style="color:#000;">Fuel Type<span class="required">* </span></label>
                    <div class="col-md-9 md-radio-inline">
                        <div class="md-radio">
                            <input type="radio" id="radio6" name="fuel_type" value="1" class="md-radiobtn" checked="">
                            <label for="radio6">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Petrol </label>
                        </div>
                        <div class="md-radio">
                            <input type="radio" id="radio7" name="fuel_type" value="2" class="md-radiobtn">
                            <label for="radio7">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Diesel </label>
                        </div>
                        <div class="md-radio">
                            <input type="radio" id="radio8" name="fuel_type" value="3" class="md-radiobtn">
                            <label for="radio8">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                CNG </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" style="color:#000;">Vehicle Start Method<span class="required">* </span></label>
                    <div class="col-md-9 md-radio-inline custom-form-input">
                        <div class="md-radio">
                            <input type="radio" id="radio9" name="vehicle_start_method" value="1" class="md-radiobtn" checked>
                            <label for="radio9">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Self </label>
                        </div>
                        <div class="md-radio">
                            <input type="radio" id="radio10" name="vehicle_start_method" value="2" class="md-radiobtn">
                            <label for="radio10">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Kick </label>
                        </div>
                        <div class="md-radio">
                            <input type="radio" id="radio11" name="vehicle_start_method" value="3" class="md-radiobtn" ng-checked="tmpVehicleForm.vehicle_start_method == 3">
                            <label for="radio11">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Both </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="update_btn" class="btn green">Save</button>
            <a href="javascript:;" class="btn red" ng-click="cancelModal();" data-dismiss="modal">Close</a>
        </div>
    </form>
</div>
