<style>
    .form-group {
        margin-bottom: 0px !important;
    }
</style>
<form name="vehicleStatusForm" id="vehicleStatusForm" ng-submit="saveVehicleStatus();" class="form-horizontal form-bordered form-row-stripped" novalidate>
    <div class="modal-header" style="background-color: #3598dc;color:#fff;">
        <h4 class="modal-title">Vehicle Status Form</h4>
    </div>
    <div class="modal-body">
        <div class="table-scrollable">
            <table class="table-view table table-striped table-bordered table-advance table-hover">
                <tr>
                    <th style="width:15%">Invoice No</th>
                    <th style="width:35%;font-weight: bold;">
                        {{bindScopeForm.invoice_no}}
                    </th>
                    <th style="width:15%">Invoice Date</th>
                    <th style="width:35%;font-weight: bold;">
                        {{bindScopeForm.invoice_date}}
                    </th>
                </tr>
                <tr>
                    <th style="width:15%">Vehicle Code.</th>
                    <th style="width:35%;font-weight: bold;" ng-bind-html ="bindScopeForm.customer">
                    </th>
                    <th style="width:15%;padding-top:20px !important;">Status <span class="required" style="color:red;">* </span></th>
                    <td style="width:35%">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select2 class="form-control" name="vehicle_status" ng-model="bindScopeForm.current_vehicle_status" s2-options="val.id as val.name for val in arrVehicleStatusData" ng-required="true" placeholder="Select Vehicle Status"></select2>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if ="bindScopeForm.current_vehicle_status == 1">
                    <th style="font-weight: bold;padding-top:20px !important;">
                        Agent <span class="required" style="color:red;">* </span>
                    </th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select2 class="form-control" name="agent_master_id" ng-model="bindScopeForm.agent_master_id" s2-options="val.id as val.name for val in arrAgentData" options="{ allowClear: true }" ng-required="true" placeholder="Select Agent" required></select2>
                            </div>
                        </div>
                    </td>
                    <th style="padding-top:20px !important;">Agent Amount <span class="required" style="color:red;">* </span></th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" autocomplete="off" name="agent_amount" onpaste ="return false" maxlength="10" onkeypress="return CommonComponent.priceValidate(this,event);" required/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if="bindScopeForm.current_vehicle_status == 1">
                    <th style="padding-top:20px !important;">Estimated Delivery Date <span class="required" style="color:red;">* </span></th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control" autocomplete="off" name="estimated_delivery_date" ng-model="bindScopeForm.estimated_delivery_date" maxlength="12" required />
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <th style="padding-top:20px !important;">Remark</th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea ng-model ="bindScopeForm.remark" name="remark" autocomplete="off" class="form-control"></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if="bindScopeForm.current_vehicle_status == 4">
                    <th style="padding-top:20px !important;">Submission Date <span class="required" style="color:red;">* </span></th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control" autocomplete="off" name="submission_date" ng-model="bindScopeForm.submission_date" maxlength="12" required />
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <th style="padding-top:20px !important;">Remark</th>
                    <td>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea ng-model ="bindScopeForm.remark" name="remark" autocomplete="off" class="form-control"></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-if ="bindScopeForm.current_vehicle_status == 1 || bindScopeForm.current_vehicle_status == 4" class="table-scrollable" style="height:200px;overflow:auto;">
            <table class="table-view table table-striped table-bordered table-advance table-hover">
                <tr>
                    <th class="table-head" style="width:20%;text-align: center;">
                        <div class="form-group">
                            <input type="checkbox" ng-model ="bindScopeForm.checkall"/>
                        </div>
                    </th>
                    <th class="table-head" style="width:30%">Document</th>
                    <th ng-if ="bindScopeForm.current_vehicle_status == 4" class="table-head" style="width:20%">Expiry Date</th>
                    <th ng-if ="bindScopeForm.current_vehicle_status == 4" class="table-head" style="width:20%">Remark</th>
                </tr>
                <tr ng-repeat="document in arrDocumentData">
                    <td style="width:20%;text-align: center;">
                        <div class="form-group">
                            <input type="checkbox" name="document_master_id[]" ng-checked ="bindScopeForm.checkall" value="{{document.id}}"/>
                        </div>
                    </td>
                    <td style="width:30%;font-weight: bold;">{{document.name}}</td>
                    <td ng-if ="bindScopeForm.current_vehicle_status == 4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control" autocomplete="off" name="expiry_date[{{document.id}}]" ng-model="document.expiry_date" maxlength="12" />
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td ng-if ="bindScopeForm.current_vehicle_status == 4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea ng-model ="document.remark" name="document_remark[{{document.id}}]" autocomplete="off" class="form-control"></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="update_btn" ng-disabled="jobStatusForm.$invalid" class="btn green">Update</button>
        <a href="javascript:;" class="btn red" ng-click="cancelModal();" data-dismiss="modal">Close</a>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>