<div ng-controller='PurchaseOrderController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div ng-show ="memberFirmId && companyYearId" class="row" ng-init="add();">
        <div ng-switch ="purchaseWizard">
            <div ng-switch-when="1">
                <div ng-include src="'components/templates/purchase_order/search.html'"></div>
            </div>
            <div ng-switch-when="2">
                <div ng-include src="'components/templates/purchase_order/save_order.html'"></div>
            </div>
        </div>
    </div>
    <div ng-show = "!memberFirmId">
        <div class="alert alert-block alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert"></button>
            <h4 class="alert-heading">Error!</h4>
            <p>
                {{message.VALID_MEMBER}}
            </p>
            <p>
                <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
            </p>
        </div>
    </div>
    <div ng-show = "!companyYearId">
        <div class="alert alert-block alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert"></button>
            <h4 class="alert-heading">Error!</h4>
            <p>
                {{message.VALID_COMPANY}}
            </p>
            <p>
                <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Back</a>
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>