<div class="modal-header">
    <h4 class="modal-title">Product Detail</h4>
</div>
<div class="modal-body">
    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr role="row" class="heading">
                    <th>Name</th>
                    <th>Code</th>
                    <th>HSN Code</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat = "product in arrProductDetail">
                    <td>{{product.name}}</td>
                    <td>{{product.code}}</td>
                    <td>{{product.hsn_code}}</td>
                    <td>{{product.quantity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <a href="javascript:;" class="btn red" ng-click="modalInstance.close();" data-dismiss="modal">Close</a>
</div>