<div class="col-md-12">
    <div class="portlet box {{portletForm}}">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-database"></i> Save Purchase Invoice
            </div>
        </div>
        <div class="portlet-body form">
            <form name="purchaseInvoiceForm" id="purchaseInvoiceForm" ng-submit ="save();" class="form-horizontal" novalidate>
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Invoice No.</label>
                                <div class="col-md-9">
                                    <div style="padding-top:10px;font-weight:bold;">
                                        {{voucherRecords.invoice}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Invoice Date <span class="required">* </span></label>
                                <div class="col-md-9">
                                    <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                        <input type="text" class="form-control" id="date" readonly="" name="invoice_date" ng-model="bindScopeForm.invoice_date"  maxlength="12" required />
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-container" style="max-height: 400px;overflow: auto;margin-top:20px;">
                                <table class="table-view table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr role="row" class="heading">
                                            <th class="table-head">Product</th>
                                            <th class="table-head">Quantity</th>
                                            <th class="table-head">Purchase Price</th>
                                            <th class="table-head">Sale Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat = "product in voucherRecords.products">
                                            <td>
                                                <div style="font-weight: bold;">{{product.name}}</div>
                                                <div>Code : {{product.code}}</div>
                                                <div>HSN Code : {{product.hsn_code}}</div>
                                            </td>
                                            <td>{{product.quantity}}</td>
                                            <td>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control col-md-12" ng-model ="product.purchase_price" ng-keyup ="calculatePrice();" autocomplete="off" onpaste = "return false" onkeypress="return CommonComponent.priceValidate(this,event);" required/>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" ng-model ="product.sale_price" ng-keyup ="calculatePrice();" autocomplete="off" onpaste = "return false" onkeypress="return CommonComponent.priceValidate(this,event);" required/>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <table class="table-view table table-striped table-bordered table-advance table-hover">
                        <tr role="row" class="heading">
                            <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Total Qty : <b>{{summary.qty}}</b></th>
                            <th style="width:25%;text-align: right;padding-right: 10px;white-space: nowrap;">Total Purchase Price : <b>{{summary.purchase_price}}</b></th>
                        </tr>
                    </table>
                    <fieldset>
                        <legend>Payment Detail</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Paid<span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <input type="text" ng-keyup = "calculateAmt();" onpaste = "return false" autocomplete="off" onkeypress="return CommonComponent.priceValidate(this,event);" ng-disabled ="bindScopeForm.payment_status" ng-required="!bindScopeForm.payment_status" ng-model="bindScopeForm.amount" class="form-control" name="amount"/>
                                        <div ng-hide = "!showShortFees || bindScopeForm.payment_status" style="font-weight: bold;">Remaining Amount <b style="color:#f13e64">{{bindScopeForm.shortFees}}</b></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Payment Later</label>
                                    <div class="col-md-2" style="margin-top:5px;">
                                        <input type="checkbox" name="paylater" ng-model="bindScopeForm.payment_status" value="1"/>
                                    </div>
                                    <label class="control-label col-md-4"><b>Lock Invoice Receipt</b></label>
                                    <div class="col-md-2" style="margin-top:5px;">
                                        <input type="checkbox" name="is_lock_invoice" ng-model="bindScopeForm.is_lock_invoice" value="1"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-hide ="bindScopeForm.payment_status">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Payment Mode <span class="required">* </span></label>
                                    <div class="col-md-9">
                                        <select2 class="form-control" name = "payment_mode" ng-model="bindScopeForm.payment_mode"  s2-options="val.id as val.name for val in arrPaymentModeData" ng-required="!bindScopeForm.payment_status" ng-disabled ="bindScopeForm.payment_status" placeholder="Select Payment Mode"></select2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-hide ="bindScopeForm.payment_status || bindScopeForm.payment_mode <= 1">
                            <div class="col-md-6">
                                <div class="form-group" id="bankDiv">
                                    <label class="control-label col-md-3">Bank</label>
                                    <div class="col-md-7">
                                        <select2 ng-disabled = "bindScopeForm.payment_mode == 1" class="form-control" name="bank_master_id" ng-model="bindScopeForm.bank_master_id" s2-options="val.id as val.name for val in arrBankData" options="{ allowClear: true }" placeholder="Select Bank"></select2>
                                    </div>
                                    <div class="col-md-2" style="border:0px !important;">
                                        <span class="input-group-btn">
                                            <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getBankList(1);" class="btn btn-default">
                                                <span class="glyphicon glyphicon-refresh"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label ng-show ="bindScopeForm.payment_mode == 2" class="control-label col-md-3">Cheque Number</label>
                                    <label ng-show = "bindScopeForm.payment_mode >= 3" class="control-label col-md-3">Transaction Ref</label>
                                    <div class="col-md-9">
                                        <input type="text" autocomplete="off" ng-disabled ="bindScopeForm.payment_mode == 1" class="form-control" name="payment_reference_no" id="payment_reference_no" ng-model="bindScopeForm.payment_reference_no" maxlength="100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-hide ="bindScopeForm.payment_status">
                            <div class="col-md-6" ng-show = "bindScopeForm.payment_mode > 1">
                                <div class="form-group">
                                    <label ng-show ="bindScopeForm.payment_mode ==2" class="control-label col-md-3">Cheque Date</label>
                                    <label ng-show = "bindScopeForm.payment_mode >= 3" class="control-label col-md-3">Transaction Date</label>
                                    <div class="col-md-9">
                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="text" autocomplete="off" ng-disabled ="bindScopeForm.payment_mode == 1" class="form-control" name="payment_mode_date" ng-model="payment_mode_date" maxlength="12" />
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Remark</label>
                                    <div class="col-md-9">
                                        <textarea name="remark" rows="2" class="form-control" ng-model="remarks" placeholder="Please enter remark ...."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions" style="margin-top:20px;">
                        <div class="col-lg-offset-3 col-lg-9 col-left-add">
                            <button type="submit" class="btn green" id="record_save_btn">Submit</button>
                            <a href="#" ng-click = "wizardForm(1)" class="btn default">Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
