<div class="col-md-12">
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet box {{portletForm}}">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-database"></i> Search Purchase Order
            </div>
        </div>
        <div class="portlet-body form">
            <form name="formSubmission" id="formSubmission" ng-submit ="searchVoucher();" class="horizontal-form bordered-form" novalidate>
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model = "searchPurchaseOrder.voucher_no"  placeholder="Enter Voucher No" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control date date-picker" type="text" data-date-format="dd-mm-yyyy" ng-model = "searchPurchaseOrder.start_date"  placeholder="Enter Start Date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control date date-picker" type="text" data-date-format="dd-mm-yyyy" ng-model = "searchPurchaseOrder.end_date"  placeholder="Enter End Date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select2 class="form-control" ng-model="searchPurchaseOrder.supplier_master_id" s2-options="val.id as val.name for val in arrSupplierData" options="{ allowClear: true }" placeholder="Select Supplier" ng-required="true"></select2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-success table-group-action-submit"><i class="fa fa-search"></i> Search</button>
                                <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default table-group-action-submit">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div ng-hide = "hideTable == 0" class="portlet-body">
            <div class="table-container">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr role="row" class="heading">
                            <th style="white-space: nowrap;">
                                <input type="checkbox" ng-model ="purchase_check" ng-click ="checkAll(purchase_check);"/>
                            </th>
                            <th>Invoice No.</th>
                            <th>Invoice Date</th>
                            <th>Supplier Name</th>
                            <th>Quantity</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="records.length <= 0" class="odd"><td valign="top" colspan="6" class="dataTables_empty">No data available in table</td></tr>
                        <tr ng-repeat = "data in records">
                            <td>
                                <input type="checkbox" ng-model ="data.purchase_id"/>
                            </td>
                            <td>{{data.voucher_no}}</td>
                            <td>{{data.voucher_date}}</td>
                            <td>{{data.supplier}}</td>
                            <td>{{data.quantity}}</td>
                            <td>
                                <button class="btn btn-xs default" ng-click="viewProductDetail(data.id);"> <i class="fa fa-eye"></i> View Product</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="records.length > 0" style="text-align: center;">
                <button type="button" class="btn green" id="generate_invoice_btn" ng-click ="wizardForm(2);">Generate Invoice</button>
            </div>
        </div>
    </div>
</div>