<div ng-controller='RoleLinkController'>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Edit {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="edit(id);">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Edit {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified" style="margin-top:5px;">
                            <li ng-class="{ 'active': tab == 1 }">
                                <a href="javascript:void(0);" ng-disabled ="true">Menu Link Information </a>
                            </li>
                            <li ng-class="{ 'active': tab == 2 }">
                                <a href="javascript:void(0);" ng-disabled ="true">Router Information </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{ 'active': tab==1 }" ng-show="tab == 1">
                                <form name="formSubmission" id="formSubmission" ng-submit="nextTab(2);" class="form-horizontal form-bordered form-row-stripped" novalidate>
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Name<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="name" ng-model="bindScopeForm.name" maxlength="100" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">State<span class="required">* </span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="state" ng-model="bindScopeForm.state" maxlength="100" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Enable Link</label>
                                            <div class="col-md-9">
                                                <div class="md-checkbox-inline">
                                                    <div class="md-checkbox" ng-repeat="child in arrEnableLink">
                                                        <input type="checkbox" id="action_{{child.id}}" name="is_link" value="1" class="md-check" ng-model="child.selected">
                                                        <label for="action_{{child.id}}">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        {{child.name}} </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Module Name</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-disabled="!arrEnableLink[0].selected" class="form-control" name="module_name" ng-model="bindScopeForm.module_name" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Folder Name</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-disabled="!arrEnableLink[0].selected" class="form-control" name="folder_name" ng-model="bindScopeForm.folder_name" maxlength="30" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">View</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-disabled="!arrEnableLink[0].selected" class="form-control" name="view" ng-model="bindScopeForm.view" maxlength="80" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Controller</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-disabled="!arrEnableLink[0].selected" class="form-control" name="controller" ng-model="bindScopeForm.controller" maxlength="80" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Service</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-disabled="!arrEnableLink[0].selected" class="form-control" name="service" ng-model="bindScopeForm.service" maxlength="80" />
                                            </div>
                                        </div>
                                        <div class="form-group" id="parentRoleDiv">
                                            <label class="control-label col-md-3">Parent</label>
                                            <div class="col-md-6">
                                                <select2 class="form-control" name="parent_id" ng-model="bindScopeForm.parent_id" s2-options="val.id as val.name for val in parentRoleLink" options="{ allowClear: true }" placeholder="Select Parent"></select2>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6" style="border:0px !important;">
                                                <div class="input-group input-icon right">
                                                    <span class="input-group-btn">
                                                        <button style="border-radius: 5px;" data-container="body" data-placement="top" data-original-title="Reload Data" type="button" ng-click="getParentLink(1);" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-refresh"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Icon</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="icon" ng-model="bindScopeForm.icon" maxlength="30" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Base Files</label>
                                            <div class="col-md-9">
                                                <textarea style="font-weight: bold !important;" ng-disabled="!arrEnableLink[0].selected" name="base_files" rows="4" class="form-control" ng-model="bindScopeForm.base_files"></textarea>
                                            </div>
                                        </div>
                                        <!--<div class="form-group" ng-class="{ 'has-error' : formSubmission.action.$invalid && !formSubmission.action.$pristine }">
                                            <label class="control-label col-md-3">Action</label>
                                            <div class="col-md-9">
                                                <div class="md-checkbox-inline">
                                                    <div class="md-checkbox" ng-repeat="child in childAction">
                                                        <input type="checkbox" id="childaction_{{child.id}}" name="action[]" value="{{child.id}}" class="md-check" ng-checked="child.selected == true" >
                                                        <label for="childaction_{{child.id}}">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        {{child.name}} </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Action Files</label>
                                            <div class="col-md-9">
                                                <textarea style="font-weight: bold !important;" ng-disabled="!arrEnableLink[0].selected" name="action_files" rows="4" class="form-control" ng-model="bindScopeForm.action_files"></textarea>
                                            </div>
                                        </div>-->
                                        <div class="form-group" ng-class="{ 'has-error' : formSubmission.order_no.$invalid && !formSubmission.order_no.$pristine }">
                                            <label class="control-label col-md-3">Order No.</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtNumeric" class="form-control" maxlength="5" placeholder="Please enter order no" ng-pattern="/^(\d)+$/" name="order_no" onkeypress="return CommonComponent.allowOnlyNumeric(event)" ng-model="bindScopeForm.order_no" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                            <button type="submit" class="btn blue">Next</button>
                                            <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" ng-class="{ 'active': tab==2 }" ng-show="tab == 2">
                                <form name="routerForm" id="routerForm" ng-submit = "save()" novalidate>
                                    <div class="table-responsive" style="height: 400px;overflow: auto;">
                                        <table width="90%" id="tableGrid" class="table table-striped table-bordered table-hover">
                                            <tr>
                                                <th style="width: 30%;">Router Name</th>
                                                <th style="width:10%">Allow Params</th>
                                                <th style="width: 50%;">Files</th>
                                                <th style="width: 10%;">
                                                    <button type="button" class="btn btn-xs blue tooltips" data-container="body" data-placement="top" data-original-title="Add Row" ng-click="addRows()"><i class="fa fa-plus"></i></button>
                                                </th>
                                            </tr>
                                            <tr ng-repeat = "row in routerRows">
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="router[]" ng-model = "row.router"/>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="checkbox" name="param[{{$index}}]" style="width:16px;height:16px;" ng-checked ="row.param == 1" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-pristine" value="1" ng-model = "row.param"/>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <textarea name="files[]" style="font-weight: bold;" class="form-control" ng-model = "row.files"></textarea>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" ng-click="deleteRow($index);" class="btn default btn-xs red" data-container="body" data-placement="top" data-original-title="Delete Record"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="form-actions">
                                        <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                            <button type="button" ng-click="tab = 1" class="btn blue">Back</button>
                                            <button type="submit" class="btn {{btnGroup.btn1_color}}" ng-disabled ="btnGroup.is_disabled" id="record_save_btn" ng-click ="btnGroup.status = 1;" ng-bind-html="btnGroup.btn1"></button>
                                            <a href="#" ui-sref="{{baseStateTo}}" class="btn {{btnGroup.reset_color}}" ng-bind ="btnGroup.btn_reset"></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
