<div ng-controller="RoleLinkController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Set Order</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row" ng-init="order();">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet box {{portletForm}}">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-database"></i> Set Order
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form name="formSubmission" id="formSubmission" ng-submit="save_order(2);" class="form-horizontal form-bordered form-row-stripped" novalidate>
                            <div class="form-body">
                                <div id="roleLinkHtml"></div>
                            </div>
                            <div class="form-actions">
                                <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                    <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
</div>