<div ng-controller="RoleLinkController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">View {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="view(id);">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-eye"></i>View {{caption}}
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified" style="margin-top:10px;">
                            <li ng-class="{'active': tab == 1}">
                                <a href="javascript:;" ng-click="tab = 1" data-toggle="tab" aria-expanded="true">Menu Link Information </a>
                            </li>
                            <li ng-class="{'active': tab == 2}">
                                <a href="javascript:;" ng-click="tab = 2" data-toggle="tab" aria-expanded="false">Router Information </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{'active': tab == 1}" ng-show="tab == 1">
                                <div class="table-scrollable">
                                    <table class="table-view table table-striped table-bordered table-advance table-hover" id="datatable_ajax">
                                        <thead>
                                            <tr>
                                                <th class="table-head" style="width:30%;">Name</th>
                                                <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.name"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:30%;">State</th>
                                                <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.state"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:30%;">Is Enable Link</th>
                                                <td class="table-content" style="width:70%;" ng-bind-html="(bindScopeForm.is_link = 1)? 'Yes':'No'"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:30%;">Template URL</th>
                                                <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.module_name"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:30%;">View</th>
                                                <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.view"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:30%;">Controller</th>
                                                <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.controller"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:30%;">Service</th>
                                                <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.service"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:30%;">Parent</th>
                                                <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.parent"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:30%;">Base Files</th>
                                                <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.base_files"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:30%;">Icon</th>
                                                <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.icon"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-head" style="width:30%;">Order No.</th>
                                                <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.order_no"></td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" ng-class="{'active': tab == 2}" ng-show="tab == 2">
                                <div class="table-responsive" style="height: 400px;overflow: auto;">
                                    <table width="90%" id="tableGrid" class="table table-striped table-bordered table-hover">
                                        <tr>
                                            <th style="width: 30%;">Router Name</th>
                                            <th style="width:10%">Allow Params</th>
                                            <th style="width: 50%;">Files</th>
                                        </tr>
                                        <tr ng-repeat = "row in routerRows">
                                            <td style="font-weight: bold;">
                                                {{row.router}}
                                            </td>
                                            <td style="font-weight: bold;" ng-bind = "row.param == 1 ? 'Yes':'No'">
                                            </td>
                                            <td style="font-weight: bold;">
                                                {{row.files}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                    <div class="form-actions" style="padding: 20px 10px;background-color: #f5f5f5;border-radius: 10px;">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-9">
                                        <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>