<div ng-controller='VehicleRentController' ng-click="searchboxClicked($event,1);">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Add {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-show ="memberFirmId">
        <div class="col-md-12" ng-init = "add();">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i> Add {{caption}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="formSubmission" id="formSubmission" ng-submit="save();" class="form-horizontal" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Booking Date<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                <input type="text" class="form-control" id="booking_date" autocomplete="off" name="booking_date" ng-model="bindScopeForm.booking_date"  maxlength="12" required />
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Booking Time<span class="required">* </span></label>
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-clock-o"></i>
                                                <input type="text" name="booking_time" autocomplete="off" ng-model = "bindScopeForm.booking_time" required class="form-control timepicker timepicker-default">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Secuirty Amount<span class="required">* </span></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" autocomplete="off" name="security_amount" ng-model="bindScopeForm.security_amount" placeholder="Please enter security amount ..." onpaste = "return false" maxlength="10" onkeypress="return CommonComponent.priceValidate(this,event);" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Est. Rent Amount<span class="required">* </span></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" autocomplete="off" name="estimate_rent_amount" ng-model="bindScopeForm.estimate_rent_amount" placeholder="Please enter estimate rent amount ..." onpaste = "return false" maxlength="10" onkeypress="return CommonComponent.priceValidate(this,event);" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Est. Return Date<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                <input type="text" class="form-control" id="estimated_return_date" autocomplete="off" name="estimated_return_date" ng-model="bindScopeForm.estimated_return_date"  maxlength="12" required />
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Est. Return Time<span class="required">* </span></label>
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-clock-o"></i>
                                                <input type="text" name="estimated_return_time" autocomplete="off" ng-model = "bindScopeForm.estimated_return_time" required class="form-control timepicker timepicker-default">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Search Vehicle<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-class = "{'spinner':spinner}" ng-model="bindScopeForm.vehicle_name" ng-keyup="searchVehicleDetail(bindScopeForm.vehicle_name)" required />
                                            <ul id="search-result">
                                                <li ng-click = "getValue($index,$event)" ng-repeat = "vehicle in arrVehicleData">
                                                    <div class="search-head" style="font-weight: bold;">{{vehicle.unique_no}}</div>
                                                    <div class="search-common"><b>V No. :</b> {{vehicle.vehicle_number}}</div>
                                                    <div class="search-common"><b>Engine No. :</b> {{vehicle.engine_number}}</div>
                                                    <div class="search-common"><b>Chasis No. :</b> {{vehicle.chasis_number}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Search Customer<span class="required">* </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-class = "{'spinner':customer_spinner}" ng-model="bindScopeForm.customer_name" ng-keyup ="searchCustomerDetail(bindScopeForm.customer_name)" required/>
                                            <ul id="search-result">
                                                <li ng-click = "getCustomerData($index,$event)" ng-repeat = "customer in arrCustomerData">
                                                    <div class="search-head" style="font-weight: bold;">{{customer.name}}</div>
                                                    <div class="search-common"><b>Mobile :</b> {{customer.mobile_no}}</div>
                                                    <div class="search-common"><b>Email ID :</b> {{customer.email_id}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button style="border-radius: 5px;margin-left:10px;" type="button" class="btn blue" data-container="body" data-placement="top" data-original-title="Add Customer Detail" ng-click="customerForm();"><i class="fa fa-plus"></i>Add </button>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="col-lg-offset-3 col-lg-9 col-left-add">
                                    <button type="submit" class="btn green" ng-disabled ="submitBtn.is_disabled" id="record_save_btn" ng-bind-html="submitBtn.name"></button>
                                    <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show = "!memberFirmId">
        <div class="col-md-12">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">Error!</h4>
                <p>
                    PLEASE SELECT VALID MEMBER ID
                </p>
                <p>
                    <a href="#" ui-sref="{{baseStateTo}}" class="btn btn-sm default">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
        $('body').on('focus',".timepicker-default", function(){
            $(this).timepicker({
                autoclose: true,
                showSeconds: true,
                minuteStep: 1
            });
        });
    });
</script>