<div ng-controller="VehicleRentController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        {{caption}} <small>list</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{{caption}} List</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row" id="datatable_ajax" ng-init = "init();">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <form-tool></form-tool>
                    </div>
                    <div class="actions">
                        <tools></tools>
                    </div>
                </div>
                <div class="row animate-show-hide" collapse = "searchCollapsed">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Search</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control date date-picker" type="text" data-date-format="dd-mm-yyyy" type="text" ng-model = "searchFilter.booking_date"  placeholder="Enter Booking Date" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-class = "{'spinner':searchFilter.vehicle_no_spinner}" ng-click ="searchboxClicked($event)" ng-model = "searchFilter.vehicle_number" ng-keyup ="searchResult('vehicle_number','vehicle_no_spinner','arrFilterVehicleNoData','vehicle_master_id',2)"  placeholder="Search Vehicle No ..." />
                                            <ul id="search-result">
                                                <li ng-click = "setValue($index,$event,'vehicle_number','arrFilterVehicleNoData','vehicle_master_id')" ng-repeat = "search in searchFilter.arrFilterVehicleNoData">{{search.vehicle_number}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-model = "searchFilter.first_name"  placeholder="Search Customer Name ..." />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select2 class="form-control" ng-model="searchFilter.status" s2-options="val.id as val.name for val in arrStatusData" options="{ allowClear: true }" placeholder="All Status"></select2>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm btn-success table-group-action-submit" ng-click = "search()"><i class="fa fa-search"></i> Submit</button>
                                            <button type="button" class="btn btn-sm default table-group-action-submit" ng-click="reset()"><i class="fa fa-search"></i> Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-container" ng-include="'components/templates/dashboard/datatable.html'"></div>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true
            });
        });
    });
</script>
