<div ng-controller="VehicleRentController">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">{{caption}}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#" ui-sref="{{baseStateTo}}">{{caption}} List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">View {{caption}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row" ng-init="view(id);">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box {{portletForm}}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-eye"></i>View {{caption}}
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table-view table table-striped table-bordered table-advance table-hover" id="datatable_ajax">
                            <thead>
                                <tr>
                                    <th class="table-head" style="width:30%;">Booking Date & Time</th>
                                    <td class="table-content" style="width:70%;">{{bindScopeForm.booking_date}} {{bindScopeForm.booking_time}}</td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Vehicle</th>
                                    <td class="table-content" style="width:70%;">{{bindScopeForm.vehicle_code}} ({{bindScopeForm.vehicle_number}})</td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Secuirty Amount</th>
                                    <td class="table-content" style="width:70%;">{{bindScopeForm.security_amount}}</td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Estimate Rent Amount</th>
                                    <td class="table-content" style="width:70%;" ng-bind-html="bindScopeForm.estimate_rent_amount"></td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Estimate Return Date & Time</th>
                                    <td class="table-content" style="width:70%;">{{bindScopeForm.estimated_return_date}} {{bindScopeForm.estimated_return_time}}</td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Customer Name</th>
                                    <td class="table-content" style="width:70%;">{{bindScopeForm.customer}}</td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Customer Mobile No.</th>
                                    <td class="table-content" style="width:70%;">{{bindScopeForm.mobile_no}}</td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Customer Email ID</th>
                                    <td class="table-content" style="width:70%;">{{bindScopeForm.email_id}}</td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Current Address</th>
                                    <td class="table-content" style="width:70%;">{{bindScopeForm.add1}}</td>
                                </tr>
                                <tr>
                                    <th class="table-head" style="width:30%;">Permanent Address</th>
                                    <td class="table-content" style="width:70%;">{{bindScopeForm.add2}}</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="form-actions" style="padding: 20px 10px;background-color: #f5f5f5;border-radius: 10px;">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-9">
                                        <a href="#" ui-sref="{{baseStateTo}}" class="btn default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>